[2016-12-01 04:15] Judahmeek commented on #217
@borysn @ks89 @andrey-pavlov Any words of advice for this gentleman?

[2016-12-01 04:21] Judahmeek commented on #53
@justin808 this issue can be closed.

[2016-12-01 04:21] Judahmeek commented on #52
@justin808 this issue can be closed.

[2016-12-01 04:37] Judahmeek commented on #197
By "Fails", do you mean that SASS can't see the `$brand-primary` variable or do you mean that it is overwritten? Are there any other variables that you have this issue with? Have you run a `findstr` search to identify any other files that might be overwriting those variables?

[2016-12-01 05:50] #52 closed

[2016-12-01 05:51] #53 closed

[2016-12-01 05:52] justin808 commented on #219
@Judahmeek I had already deprecated `@2.0.0-exports.1`.

[2016-12-01 05:52] #219 closed

[2016-12-01 16:09] blowsie commented on #197
Fails as in `$brand-primary: #f00f00;` should make my `btn-primary` buttons red, but they are still the default colors

[2016-12-02 05:12] Judahmeek commented on #197
Can you reproduce your issue with our basic example?

I just successfully tested defining `$brand-primary: #f00f00;` [here](https://ide.c9.io/judahmeek/bootstrap-loader) (I uncommented and overwrote `.bootstraprc-4-default` pre-customization link).

[2016-12-02 08:50] blowsie commented on #197
I am unable to run your sample, maybe because it is read only?

![bootstrap](https://cloud.githubusercontent.com/assets/308572/20827854/4a71bcde-b86c-11e6-8bd0-9679f139e9d2.gif)

Also your sample uses a webpack entry approach, and not require / import, perhaps this is the issue?

[2016-12-02 16:20] Ks89 commented on #217
Sorry for the delay.
I really don't know. I never used angular-cli, but I'll try it soon or later.

[2016-12-03 07:48] Judahmeek commented on #197
Apologies for the Cloud 9 link. I didn't realize read-only didn't allow terminal access.

This should serve better: https://github.com/Judahmeek/bootstrap-loader/tree/brand-primary.

Using the require approach, I broke font-awesome somehow, but the `$brand-primary` preset still succeeds on Cloud 9.

[2016-12-04 02:39] bertho-zero opened #221 "Module build failed: ReferenceError: document is not defined"
How to use it with server side rendering ?

[2016-12-04 03:18] #221 closed

[2016-12-05 21:53] mikaelguillin commented on #200
The idea is handling options like `options.publicPath` of the [extract-text-webpack-plugin](https://github.com/webpack/extract-text-webpack-plugin) directly from the .bootstraprc.

This may be useful for overriding the public path of css backgrounds.

[2016-12-06 06:10] justin808 commented on #218
Thanks @folmert, @San4oPanso, @4k! Closing this one.

**Solution is to upgrade!**

[2016-12-06 06:10] #218 closed

[2016-12-10 14:54] Aragorn1992 opened #223 "Selection Day Problem (day-1)"
When I select a day, the result is that day-1! Example:
If I select "1992-10-10",  the result is "1992-10-09". How I can issue this problem? If I select "1992-10-10" I want that the result is "1992-10-10"

[2016-12-10 15:11] #223 closed

[2016-12-10 19:47] justin808 commented on #191
@Abhijith-Nagaraja @Judahmeek @Kamshak @krasnyuk @sasidhar,

Is there any chance that one of you can put together a doc PR to summarize this?

[2016-12-10 19:49] justin808 commented on #185
@ohenrik Did you try upgrading?

[2016-12-10 19:50] justin808 commented on #86
@Judahmeek @programbo @JulioC Is this still necessary? or useful?

[2016-12-10 19:51] #95 closed

[2016-12-10 19:51] #125 closed

[2016-12-10 19:54] justin808 commented on #161
@jsdevel You are supposed to load the bootstrap styles first so that you can override them in your styles. Let me know if you need further help. http://www.shakacode.com/work.

[2016-12-10 19:56] #103 closed

[2016-12-10 19:58] JulioC commented on #86
For me it's not necessary, we ended up developing the application without source maps for Bootstrap.

For the loader itself, I believe it would be a good addition if it doesn't take long do.

[2016-12-10 19:59] Abhijith-Nagaraja commented on #191
@justin808 : I don't think doc PR is necessary here. Since it is not a bootstrap-loader issue.
If the PR should be submitted, then it should be in webpack or saas-loader

[2016-12-10 20:01] Abhijith-Nagaraja commented on #185
This issue is related to issue 191.
https://github.com/shakacode/bootstrap-loader/issues/191

[2016-12-10 20:01] #191 closed

[2016-12-11 21:17] Daidalos117 opened #224 "Webpack is slow after bootstrap-loader"
Hello,
sorry if this is lame question, I am newbie to webpack. But before adding bootstrap loader it took about 2.5s to compile my code (I've had boostrap sass imported in my scss, and used sass loader). When I started using bootstrap-loader (mainly because problems with manually importing boostrap js), compiling now is taking about 20-30s which is almost unusable for development.
When I have debu

[2016-12-11 21:20] #224 closed

[2016-12-11 21:22] Daidalos117 commented on #189
Have same problem!
After using boostrap-loader, compiling is taking about 30s, before it took only 2-3s and I had scss imported with everything from bootstrap. Now I compile about half of scss bootstrap files but it takes much loonger :( for details se #224 . Can somebody please help ?
This is almost unusable for normal development.
Thanks

[2016-12-12 03:34] Judahmeek commented on #189
@Daidalos117 I ran your repo here: https://ide.c9.io/judahmeek/myrepo and webpack consistently took between 6-8 seconds with Node 7.2 and Ubuntu 14.04.

@justin808 Bootstrap-loader does break use of [webpack's analyze tool](https://webpack.github.io/docs/build-performance.html#hints-from-build-stats) because its output doesn't conform to proper JSON when output through `webpack --profile --json >

[2016-12-12 19:03] Daidalos117 commented on #189
I solved it. Seems that problem was old node version (3.3). Now it takes about 7s, so it's really better. Any tips how to better optimize it? Before boostrap-loader it took only 3s which was much nicer :)
Thanks!

[2016-12-13 15:48] Rajiv-Kulkarni opened #225 "A whole bunch of error after npm install"
Could somebody help with these? I am running this behind a proxy but it should be resolved already. Thanks.

Microsoft Windows [Version 6.1.7601]
Copyright (c) 2009 Microsoft Corporation.  All rights reserved.

C:\ReactJS\bootstrap-loader-master\bootstrap-loader-master>npm install
npm WARN deprecated babel@6.5.2: Babel's CLI commands have been moved from the babel package to the babel-cli package

[2016-12-13 20:02] Syntaf opened #226 "Using entry point does not load bootstrap into angular2 webapp"
Can't figure out where i'm going wrong with the bootstrap-loader. inside my webpack config I have an entry point for vendor.ts so that bootstrap loads with vendor:

[code]

and the jquery loading module later on down in the webpack. The problem is that when weback compiles and I go to my localhost, the bootstrap isn't loaded and the styles are all missing. Am I doing the entry point wrong? I also

[2016-12-19 13:37] menuka-sba opened #228 "Bootstrap loader is not able to find installed bootstrap 4 module"
I want to add bootstrap 4 to our webpack configuration instead of bootstrap 3. However I'm having trouble trying to get bootstrap-loader to find bootstrap 4. Do I have an incorrect version of one of the node modules? Previous related issues have shown problems with bootstrap 4.0.0-alpha.3.

Error message:
[code]

Package.json dependencies:
[code]

[2016-12-21 12:04] alex88 commented on #207
Can this be reopened? I've still the same issue

[2016-12-21 18:41] cam-vanorman opened #229 "build fails using bootstrap-3 resulting in "undefined:0 TypeError: undefined is not a function""
I'm unable to figure out what's wrong with my build configuration. Here's the debug output of my bootstrap-3 build with DEBUG mode:

[code]

Here's my `.bootstraprc` config file

[code]

Finally, here's my package.json:

[code]

If anyone can provide any assistance/debugging information for me, I'm new to both webkit and this loader.

[2016-12-21 18:59] justin808 commented on #229
@cam-vanorman double check that you installed **ALL** required npm dependencies. Be sure to use the right version for the version of webpack that you're using. If you need more help, get in touch with me directly: justin@shakacode.com.

[2016-12-21 18:59] #229 closed

[2016-12-21 19:00] justin808 commented on #228
Your config file is looking for bootstrap 3, which is the default config if you did not create one. Get in touch with me directly at justin@shakacode.com if you need more help.

[2016-12-21 19:00] #228 closed

[2016-12-21 19:02] justin808 commented on #226
You might want jquery to load first.

Try to create a small test repo to duplicate your issue. You can ping me here @justin808, and I'll re-open if there's a real issue. You can also get in touch with me at justin@shakacode.com for help.

[2016-12-21 19:02] #226 closed

[2016-12-21 19:03] justin808 commented on #225
Try to create a small test repo to duplicate your issue. You can ping me here @justin808, and I'll re-open if there's a real issue. You can also get in touch with me at justin@shakacode.com for help.

[2016-12-21 19:03] #225 closed

[2016-12-26 09:03] MagnumDopus commented on #143
Running bootstrap-loader@1.3.3

I am still getting this error:

`var path = require('path');
var webpack = require('webpack');

var config = {
    devtool: 'cheap-module-eval-source-map',
    entry: [
        'bootstrap-loader',
        './App.js',
    ],
    output: {
        path: path.join(__dirname, 'public'),
        filename: 'bundle.js',
        publicPath: '/public/'
    },
    plugins: [

[2016-12-26 09:06] MagnumDopus opened #230 "Unexpected character '�' (1:0)"
ERROR in ./~/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.eot
Module parse failed: /Users/kevinhunt/Sites/DE2/node_modules/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.eot Unexpected character '�' (1:0)
You may need an appropriate loader to handle this file type.
SyntaxError: Unexpected character '�' (1:0)

Running 1.3.3

Here is my loader

[code]

[2016-12-27 04:34] #189 closed

[2016-12-30 22:09] gholol commented on #41
Got this error just now when I used npm update

It was working fine until this
God this is annoying

[2016-12-30 22:35] gholol opened #231 "Can't resolve '..\bootstrap\dist\js\umd\alert'"
Got this error just now when I used npm update

It was working fine before...

    ERROR in ./~/bootstrap-loader/lib/bootstrap.loader.js!./~/bootstrap-loader/no-op.js
    Module not found: Error: Can't resolve 'style' in 'D:\WTServer\WWW\havok-ui\node_modules\bootstrap-loader'
    BREAKING CHANGE: It's no longer allowed to omit the '-loader' suffix when using loaders.
                 You need to

[2016-12-30 22:42] gholol commented on #231
Welp, I solved it. Kinda.

All you have to do is update your bootstraprc config

    # Webpack loaders, order matters
    styleLoaders:
      - style-loader
      - css-loader
      - sass-loader

Now I have dofferent errors

    ERROR in ./~/bootstrap-loader/lib/bootstrap.scripts.loader.js!./~/bootstrap-loader/no-op.js
Module not found: Error: Can't resolve '..\bootstrap\dist\js\umd\alert'
   ERR

[2016-12-30 22:52] #231 closed

[2016-12-31 02:11] justin808 commented on #230
@MagnumDopus You'll have to do some more digging on your own. I have no idea on this one.

[2017-01-03 18:45] lloy0076 opened #232 "Used Without Corresponding Plugin"
I keep getting:

[code]

With:

[code]

On:

[code]

I fiddled the error message to see what might be missing and it's a 'this[NS]' missing - I made it say what NS was:

[code]

[2017-01-03 18:47] lloy0076 commented on #232
(sorry re: formatting - the markdown is really not helpful)

[2017-01-03 20:29] lloy0076 commented on #232
Aha!

Ok, this is a "my fault".

Closing.

[2017-01-04 10:16] kjartanvalur opened #233 "Setup with AngularClass angular2-webpack-starter"
Hi
I´m trying to setup bootstrap-loader with [this](https://github.com/AngularClass/angular2-webpack-starter) boilerplate angular 2 template. I cannot use require('bootstrap-loader') since it breaks AOT. So I´m trying to set this up in webpack entry...  The default entry looks like this

[code]

I tried putting import 'bootstrap-loader' in polyfills.browser.ts but then I got this following error:

[2017-01-04 16:06] lordptolmy commented on #230
I used this solution to resolve the issue:
https://github.com/webpack/css-loader/issues/38

[2017-01-05 10:12] vheathen commented on #233
@kjartanvalur has you changed styleLoaders as prescribed in [fresh docs](https://github.com/shakacode/bootstrap-loader#usage) to:

styleLoaders:
  - style-loader
  - css-loader
  - postcss-loader
  - sass-loader

[2017-01-05 16:32] vheathen commented on #233
@kjartanvalur that's pretty weird: _labels.scss is a part of bootstrap-sass (bootstrap 3) but not bootstrap 4. Have you set `bootstrapVersion: 4` in .bootstraprc?

[2017-01-05 21:22] tomasbarrios opened #234 "Load Order"
Hi, I am facing an issue with bootstrap-loader.

When importing bootstrap, it adds the bootstrap css tag **after** what is in bootstrap-customizations.scss. And those are meant to override bootstrap variables.

![captura de pantalla 2017-01-05 a las 18 19 42](https://cloud.githubusercontent.com/assets/552460/21698023/ec7fdf84-d373-11e6-8ef1-7bd836b8271f.png)

As you can see in the picture above, B

[2017-01-06 06:40] holyxiaoxin commented on #218
Remember to specify the exact version in `package.json`:
[code]

A fresh install of node_modules will break if you just run `npm install --save-dev bootstrap-loader@2.0.0-beta.18`

[2017-01-06 10:18] kjartanvalur commented on #233
@vheathen
Thanks for response but yes I have set bootstrapVersion: 4 in .bootstraprc

[2017-01-07 02:27] Ks89 opened #235 "Bootstrap 4 alpha 6"
Error with bootstrap-loader 2.0.0-beta.18 and the new Bootstrap 4 alpha 6

[code]

My bootstraprc:
[code]

[2017-01-07 04:53] nicluo commented on #235
1 Change `animation: true` to `transitions: true`
2 Change `tags: true` to `badge: true`

Theses two steps should solve your issue if you're moving from alpha 5 to 6, or for a new project.

[2017-01-07 06:07] nicluo commented on #235
Piggybacking on this issue since it's about alpha 6.

@justin808 Will a pull request for updating v4 configuration files and package.json files to `4.0.0-alpha.6` be considered?

[2017-01-07 07:18] justin808 commented on #235
What do you guys recommend? Is alpha 6 recommended?

[2017-01-07 07:20] justin808 commented on #235
Is there a way this can be configurable without requiring a new release for every alpha version? In other words, maybe we put a catch in the loader so it doesn't crash and just informs?

[2017-01-07 07:23] justin808 commented on #234
The bootstrap loader is only the webpack loader. It does not handle how you export the CSS. That can be either in your JS (default) or extracted via the extract-text-plugin.

These are the 2 places that you put your customizations. The difference with these is that if you want to use derived bootstrap variables, use the second place. If you want to set bootstrap variables that are used to derive o

[2017-01-07 07:23] #234 closed

[2017-01-07 07:56] nicluo commented on #235
Bootstrap documentation is updated for alpha 6, for example, http://v4-alpha.getbootstrap.com/components/tag/ now returns 404. I'd assume new projects will use alpha 6 from now.

It's hard to say what kinds of changes will happen across the alpha releases, however, a deprecated message will probably be way more helpful than `File to import not found or unreadable: ../bootstrap/scss/_animation`, fo

[2017-01-07 08:02] nicluo commented on #235
https://github.com/twbs/bootstrap/commit/eb2e1102be0f4641ee3e5c4e7853360d5a04e3d8

`useFlexbox` option is also no longer required for alpha 6

[2017-01-07 12:33] Ks89 commented on #235
The good news is that alpha6 [will be the last alpha](http://blog.getbootstrap.com/)

For blog.bootstrap: **As we head to our first beta, we’ll be focused on not adding anything new, ideally making as few breaking changes as possible,**

[code]

[2017-01-09 08:45] kjartanvalur commented on #233
Anyone care to guide me through this? This is a very popular boilerplate

[2017-01-09 20:38] jgog commented on #171
So we can't use the utilities like `utilities-spacing`? or is there a workaround?

[2017-01-09 20:55] dfmartin opened #236 "Webpack 2 RC3 & Bootstrap 4 alpha 6"
I am using the above versions of webpack and bootstrap.  I am also using the default bootstrap 4 config file.  I have changed the _animations and _tags to the appropriate _transitions and _badge respectively.  I have also added the '-loader' to the end of each style loader.  The issue I am having now is that when building I get an error that the "Path must be a string.  Received undefined"

[code]

[2017-01-10 05:37] justin808 commented on #235
Let me know if you all have a PR on this one. I'm not using bootstrap v4, so I'll depend on all you to help me review and verify before I push a build. I'm ready whenever you all are.

[2017-01-10 05:39] justin808 commented on #171
@jgog Please see #235. Let's all work together to get bootstrap alpha 6 working!

[2017-01-10 14:23] tomasbarrios commented on #234
I understand what you mean, that is why I am using the file for **post** customizations. I want to override bootstrap styles with this list

[code]
The problem is that the bootstrap styles are loaded **after** the above styles. This is the order of the styles:

My goal is that they load like these:

[2017-01-10 15:48] tomasbarrios commented on #234
I think I probably misunderstood what bootstrap-customizations.scss is doing.

My final goal is to append a file where I override bootstrap styles. How should I do it?

Thanks.

[2017-01-10 21:54] vheathen commented on #233
@kjartanvalur

Seems that bootstrap-loader@2.0.0-beta.18 or one of the loaders can't work with bootstrap 4.0.0-alpha.6 which is downloading as a dependency if you set bootstrap version as `^4.0.0-alpha.5`. If you change it to `4.0.0-alpha.5` it will probably solve the problem.

[Here](https://cloud.mail.ru/public/K8C8/hM3hsJvJQ) is a working copy of my experiments with ng2-webpack-starter and boot

[2017-01-10 22:49] IvanKalinin commented on #235
Hi everyone.
How can show a right webpack 2 rc3 configuration with bootstap 4?

Here is my [.bootstraprc](https://gist.github.com/IvanKalinin/92bdc83472bd685768e0ddd23e3712a2)

This is my [webpack.config.js](https://gist.github.com/IvanKalinin/7a12dfca10573ff4e94a0d726dd7d329)

And after all I get this error on npm start:

[code]

[2017-01-11 13:29] kjartanvalur commented on #233
Thanks @vheathen

I will check this out.  But do you have a recommendation on installing bootstrap-loader with angular-cli. I have another question about that here #217

[2017-01-11 18:41] vheathen commented on #233
@kjartanvalur do you need namely bootstrap-loader? As I can see in the angular-cli [docs](https://github.com/angular/angular-cli#global-library-installation) you can use bootstrap 4 without bootstrap-loader, as well you can [use ng2-bootstrap](https://github.com/valor-software/ng2-bootstrap/blob/development/docs/getting-started/ng-cli.md) with angilar-cli. But haven't checked by myself though as I

[2017-01-12 20:11] IvanKalinin commented on #235
I've fixed my issues.
The problem was in webpack.config.js

How it was:
new webpack.LoaderOptionsPlugin({
...............................................
  options: {
    context: path.resolve(__dirname, '.'),
  },
...............................................
})

[2017-01-12 20:14] IvanKalinin commented on #235
I've fixed my issues.
The problem was in webpack.config.js

How it was:
[code]

How should it be
[code]

[2017-01-14 22:16] andrefox333 opened #238 "bootstrap-loader fails when extractStyles is enabled (set to true)"
All is well until I turn on extractStyles... Any ideas?

[code]

[2017-01-15 10:50] gazorg commented on #104
I have exactly the same problem. Is there a way to solve this? Or to troubleshoot it. As I understand it webpack looks for a file (or directory) called util that simply does not exist in the javascripts/bootstrap directory. This is either an error in the bootstrap-sass package or some quite subtle error in the webpack config.

[2017-01-15 20:23] #230 closed

[2017-01-15 21:13] justin808 commented on #104
We're looking in the node_modules folder. Please take a look there.

[2017-01-17 10:49] thepatrick commented on #234
I have this same problem - Even if I `require('bootstrap-loader'); require('./my.css')` my css ends up being loaded _before_ bootstrap, which means it doesn't work right.

[2017-01-17 11:35] thepatrick opened #239 "No PostCSS config"
A fresh install fails today with the postcoss-loader unless I create `node_modules/bootstrap-loader/postcss.config.js` with the contents ```module.exports={};```

[2017-01-17 14:25] tomasbarrios commented on #234
I ended up creating a new JS file just lo load css that should be loaded after.
Add a new entry like ...

[code]
and then in styleEntry.js do something like these:

[code]
You will have to explicitly include these new bundle in your rails asset file, e.g.

[code]

Also, I had to modify the css loaders to these:
[code]

[2017-01-17 17:43] gazorg opened #240 "Examples do not work on windows"
Hi, I tried pulling the 1.3.3. release and running one of the examples. This fails already on npm install.

npm: v4.1.1
eslint: v3.31.1 (installed globally as seems required).

There are a number of missing prerequisites for the demos that seems to be necessary to installed globally. So far I've added eslint

I guess that there are more packages that are required to be installed globally. This is

[2017-01-17 18:57] gazorg commented on #240
My bad. They do work although to be run from some kind of bash. Neither powershell nor cmd did work, but git bash did.

[2017-01-17 18:57] #240 closed

[2017-01-17 23:31] killtheliterate commented on #239
Temporary fix that I've adopted follows.

*post-install.sh:*
[code]

*package.json:*
[code]

[2017-01-17 23:54] killtheliterate commented on #239
I don't think `bootstrap-loader` actually has much to do with `postcss`, since it's not a dependency. I am using `postcss-loader`, and while your fix works in a simple case, I get similar explosions about `postcss` in all my css directories. Weird 😢

[2017-01-18 04:13] justin808 commented on #239
@thepatrick, can you try #241.

I really have no idea why that file would fix the issue. If I can get an explanation, then I'd be happy to merge.

[2017-01-18 08:35] zjoin commented on #191
@Abhijith-Nagaraja
Thanks,  it works!

[2017-01-18 22:17] gazorg opened #242 "Problems with vuejs-bootstrap-loader-combination"
Hi. I have a small project skeleton where I've ported the standard Vue.js template to use Webpack 2 instead and now I'm trying to get bootstrap loaded as well. Vue 2 + webpack 2 works well even on windows 10 but not with bootstrap-loader. If I add a `require('bootstrap-loader')` the build/run fails. I am stuck on this to me strange error message and really am no webpack expert and there seems to b

[2017-01-18 23:47] jeffswitzer commented on #213
I am having a similar issue. I get the error

I'm using the latest right now:
`"bootstrap-loader": "^2.0.0-beta.19",`

I get this error without a .bootstraprc file, and I tried adding a .bootstraprc file with
[code]
I also tried it with
[code]
which maybe doesn't even make sense, but same error anyhow.

[2017-01-19 16:40] jeffswitzer commented on #213
Nevermind on the above comment. My .bootstraprc file had a yaml extension and was being ignored. I ended up getting it to work by removing the extension and I'm now using json instead of yaml to specify my config which currently looks like:

[code]

No more errors here.

[2017-01-19 19:46] mmahalwy commented on #232
@lloy0076 would help if you tell us what 'my fault' is to help other devs

[2017-01-19 20:41] gazorg commented on #242
Well. I did find the problem at last. The problem being that I used the wrong version of .bootstraprc or at least some module names too many in the .bootstraprc sections on style and scripts.

[2017-01-19 20:41] #242 closed

[2017-01-19 20:53] lloy0076 commented on #232
It was obvious once I spotted it!

"My fault" was that I hadn't included the extract-text-webpack-plugin in the plugins array.

Unfortunately I got confused because I was migrating from webpack 1.4 to 2.X and at the start didn't get the migration entirely correct webpack 1.4 would throw really odd errors because it got a webpack 2.X configuration.

Once I'd finally managed to ensure that the only

[2017-01-19 21:06] #232 closed

[2017-01-20 02:00] mmahalwy opened #243 "sass outputStyle=compressed option"
I cannot add more options to the `styleLoaders` it seems, for example, `sass-loader?outputStyle`.

[2017-01-24 15:37] matt328 commented on #236
I'm trying to get this working with Webpack 2 also, can you elaborate on where you changed things?  I'm trying to use Bootstrap 3, and the one I am interested in is adding the -loader to the end of each style loader.

[2017-01-24 16:34] ThePadawan commented on #48
Note that using Bootstrap 4.0.0-alpha.6, Bootstrap is no longer checking for "window.Tether" but the global variable "Tether", so the webpack configuration becomes
`
    plugins: [
        <... your plugins here>,
        new webpack.ProvidePlugin({
            $: "jquery",
            jQuery: "jquery",
            "window.jQuery": "jquery",
            "Tether": 'tether'
        })
    ]
`

[2017-01-24 16:46] dfmartin commented on #236
I edited this in the ```.bootstraprc``` file.  Make sure that each loader listed under ```styleloaders:``` has the "-loader" at the end.  This is because webpack 2 no longer makes the "-loader" prefix optional.

[2017-01-24 17:01] matt328 commented on #236
Yes, found that from tracing the source.  It is working now for me with Bootstrap 3, so, I'm sorry I can't help anymore since your issues are specific to Bootstrap 4.

[2017-01-27 01:17] sjatkins commented on #213
I have the above and I still get this error.  And why oh why this this need to change in the first place?  *whimper*.    Are changes needed anywhere else?  In webpack perhaps?  Color me confused and not amused.

[2017-01-27 16:17] Loni2Shoes opened #244 "Tooltip is not defined"
I am having the "Uncaught ReferenceError: Tooltip is not defined" error previously referenced/resolved here:

https://github.com/shakacode/bootstrap-loader/issues/172#issuecomment-247205500

However, the error message persists despite having added the additional entries to my webpack.ProvidePlugin:
[code]
My bootstrap files loader is:

[code]

Naturally, this error disappears if I disable the Java

[2017-01-27 21:48] Loni2Shoes commented on #244
I was eventually able to resolve this issue. The template my project is based upon includes two different webpack.config.js files (one is for vendor-specific files). I had to put the the entries in my *main* file, not the vendor file (which already had the aliases for jQuery). I **did** need to rename exports to exports-loader, like so:

[code]

[2017-01-27 21:48] #244 closed

[2017-01-29 12:18] Arturszott commented on #236
@matt328 can you share your exact config?  I try to upgrade everything to webpack 2.2.0 without success. This is what happens to me:

`Module not found: Error: Can't resolve '[object Object],[object Object],[object Object],[object Object],[object Object],[object Object]./lib/bootstrap.styles.loader.js' in '/Users/arturszott/dev/business-center-frontend/node_modules/bootstrap-loader'`

I guess it's

[2017-01-29 21:14] KevinMartin commented on #238
This seems to have been cause by a change between `extract-text-webpack-plugin` versions [Beta 5](https://github.com/webpack-contrib/extract-text-webpack-plugin/blob/v2.0.0-beta.5/index.js#L201) and [RC 0](https://github.com/webpack-contrib/extract-text-webpack-plugin/blob/v2.0.0-rc.0/index.js#L200)

The commit: https://github.com/webpack-contrib/extract-text-webpack-plugin/commit/74b86e0221096c68

[2017-01-29 21:44] justin808 commented on #243
@mmahalwy Please let me know what your findings out. I'm happy to consider a PR.

[2017-01-29 21:44] justin808 commented on #239
Please let me know what your findings out. I'm happy to consider a PR.

[2017-01-29 21:45] justin808 commented on #238
Please let me know what your findings are. I'm happy to consider a PR.

[2017-01-29 21:46] justin808 commented on #236
Please let me know what your findings are. I'm happy to consider a PR.

[2017-01-30 20:43] tubsandcans opened #245 "$(...).tooltip is not a function"
I'm trying to replace sprockets with webpack in my rails app which uses bootstrap 3. So far I'm able to use webpack to serve assets from node installations of jquery, knockout, and bootstrap-loader.

When I hover over an element with a .tooltip binding, I get the '...is not a function' error. It appears that bootstrap styles and javascripts are being included and loaded (the only other component I

[2017-01-30 20:50] killtheliterate commented on #239
So, not really sure where this issue belongs, but because folks have been talking about it here...

My build started working again when I moved my `postCSS` config out of `webpack.config` and into a `postcss.config.js`. @thepatrick are you also using that method to load `postcss` plugins?

[2017-01-30 21:16] justin808 commented on #245
@tubsandcans Please try this out on a fork of https://github.com/shakacode/react-webpack-rails-tutorial and let's solve this together!

[2017-01-31 08:12] Arturszott commented on #236
It seems that bootstrap-loader has to be adjusted to new syntax.

[2017-01-31 09:05] Quayle57 commented on #238
I have the same problem with

`ERROR in ./~/bootstrap-loader/lib/bootstrap.loader.js!./~/bootstrap-loader/no-op.js
Module not found: Error: Cannot resolve module '[object Object]./lib/bootstrap.styles.loader.js' in /home/user/work/project/node_modules/bootstrap-loader
 @ ./~/bootstrap-loader/lib/bootstrap.loader.js!./~/bootstrap-loader/no-op.js 1:21-1087`

I'm using Bootstrap@4.0.0-alpha.6 and web

[2017-01-31 09:19] justin808 commented on #236
@Arturszott Any PR? If we change this, how do we handle all the different versions?

[2017-01-31 13:12] Jorran commented on #238
Related issue in the extract-text-webpack-plugin: [link](https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/364).

Bootstrap@4 only seems to work fine with extract-text-webpack-plugin@2.0.0-beta.<x>, just like KevinMartin said.

[2017-01-31 15:17] gilhanan commented on #86
I think ability to load configuration options as module would solved that

[2017-01-31 19:16] tubsandcans commented on #245
TL;DR I'm going to try using the react-rails gem going forward.

Initially I just wanted to replace sprockets with webpack as a way to understanding the ins and outs of webpack. This being in service to my eventual goal of getting react integrated into my current rails deployment. I'm now realizing how much of a complete PITA this is. I followed the instructions in [this post](http://pixelatedwork

[2017-02-01 13:58] Quayle57 commented on #238
Yes but I need to use this with webpack1 :/
Furthermore, the link is now closed saying that the loader should be the one to fix the problem :

We discussed about this. It's actually a font-awesome-loader issue to fix now as ExtractTextPlugin won't emit a string by design (problematic with function based configuration). So instead of hacking around with a custom toString we'll document how to fix t

[2017-02-01 18:42] NelsonLamprecht opened #246 "Webpack, angular2, bootstrap-loader and jquery - Question"
Honestly, not sure where the problem lies:
Using dotnet core and angular2 with webpack, based on [](http://blog.stevensanderson.com/2016/10/04/angular2-template-for-visual-studio/) and bootstrap seems to be loaded as I can see the various styles and the scripts are getting loaded into the vendors.js file but the bootstrap events like the nav datatoggle collapse are not wired up.  I am not sure if

[2017-02-01 20:54] #245 closed

[2017-02-01 20:59] tubsandcans opened #247 "Requiring webpack 2.1.0-beta WHY?!"
warning "bootstrap-loader@2.0.0-beta.20" has incorrect peer dependency "extract-text-webpack-plugin@>=2.0.0-beta".
warning "bootstrap-loader@2.0.0-beta.20" has incorrect peer dependency "webpack@^2.1.0-beta || ^2.2.0-rc.0".

Why are you depending on a version of webpack that is not the default version served up by npm (1.14.0)? Why don't you at least include instructions for installing the correct

[2017-02-02 03:34] justin808 commented on #245
@tubsandcans You're throwing out the baby with the bathwater...

Instead of replacing the asset pipeline, just use the asset pipeline to include the necessary assets using the https://github.com/shakacode/react_on_rails technique.

You're going backwards if you're going to the react-rails gem and only using the asset-pipeline rather than Webpack.

If you want this to go super fast, [ShakaCode](htt

[2017-02-02 03:37] justin808 commented on #247
@tubsandcans We need a PR to update the libraries to depend on only the official released versions of Webpack...

Now that Webpack v2.2 is done...It's time to do this. If you can help us, that would be greatly appreciated!

[2017-02-02 03:39] justin808 commented on #246
@NelsonLamprecht Your question is too vague to be considered an "issue" of bootstrap-loader.

Please feel free to [contact me directly](mailto:justin@shakacode.com) for individualized help from my team.

[2017-02-02 03:39] #246 closed

[2017-02-02 07:48] alecf commented on #238
The problem *seems* to be that ExtractTextPlugin is now always returning an array of objects, rather than an array of strings.

I think it used to return:
[code]
and now it returns
[code]

It seems like https://github.com/shakacode/bootstrap-loader/blob/master/src/utils/buildExtractStylesLoader.js could perhaps be adjusted to handle both arrays of strings *and* objects?

[2017-02-02 08:00] Toilal opened #248 "Partial configuration file default values"
When creating a minimalist configuration file, bootstrap styles are not loaded.

[code]

After debugging, I saw that default value for ```styles``` is false.

Current workaround is to force the styles value to true.

[code]

[2017-02-02 12:52] TCotton commented on #238
@alecf this code will solve that problem

`ExtractTextPlugin.extract = (before, loader, options) => {
  if (typeof loader === 'string') {
    return [
      ExtractTextPlugin.loader(Object.assign({ omit: before.split('!').length, extract: true, remove: true }, options)),
      before,
      loader
    ].join('!');
  } else {
    options = loader;
    loader = before;
    return [
      ExtractText

[2017-02-03 08:34] justin808 commented on #248
@Toilal you either need to specify a full config file or no config file. That's the current behavior.

[2017-02-03 08:34] #248 closed

[2017-02-03 08:46] justin808 commented on #238
@TCotton I'd like to get bootstrap-loader v2.0.0 out which relies on Webpack V2 and put V1 into only CRIT fixes from now on.

Any chance that you want to update the dependencies on master and put together a final PR for V2.0.0?

Any other volunteers?

[2017-02-03 09:16] justin808 commented on #197
@Judahmeek @blowsie is this still an issue?

[2017-02-03 11:34] ridem commented on #238
I gave it a try by submitting a PR that fixes things for me. Let me know!

[2017-02-05 04:37] t47io commented on #238
Hope this can be fixed soon,

[2017-02-05 05:28] nicluo commented on #239
PostCSS config is loaded via [github.com/michael-ciniawsky/postcss-load-config](https://github.com/michael-ciniawsky/postcss-load-config). 25 days ago, an update made `postcss.config.js` mandatory by throwing the error rather than just logging in console. [Commit a6c32fd](https://github.com/michael-ciniawsky/postcss-load-config/commit/a6c32fd)

If you only use `postcss-loader` within `bootstrap-lo

[2017-02-05 05:49] t47io opened #250 "`resolve-url-loader` related problem with `yarn`?"
Hi, I went into a weird problem that I have not completely figured out. See if some one has better idea.

So everything works if I use `npm`. But after I switched to `yarn`, there is this error when building with `webpack`:

[code]

First of all, I do have `resolve-url-loader` in my `package.json`, and installed. If I run `npm install`, then the problem goes away. Strange.

I was suspecting that t

[2017-02-05 05:55] t47io commented on #250
Ah! found it, it's a version problem!!!!!

Here is my `package.json`:
[code]

Somehow `yarn` will install version `2.0.0-exports.1`, which leads to the above problem. `npm` correctly installs `2.0.0-beta.20`. Any idea how to fix this though?

[2017-02-06 13:21] keipaglows opened #251 "An error with Webpack 2.21 and Bootstrap 4.0.0 Alpha 6"
Actually this is my first time in using webpack, and maybe it's just me who's doing something wrong. But nevertheless, here's the error I got when trying to build or run webpack:
[code]

Here's my package.json:
[code]

And here's webpack.config.js:

[code]

It seems I've tried every possible fix I could find, but nothing works.

[2017-02-07 07:30] keipaglows commented on #251
Turns out, it was just some mistakes on my side. I was able to fix it by making .bootstraprc file with some small changes.

[2017-02-07 07:30] #251 closed

[2017-02-07 07:31] chuckwilliams37 commented on #251
Yeah, me too. Local workaround. It *was* documented somewhere in the
README, I think. Also works for new Webpack 2 requirements (e.g. 'style'
becomes 'style-loader').

On Tue, Feb 7, 2017 at 12:30 AM, keipaglows <notifications@github.com>
wrote:

[2017-02-07 12:20] ridem commented on #238
@t47io
In case it temporarily helps someone, this what you can do to get it to work:
- Add a `"postinstall": "./fix-bootstrap-loader.sh"` entry to your `package.json`.
- In the same folder, make a file called `fix-bootstrap-loader.sh` with the following content:
[code]
- `npm install`

This fix is just the PR I just made.

This works with the latest `ExtractTextPlugin` (2.0.0-rc.2 and 2.0.0-rc.3)

[2017-02-08 13:01] arckosfr commented on #238
Hello,

Don't know if it came from the same bug (the error output seems to be same), but my build output is not working (already test with extract-text-webpack-plugin@beta5, it was worse than this) :
[code]

webpack.base.conf.js
[code]

webpack.prod.conf.js
[code]
i am miss something ?

thanks :)

[2017-02-11 06:16] msaglietto commented on #250
Yes I create a issue on yarn about it https://github.com/yarnpkg/yarn/issues/2648

[2017-02-11 20:34] kuongknight commented on #238
I have same issue, i switch to extract-text-webpack-plugin@2.0.0-beta-5 but it not work

[2017-02-12 20:36] vjpr opened #252 "`global.__DEBUG__` set in `bootstrap.loader.js` but not `bootstrap.scripts.loader`"
What could be causing this? Does webpack run the loader in another Node.js context or something like that?

This prevents log messages working in the `bootstrap.styles.loader.js`.

A workaround would be to re-read the config file in `bootstrap.styles.loader.js` and use the option for the debug value.

[2017-02-12 20:50] vjpr commented on #252
The query string for `bootstrap.styles.loader.js` is different from what bootstrap-loader is requiring as well.

## `bootstrap.loader.js`:

[code]

## `bootstrap.styles.js`

`this.query`:

[code]

[2017-02-12 20:59] vjpr opened #253 "Log message should tell user with missing styleLoaders to add styleLoaders with `-loader` to be compatible with webpack 2"
https://github.com/shakacode/bootstrap-loader/blob/master/src/bootstrap.loader.js#L160

Log message should tell user with missing styleLoaders to add styleLoaders with `-loader` to be compatible with webpack 2.

[2017-02-12 21:40] vjpr commented on #252
So when I use `disableResolveUrlLoader: true` the debug messages show correctly. The `resolve-url-loader` is doing something screwy win webpack@2.

[2017-02-12 22:36] vjpr commented on #252
Okay, so removing the `style-loader` from `.bootstraprc` fixed it.

Not sure exactly what was happening, but I think one of the loaders must have been returning a modified `require(...bootstrap.loader.js?{...})` which was being run by a latter one...

[2017-02-12 22:42] justin808 commented on #252
@vjpr Not really sure if this is a bug, suggestion, etc...

Can we close this issue?

[2017-02-12 23:00] vjpr commented on #252
@justin808 Its either a bug, or something in my config. `bootstrap.style.loader.js` is running with an incorrect `bootstrapRelPath`. What could be causing this?

[2017-02-12 23:54] vjpr commented on #252
Found the bug! It is an issue in the `style-loader` caused by `loaderUtils.stringifyRequest`.

https://github.com/webpack/loader-utils/issues/54

[2017-02-12 23:54] #252 closed

[2017-02-13 13:24] vjpr opened #254 "make bootstrap-sass resolving configurable"
Currently `bootstrap-sass` needs to be resolvable from `bootstrap-loader/lib/utils/resolveModule.js`.

This means that `bootstrap-sass` is a peer dependency on `bootstrap-loader`.

Custom module systems such as pnpm will not be able to find peer deps if they are not explicitly specified in the `package.json`.

So firstly, it should be declared as a peer dependency. But because you need `bootstrap`

[2017-02-13 16:51] ayleesedai commented on #238
I tried @ridem solution and it works fine for me.
I just made a little change, since my team develop on Windows and our continous integration builder is on Linux, so we had little path and execution permission problems.
I made a javascript script and run it with node, instead of using a sh file.

[2017-02-13 20:41] vjpr opened #256 "Support custom styleLoaders for extract-text-webpack-plugin"
I had to patch `style-loaders` and publish as `@vjpr/style-loaders`. This hard-coded requirement for `style-loaders` breaks my config.

I think this should be configurable in case someone wants to use a custom `style-loader`.

Would be good to have a option to disable this error.

[2017-02-13 21:46] vjpr opened #257 "make `extract-text-webpack-plugin` resolve path configurable"
When `bootstrap-loader` is `npm linked`, because it has `extract-text-webpack-plugin` in its `devDependencies`, it will use its local copy instead of the user's project's copy. Only one module instance should be used in the whole project.

Having a configuration option to pass in the absolute path would solve this problem.

The change needs to be made to `buildExtractStylesLoader.js`.

[2017-02-13 21:57] justin808 commented on #257
Hi @vjpr!

1. Would this apply to those trying to contribute this project only?
2. Could we make this configurable? Would you like to make a PR with this?

Thanks for your help!

[2017-02-13 22:01] justin808 commented on #256
I'd be supportive of a PR with additional documentation for this.

[2017-02-13 22:04] justin808 commented on #254
@vjpr Thanks for creating the PR. We should be able to get the merged and shipped soon!

[2017-02-13 22:31] vjpr commented on #257
Yep, purely a development feature. When it is installed by npm/pnpm/yarn the `peerDependency` should work correctly.

Just need to pass a config here: https://github.com/vjpr/bootstrap-loader/blob/f889aa7673877115d425c3dc162102c66089635d/src/bootstrap.loader.js#L174-L174

Yep I'll put one together when I have some time. At present I am using the following require hack which ensures that same versi

[2017-02-14 13:09] JulioC commented on #238
@ayleesedai would you mind sharing it?

[2017-02-14 13:23] ayleesedai commented on #238
@JulioC here it is, I didn't attach it before, because it's not a masterpiece of coding, but it works fine. @ridem's sh script  is more sofisticated: it creates a backup copy of the original file and check for npm existance. Anyway:

The **package.json** section:
[code]
And the **fix-bootstrap-loader.js**:
[code]

[2017-02-14 13:55] Mioleris opened #258 "How to use ExtractTextPlugin when using bootstraprc - bootstrapCustomizations"
I have problem. To override bootstrap variables I use **bootstraprc** - **bootstrapCustomizations** and adding my main style **appStyles**

When running **npm run build** styles are not extracted  becouse they ar not included trough import. I want to override variables and on build action extract two my custom files variables.scss and app.scss

[2017-02-14 19:07] noonie2k commented on #199
I have the exact same issue on Linux

[code]

This occurs when I use `require('bootstrap-webpack');` in my `index.js` OR include `entry: ['bootstrap-webpack', './app']` in my `webpack.config.js` file.

This is a new app I'm working on and have only followed the instructions in the README

[2017-02-14 21:00] ridem commented on #238
Nice! I feel so old school now with my `sed` command that I had to tweak to get it to work on both Linux and macOS

[2017-02-14 22:15] justin808 commented on #238
@ridem @ayleesedai @JulioC Should this get a PR?

[2017-02-14 22:17] justin808 commented on #199
@noonie2k Take a look at the other open issues. There's a bunch of churn going on right now with the Webpack v2 updates (including the extract-text-plugin). If you discover something needing a PR, please let me know.

[2017-02-15 07:07] ayleesedai commented on #238
@justin808 Working fine for me, so it's a yes.

[2017-02-15 13:26] Resin01 opened #260 "EACCESS: permission denied"
Hi

I am trying to get this to work with bootstrap 3.3.7 but I am running into this issue.
resolve-url-loader cannot operate: source-map error
  EACCES: permission denied, scandir '/var/www/website/docker-mysql'
I am not quite sure why it is trying to do a scandir on this folder?

I am using the following
"bootstrap-loader": "^2.0.0-beta.20",
"bootstrap-sass": "^3.3.7",
"resolve-url-loader": "^1.6

[2017-02-15 21:13] ridem commented on #238
There's been a merge of the solution into master by https://github.com/shakacode/bootstrap-loader/pull/259

[2017-02-16 01:36] Judahmeek commented on #260
@resin01, you've encountered an incompatibility between sass-loader@5-6 and resolve-url-loader: https://github.com/bholloway/resolve-url-loader/pull/45

Just dealt with this myself. My solution was to pull https://github.com/bholloway/resolve-url-loader/tree/feature/support-sass-loader-6 as a vendor library (yarn demands versions and the latest commit is after the latest release), but if you're us

[2017-02-16 07:05] Resin01 commented on #260
Great seems to be working! One thing is strange though. Seems that the css isnt included in my output css file?
I simply require it in my css setup file (js).
    require('bootstrap-sass');
    require('../sass/admin/layout.scss');

And i then export it to css using
    new ExtractTextPlugin({filename: '../css/[name]/layout.min.css'}),

[2017-02-16 13:46] Resin01 commented on #238
Is is possible to get this new version into NPM?
I have tried this in my package.json but it loads the wrong data.
"bootstrap-loader": "shakacode/bootstrap-loader",

[2017-02-17 06:05] justin808 commented on #257
2.0.0-beta.21 pushed to npm! this might help!

[2017-02-17 06:05] justin808 commented on #260
@Judahmeek can we close this issue?

[2017-02-17 06:07] justin808 commented on #258
@Mioleris Please follow the examples in the /examples/basic directory and post any questions you may have. You need to specify some of the options and provide a full customization file.

[2017-02-17 06:07] #258 closed

[2017-02-17 06:07] justin808 commented on #253
@vjpr @Judahmeek @alexfedoseev This seems like a good PR.

@vjpr can you please submit one?

[2017-02-17 06:15] justin808 commented on #238
2.0.0-beta.21 pushed to npm!

[2017-02-17 06:16] justin808 commented on #238
Over the next few weeks, @alexfedoseev, @Judahmeek, and I will get this all sorted and make the official 2.0 version of bootstrap-loader!

[2017-02-17 06:46] Resin01 commented on #260
Yes please do :)

[2017-02-17 06:56] #260 closed

[2017-02-17 07:11] Mioleris opened #262 "Transition is not working in navbar"
Somehow transitions is not working in bootstrap navbar when expanding.

.bootstraprc
transitions: true

webpack.config.dev.js
[code]

`{ test: /bootstrap\/dist\/js\/umd\//, use: 'imports-loader?jQuery=jquery' },`

Latest bootstrap-loader and webpack.

[2017-02-17 07:51] #262 closed

[2017-02-17 08:25] diondirza commented on #238
@justin808 this error still exist in beta latest version.

[2017-02-17 08:49] justin808 commented on #238
@diondirza Try the config of the examples, paying attention to the versions:

https://github.com/shakacode/bootstrap-loader/blob/master/examples/basic/package.json

[2017-02-17 09:52] Resin01 commented on #238
@diondirza If i run npm update it installs the 2.0.0-beta.20 instead of 2.0.0-beta.21. I simply deleted the folder and used npm install after which I got the right version (if I run npm update it downgrades again)

[2017-02-17 10:05] diondirza commented on #238
@justin808 I think that was false alarm, after I wrote that comment I have switched back to beta.20 and rebuild my app again with no error, after you replied I try to re install beta.21 again and did rebuild and now the error is gone. weird, huh
anyway I got error unmeet peer dependency for `eslint-plugin-jsx-a11y`, should it be using 4.0.0? I think your `eslint-config-shakacode` need to be update

[2017-02-17 10:20] Chuvisco88 opened #263 "[Question] How to integrate Bootstrap 3 scripts?"
Hi there

I'm using [Webpack Starter](https://github.com/AngularClass/angular2-webpack-starter/) and they have updated to a new structure (DLL).
The integration of the Bootstrap scripts, described in the Readme of this repo, does not work any longer.

[code]
This throws `$(...).modal is not a function`

Any hints regarding the integration of the scripts?

[2017-02-17 17:51] MikeJSX opened #264 "document is not defined"
Hi. I try to update to webpack 2 and everything work except bootstrap-loader.
Next error appear:
`./~/css-loader!./~/resolve-url/resolve-url.js!./~/sass-loader/lib/loader.js?sourceMap!./~/bootstrap-loader/lib/bootstrap.styles.loader.js!./~/bootstrap-loader/no-op.js
Module build failed: ReferenceError: document is not defined
    at Object.resolveUrl (/Users/Username/Projects/flymble-webapp/node_mo

[2017-02-17 22:03] justin808 commented on #264
@MikeJSX did you try out the examples in /examples/basic?

[2017-02-20 12:50] sinnbeck opened #265 "Specify glyphicon path after build"
Is it somehow possible to specify the path to where the icons should be placed after building?
I expect it to be something like use: 'url-loader?name=./docs/fonts/[name].[ext] but that does not work.

Edit: Got it working with outputPath=[path]/../../../docs/fonts/, but I hope there is a more simple way of doing it :)

[2017-02-21 06:14] justin808 commented on #265
@Resin01 I'm not sure what you're asking for. It seems like you found a solution to use a relative path.

[2017-02-21 06:16] justin808 commented on #263
@alexfedoseev has been working with the DLL a bunch.

@Chuvisco88 Looking at the error, it seems that the error is related to not exposing `$` for jQuery. Have you tried to globally expose jQuery?

[2017-02-21 06:59] Resin01 commented on #265
Well i was just hoping to be able to do something a bit more simple like outputPath=[path/fonts
It seems that [path] is pointing to node_modules/boostrap-loader/lib. Was hoping to somehow set [path] to use the context set in my webpack config (which is context: path.resolve(__dirname, './docs/'))

[2017-02-21 08:12] Chuvisco88 commented on #263
Hi @justin808

Thanks for the reply.
Well, I guess I am already exposing jQuery with the ProvidePlugin
[code]

[2017-02-21 09:24] alexfedoseev commented on #263
@Chuvisco88 Yeah, exposing something from DLL build is PITA and I couldn't manage it to work yet. Workaround is to expose it from the non-DLL bundle instead.

I had a thought tho: as DLL build has global name (e.g. `vendor`), something like this might work, but I haven't tested it yet:

[code]

[2017-02-21 09:52] alexfedoseev commented on #238
@diondirza Yep, will be updated later this week.

[2017-02-21 12:20] Chuvisco88 commented on #263
As far as I can see jQuery itself is imported as I can use $('.someselector') without problems.
But it looks definitely like the bootstrap scripts are not loaded so far.
Further investigating

[2017-02-21 13:10] daniloprates commented on #74
I'm having the same error. Any clues?

[2017-02-21 18:04] actraiser opened #266 "@import statements in scss loaded via appStyles not fully extracted"
bootstrap-loader works great, thanks for the efforts! There is one thing that annoys me which
I am not sure wether this is by design of bootstrap-loader or me being new to Webpack 2.

I mix bootstrap classes and custom styles to create my templates. For each individual page I create, I add an import statement to a main.scss and which is loaded via 'appStyles' in .bootstraprc:

    appStyles: ./app

[2017-02-21 20:28] vjpr opened #267 "Should eslint-xxx be peerDependencies?"
[code]

Wouldn't they just be for development - so devDependencies?

[2017-02-21 20:58] vjpr opened #268 "`babel is a no-op in Babel 6`"
`babel is a no-op in Babel 6....uninstall `babel` and install `babel-cli`.

Babel should be removed from `devDependencies`, we only need `babel-cli`.

Both try to link `babel` bin. This is failing for me in pnpm.

[2017-02-21 22:54] justin808 commented on #267
@vjpr you're 100% right!

@Judahmeek Any idea how this snuck in?

@vjpr These should be `devDependencies`.

Anybody want to do a PR?

[2017-02-21 23:01] justin808 commented on #266
@actraiser You might want to look into https://github.com/shakacode/sass-resources-loader/.

I'm quite sure that we support your use case, and that there's an error in some configuration. Feel free to comment more here or to [get in touch](mailto:justin@shakacode.com) if you want individual help.

[2017-02-21 23:01] #266 closed

[2017-02-21 23:02] justin808 commented on #268
@vjpr Sounds good! Please send me a PR!

[2017-02-21 23:03] justin808 commented on #268
@vjpr Please let me know if you want a Slack invite to the ShakaCode room. You can [email me](mailto:justin@shakacode.com).

[2017-02-22 12:12] MikeJSX commented on #264
Ok, I solved this by adding `resolve-url-loader` to `.bootstraprc` styleLoaders

[2017-02-22 12:13] #264 closed

[2017-02-22 12:17] MikeJSX commented on #250
I had the same issue. Adding `resolve-url-loader` to `.bootstraprc` styleLoaders solved my problem.

[2017-02-22 16:32] joshcomley commented on #263
I have followed the exact same steps at @Chuvisco88 and also using [Webpack Starter](https://github.com/AngularClass/angular2-webpack-starter/) and I am getting this:

    Error: Cannot find module "style-loader!css-loader!resolve-url-loader!sass-loader?sourceMap!./lib\bootstrap.styles.loader.js?{"bootstrapVersion":3,"useCustomIconFontPath":false,"extractStyles":false,"styleLoaders":["style","css"

[2017-02-23 08:32] Chuvisco88 commented on #263
Not sure but I use the raw-loader for scss, might help in your case :)
[code]

[2017-02-24 03:10] Judahmeek commented on #267
Those two packages are peer dependencies of [bootstrap-loader](https://github.com/shakacode/bootstrap-loader/blob/master/package.json#L40-L41) so you're going to get that warning anyway.

[2017-02-24 05:34] justin808 commented on #267
@Judahmeek They probably shouldn't be. There's no for linting to be a peer dependency.

[2017-02-25 19:47] leefsmp commented on #199
I have the same issue, did you find out how to fix this? Thanks

[2017-02-26 18:42] aarkerio commented on #199
Same here on Debian with Node 6.10 and webpack 2.2.1

[2017-02-26 19:27] justin808 commented on #199
@Judahmeek and I will try to get an update out in the next couple of days.

[2017-02-26 19:28] #267 closed

[2017-02-26 20:29] justin808 opened #273 "Checklist for version 2.0!"
What is needed for the 2.0.0 release which will have official support for Webpack 2.2.x and greater?

- [x] Update examples directory to use Webpack 2.2.x
- [x] Update peer dependencies in package.json

What else?

CC: @Judahmeek, @alexfedoseev

[2017-02-26 21:03] actraiser commented on #273
Will the peer dependency update include updating "eslint-plugin-jsx-a11y" from 2.2.3 to ^3.0.2  || ^4.0.0? That would be awesome as this would make a local eslint setup with eslint-config-airbnb work.

-act

[2017-02-27 03:28] justin808 opened #274 "Update examples directory for latest..."
All examples need to be updated for Webpack v2.2.x.

[2017-02-28 13:51] bbousba opened #275 "Could not find 'styleLoaders' in your config"
webpack@2.2.1
webpack-dev-server@2.4.1
bootstrap-loader@2.0.0-exports.1

Hi,

I've got this error when using with webpak.

[code]

Here is my **.bootstraprc** file :

[code]

In my webpack.config.js, I define NODE_ENV like this :

[code]

[2017-02-28 14:12] bbousba commented on #275
You can close this.

I was on @2.0.0-exports.1 version (even if it was set as bootstrap-loader": "^2.0.0-beta.22" inside my package.json)

I removed the package and reinstalled it.
Now I'm really on @2.0.0-beta.22 and it works.

Thanks.

[2017-02-28 14:12] #275 closed

[2017-03-01 09:24] kuongknight opened #276 "How do use with isomorphic-style-loader"
I want to load bootstrap in server-side with isomorphic-style-loader
How can i do it?

[2017-03-01 10:12] justin808 commented on #276
I've looked into this a little bit. Nothing struck me as obvious. @kuongknight have you tried to do some debugging?

[2017-03-01 15:37] idangozlan commented on #276
+1, any example? can't figure out how to use it

[2017-03-01 16:46] idangozlan opened #277 "Is there anyway to load the bootstrap css inline on server side rendering development mode?"

[2017-03-01 17:10] idangozlan commented on #10
Is there any example of how to implement server side rendering for bootstrap css on development?

[2017-03-02 07:31] bbousba commented on #214
Hi,

I still have the same issue.
I have the following entry in my package.json

`"bootstrap-loader": "^2.0.0-beta.22",`

And every time I npm update my project, bootstrap-loader@"2.0.0-exports.1 is installed instead.
But if I uninstalled it (npm uninstall -D bootstrap-loader) and reinstall it right after (npm i -D bootstrap-loader) the correct version is installed.

[2017-03-02 18:15] timworx opened #278 "Postcss not applied to bootstrapCustomizations"
It appears that postcss is not being applied to `bootstrapCustomizations` - I would argue that it really should be.

For example, when using the "materia" theme from [Bootswatch](https://bootswatch.com/4-alpha/) `input` elements have an `appearance: none;` This should wind up prefixed (and does in the code elsewhere in my app).

My .bootstraprc looks like this:

[code]

[2017-03-03 12:22] nextofsearch commented on #218
Hi,

I am getting the same error:
"bootstrap-loader": "^2.0.0-beta.22",
node v7.7.1

[code]

[2017-03-03 12:34] nextofsearch commented on #218
Never mind. it was solved after installing 'style' package.

[2017-03-03 12:46] nextofsearch opened #279 "Could not find bootstrap version: '3'. Did you install it?"
Hi,

I am getting the following error:

[code]

[code]

node v7.7.1

Please guide me to where to look at.

[2017-03-03 13:16] idangozlan opened #280 "Bootstrap's extractStyles somehow escape from webpack uglify and stored as unminified css on webpack's css bundle"

[2017-03-03 16:38] nextofsearch commented on #279
[code]

[2017-03-03 22:24] pawanpoudel commented on #199
This issue seems to be caused by the [bootstrap-webpack](https://github.com/gowravshekar/bootstrap-webpack) package not [bootstrap-loader](https://github.com/shakacode/bootstrap-loader). I just verified that [this pull request](https://github.com/gowravshekar/bootstrap-webpack/pull/35) already fixes the issue and it has been merged into `master`.

However, the [NPM package registry](https://www.np

[2017-03-05 02:36] nextofsearch commented on #279
I gave it up and walked away from bootstrap-loader. :(

[2017-03-05 08:39] justin808 commented on #279
@nextofsearch You need to install bootstrap-sass per the README.md.

[2017-03-05 08:43] justin808 commented on #277
@idangozlan can you provide some more details of why you want to do this?

[2017-03-05 08:43] justin808 commented on #278
@timworx Any chance that you can help us debug this?

[2017-03-05 08:44] justin808 commented on #280
@idangozlan What exactly is your question or issue?

[2017-03-05 08:46] idangozlan commented on #277
Cause i don't like the first seconds when the CSS hasn't loaded yet,i would
like to have it inline in the HTML body as part of the response

On Mar 5, 2017 10:43, "Justin Gordon" <notifications@github.com> wrote:

[2017-03-05 08:48] idangozlan commented on #280
How to minify the bootstrap CSS? When using the regular flow for production
of extract + webpack uglify it's not applied on the bootstrap CSS

On Mar 5, 2017 10:44, "Justin Gordon" <notifications@github.com> wrote:

[2017-03-05 15:33] nextofsearch commented on #279
@justin808 If you look at the package.json above, it includes "bootstrap-sass": "^3.3.7"

[2017-03-05 20:12] justin808 commented on #279
I noticed that...so the problem is quite odd. @nextofsearch is there any chance that you can try updating the examples: https://github.com/shakacode/bootstrap-loader/blob/master/examples/basic/package.json to use the same versions of your libraries?

[2017-03-06 04:30] jguddas opened #281 "2.0.0-exports.1 reverted back to old format"
the changes reopen previously fixed #238

[code]

[2017-03-06 04:42] justin808 commented on #281
@jguddas Any chance that you can give me a PR?

[2017-03-07 08:18] jguddas commented on #281
the workaround used in  2.0.0-exports.1 was https://github.com/shakacode/bootstrap-loader/pull/249/commits/77550cf59e8d262ed02a1723fd587404765755a6 and we should quickly add it back in so we don't break any projects depending on bootstrap-loader@2.0.0-exports.1

[2017-03-07 09:46] justin808 commented on #281
@jguddas I might have a chance to research this tomorrow.

We want to *ONLY* support webpack v2.2+ going forward. It's impossible to support all the intermediate versions.

[2017-03-07 23:57] necronet commented on #274
Can you check https://github.com/shakacode/bootstrap-loader/pull/282

[2017-03-08 06:28] Mioleris opened #283 "Css is not minimized"
Why bootstrap css is not minimized when using **extractStyles** and **bootstrapCustomizations** and **appStyles**

and when using **appStyles** and **bootstrapCustomizations** adds 3-4s to hot module replacement to reload

[code]

Using latest dependencies

[2017-03-08 08:36] Mioleris commented on #283
1. Problem is solved adding in .bootstraprc
[code]

2. Problem with hot module replacement exists.
When using **appStyles** and **bootstrapCustomizations** to import custom scss files it slows down HMR about 3-4s. If I'm not using them it reloads in about 800ms

[2017-03-09 10:39] Judahmeek commented on #197
I was never able to reproduce @blowsie's issue.

[2017-03-09 15:23] markusdanek opened #284 "Load order"
https://github.com/markusdanek/t2w-vue/blob/master/src/main.js

Bootstrap CSS gets loaded at last and is overwriting my css. I also get the problem, when I add the Bootstrap CSS via stylesheet link in the index.html :confused:
Some quick ideas how to fix this? :smile_cat:

[2017-03-10 05:47] t47io commented on #250
No luck so far. I guess just remember to use `npm`, or do strict versioning in `package.json` for `yarn`

[2017-03-10 05:47] #250 closed

[2017-03-10 07:33] sahil1989 opened #285 "extract text webpack plugin issue"
I am getting following error while running build

[code]

following is my package.json:

[code]

Following is my webpack-dist.conf

[code]

Can someone guide, how to get rid of this error

[2017-03-10 09:10] sahil1989 commented on #285
One more thing, I am not getting any error on my local machine (windows) but build fails on server i.e. a linux one

[2017-03-10 18:34] justin808 commented on #284
https://github.com/shakacode/bootstrap-loader#appstyles

[2017-03-10 18:34] #284 closed

[2017-03-10 20:47] borysn commented on #239
@nicluo i am getting this as an issue, but i see it's over two months old, any update on this?

[2017-03-10 21:10] borysn commented on #239
@nicluo nvm, i was confused about setting up postcss.config.js, but only adding `module.exports = {};` runs fine.

[2017-03-11 03:31] jpmelnik opened #286 "appStyles: allow object."
#The main.scss has multiple @imports.

So, if I set appStyles: src/App/Assets/main.scss, the source maps for each @imports doesn't exists and I can't work on that files.

How can I add multiple scss files into appStyles like "styles" property?

- Bootstrap styles
styles:

  - Mixins
  mixins: true

  - Reset and dependencies
  normalize: true
  print: true
  glyphicons: true

...

[2017-03-11 07:00] Judahmeek opened #287 "CSS-module bs4:prod example currently fails due to extract-text plugin error."
Apparently related to https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/417

[2017-03-11 07:05] Judahmeek commented on #285
You need to upgrade from `bootstrap-loader` v1 to v2.

[2017-03-12 10:30] mvillis commented on #287
heads up. tried building against webpack master branch (post the PR being merged https://github.com/webpack/webpack/pull/4189) and still getting extract-text-plugin-error. could be just me? my config is based on the css-modules example.

[2017-03-13 18:34] sfrjrs commented on #48
@ThePadawan solution worked for me.

My issue was with ASP.NET Core project http://blog.stevensanderson.com/2016/10/04/angular2-template-for-visual-studio/. I had to add tether to vendor array as well in webpack.config.vendor.js.

entry: {
	vendor: [
		'bootstrap',
		'bootstrap/tether'
	]
},

[2017-03-13 19:49] Judahmeek opened #288 "Possible incompatibility w/ webpack's NamedModulesPlugin"
Adding NamedModulesPlugin to the webpack config somehow removes jquery aliases from the global namespace. Results in the following Bootstrap Utils error:
[code]

[2017-03-14 04:47] sahil1989 commented on #285
@Judahmeek after updating to version 2 of bootstrap loader, I am getting another error Can't resolve sass-loader-resources. Can you suggest, what is wrong here

[2017-03-14 06:45] justin808 commented on #285
@sahil1989 are you misspelling sass-loader-resources: https://github.com/shakacode/sass-resources-loader/

[2017-03-14 06:45] #285 closed

[2017-03-14 06:48] #281 closed

[2017-03-14 06:48] justin808 commented on #281
@jguddas Let me know if you upgrading fixes your issue. We're not going to maintain fixes for beta versions of webpack.

[2017-03-14 06:53] sahil1989 commented on #285
![capture](https://cloud.githubusercontent.com/assets/2972955/23889029/fb6be4da-08b0-11e7-89a4-0ccab8ded563.PNG) This doesn't look like any spelling error. Could you please suggest

[2017-03-14 07:14] justin808 commented on #283
@Mioleris Maybe if you don't minimize for development?

@alexfedoseev @Judahmeek This might be a good reason to get this merged: https://github.com/shakacode/bootstrap-loader/pull/126 and then the minimize can be configured the Node.env?

@robwise with the move to Webpacker for React on Rails, we'll need to minimize the CSS using Webpack.

[2017-03-15 01:35] Judahmeek commented on #285
We'll need a stacktrace and/or a query string in order to figure out how & where `sass-resources-loader` is changing into `sass-loader-resources`. Might be related to #205 somehow?

[2017-03-15 03:25] sahil1989 commented on #285
@Judahmeek, isn't the image above not enough, of not can you kindly guide me, how to generate the stack Trace.

[2017-03-15 03:52] sahil1989 commented on #285
@Judahmeek Below is the complete stack trace:

[code]

Let me know, if anything else is required?

[2017-03-15 06:27] szhang6 commented on #77
Hit this issue when compile and seems above install command not work. Any advice?

ERROR in
Module build failed: Error: Final loader didn't return a Buffer or String
    at DependenciesBlock.onModuleBuild (D:\git_workspace\node_modules\webpack-core\lib\NormalModuleMixin.js:299:42)
    at nextLoader (D:\git_workspace\node_modules\webpack-core\lib\NormalModuleMixin.js:275:25)
    at DependenciesBloc

[2017-03-15 09:53] Judahmeek commented on #287
@mvillis We've got a working project with CSS modules, BS 4, & bootstrap-loader all fully updated. I'll spend some time and see if I can't figure out why bootstrap-loader's example errors out but our project doesn't.

[2017-03-16 05:27] sahil1989 commented on #285
@Judahmeek @justin808 any update on this please. I am really stuck

[2017-03-16 05:28] justin808 commented on #285
`sass-resources-loader`

[2017-03-16 05:32] sahil1989 commented on #285
@justin808 yes sass-resources-loader is there, but don't know how it is getting converted to sass-loader-resources

[2017-03-16 05:34] justin808 commented on #285
You'll have to track this down. Use grep.

Otherwise, take a look a this: http://www.shakacode.com/work/shakacode-coaching-plan.pdf

And we can screen share and help you.

[2017-03-19 00:44] Judahmeek commented on #285
Sorry for disappearing on you, @sahil1989. If grep doesn't help, then you need to look for a dynamic require. Start by checking the query strings being input into bootstrap-loader. No one else has reported a similar issue, so I'm confident that the issue isn't Bootstrap-loader itself.

[2017-03-20 14:11] mvillis commented on #287
got mine working too. was a webpack config error on my behalf (nothing to do with the example in the end). thanks for your help!

[2017-03-20 14:25] timworx commented on #278
I'll do whatever I can to help. Any tips on what would be helpful for debugging?

[2017-03-22 16:39] jguddas commented on #281
@justin808 v2.0.0 works like a charm :smile:

[2017-03-23 04:31] justin808 commented on #278
@timworx See https://github.com/shakacode/bootstrap-loader/blob/master/CONTRIBUTING.md and use lots of print statements!

[2017-03-24 16:30] frizar opened #291 "Module build failed"
Hello, i use bootstrap v4.0.0-beta.6
When i try use `webpack` i get error:

ERROR in ./~/bootstrap-loader/lib/bootstrap.loader.js!./~/bootstrap-loader/no-op.js
Module build failed: Error: Could not resolve module 'bootstrap-sass' which must be installed when bootstrap version is configured to v3.
You must install 'bootstrap' for bootstrap v4 or 'bootstrap-sass' for bootstrap v3.
You can also speci

[2017-03-27 09:12] mircowidmer opened #292 "Update default bootstraprc-4 properties to reflect changes in bootstrap v4 alpha 6"
In the release of alpha 6 (https://github.com/twbs/bootstrap/releases/tag/v4.0.0-alpha.6) the following renames occured:
- tag -> badge
- animation -> transitions

This is not reflected in the default properties provided with https://github.com/shakacode/bootstrap-loader/blob/master/.bootstraprc-4-default

The following lines
`animation: true`
`tags: true`

should be changed to

`transitions: true

[2017-03-27 13:48] TeChn4K commented on #279
I had the very same problem. Happened after a `yarn clean`... assets dir was deleted.

1. Remove the `.yarnclean` file
2. `yarn remove bootstrap-sass`
3. `yarn add bootstrap-sass`

See this issue : https://github.com/twbs/bootstrap-sass/issues/1097

[2017-03-30 16:29] salacis opened #295 "ExtractTextPlugin error using mixins"
The provided example on how to make mixins available within seems to be outdated.

Using ExtracTextPlugin ^2.1.0 leads to the following error message:

`Error: Breaking change: extract now only takes a single argument. Either an options object *or* the
  loader(s). Example: if your old code looked like this:`

`ExtractTextPlugin.extract('style-loader', 'css-loader') You would change it to: `
`Extr

[2017-04-01 03:36] #287 closed

[2017-04-03 19:19] ryannealmes commented on #244
For those that run into this issue, I also ran into this problem and I wasn't initializing my tooltips correctly.

I was doing
[code]
The correct way is below
[code]
Silly error, but it may help someone.

[2017-04-04 15:42] ashugit commented on #4
@ericfields just to mention, did the same mistake and took some time to correct it. Thanks for your closure comment though.

[2017-04-06 08:16] justin808 commented on #295
@salacis Any chance that you can submit a PR to update the examples?

[2017-04-06 08:38] justin808 commented on #292
I commented in #293.

[2017-04-06 08:38] justin808 commented on #279
@nextofsearch should we close this issue?

[2017-04-06 08:41] justin808 commented on #77
@szhang6 can you try on Mac OS or Linux?

[2017-04-06 08:43] #197 closed

[2017-04-06 08:44] justin808 commented on #199
@pawanpoudel what does the bootstrap-webpack package have to do with this repo?

[2017-04-06 08:44] justin808 commented on #199
I'll reopen if you feel we should.

[2017-04-06 08:44] #199 closed

[2017-04-06 08:45] justin808 commented on #10
I'm going to close this for now.

[2017-04-06 08:45] #10 closed

[2017-04-06 08:45] justin808 commented on #273
@actraiser The examples should be updated. Let me know if something is missing.

[2017-04-06 08:45] #273 closed

[2017-04-06 08:48] justin808 commented on #41
Closing for now since no activity since October, 2016.

[2017-04-06 08:48] #41 closed

[2017-04-06 11:58] salacis commented on #295
Can be closed. Loaded wepack v2 by mistake.
https://github.com/webpack-contrib/extract-text-webpack-plugin/blob/master/README.md

[2017-04-06 17:05] giggio commented on #239
Just downgrade `postcss-loader` to `1.2.1` and add `postcss-load-config` version `1.0.0` to your package.json, and you are good to go, until they fix things on `bootstrap-loader`.

[2017-04-06 17:11] killtheliterate commented on #239
@justin808 just reopened #241

[2017-04-07 07:48] #295 closed

[2017-04-07 14:39] nextofsearch commented on #279
@justin808 sure!

[2017-04-07 14:39] #279 closed

[2017-04-08 18:30] Igor-Vuk commented on #291
Yes, I have got the same problem with Bootstrap 4

[2017-04-09 04:36] justin808 commented on #291
@frizar, @Igor-Vuk You need to set the bootstrap version in your config file.

https://github.com/shakacode/bootstrap-loader/blob/master/examples/basic/.bootstraprc-4-example

[2017-04-09 04:36] #291 closed

[2017-04-09 12:04] Igor-Vuk commented on #291
Hello justin808,
afkors I did that. I copied the default config for bootstrap 4 and added -loader to loaders. It's version 4 by default there. It's still not working. Asking me for bootstrap-sass event though bootstrap 4 is designated in config file. It should b epicking up instaled packed bootstrap(version alpha 6). I even tried to designate the whole path to bootstrap folder. No luck.

[2017-04-10 06:13] szhang6 commented on #77
This issue has been resolved which is caused by not import the right file. After correct the import statement, then the program run normally.

[2017-04-10 06:13] szhang6 commented on #77
Thanks @justin808

[2017-04-17 18:59] hafeez1042 commented on #41
Same error
Node Version: 6.10.2
Webpack Version: 2.4.1

[2017-04-17 22:23] justin808 commented on #41
@hafeez1042 You'll need to provide a sample github project to demonstrate this issue.

[2017-04-24 06:43] justin808 commented on #288
@Judahmeek what action are you suggesting?

[2017-04-24 07:58] justin808 commented on #268
@vjpr what is pnpm?

[2017-04-24 13:44] kc3454 commented on #191
@regenrek This problem was due to a regression in stylus-loader when upgrading to webpack 2. The fix has been merged in as follows: https://github.com/shama/stylus-loader/pull/104.

[2017-04-24 19:52] vjpr commented on #268
@justin808 its an npm replacement, like yarn and ied.

[2017-04-28 11:22] jwhitmarsh opened #296 "Bootstrap-loader exposes deployment location in Chrome dev tools"
Is this a configuration issue? What is occurring here?

![screen shot 2017-04-28 at 12 19 27](https://cloud.githubusercontent.com/assets/8026009/25526810/40de65fe-2c0d-11e7-909c-2e0caa545a26.png)

[2017-04-28 19:22] Hebilicious opened #297 "Compiled Bootstrap4 alpha6 doesn't render properly"
Hello, I have a rendering issue while using this package. I did follow the instructions, the examples and did some googling to have a working setup. While everything is being compiled without errors, my layout is slightly different that when I use static CDN files.

To test this I'm using a simple bootstrap example layout with a fixed navbar top, from the official example pages.

Here is my webpac

[2017-04-29 15:23] phenrigomes opened #298 "How can I configure with Karma?"

[2017-04-30 21:14] justin808 commented on #298
I'm really not sure exactly what the question is.

[2017-04-30 21:17] justin808 commented on #297
I'm going to merge #299 shortly.

[2017-05-01 16:49] idangozlan opened #300 "How to prevent bootstrap inline style override my bootstrap overrides on development?"
Hi,

Since on development the bootstrap is injected on inline `<style>` tag, it's override my bootstraps override on the local scss classes.

What is the best practice to not get override by bootstrap's <style> tag?

Thanks.

[2017-05-01 19:36] Hebilicious commented on #297
Hi @justin808 , after running some test it turned out to be an issue on my end. I'm gonna close the issue, but I'm wondering, since the setup provided here is as close as possible to the simplest use of the package (only boostrap sass compilation with nothing else), maybe it's worth adding a similar one to the example section?

[2017-05-01 19:36] #297 closed

[2017-05-02 02:58] justin808 commented on #297
@Hebilicious, for Alpha 6, we need to merge #293!

[2017-05-02 03:40] #292 closed

[2017-05-02 05:31] atalebagha commented on #276
+1.  I'm trying to figure this out also.

[2017-05-03 03:38] raybooysen commented on #280
I have the same issue.  I have my own CSS, and using Bootstrap CSS.  I have my own ExtractTextPlugin instance which extracts CSS to a file.

This loader, once enabled, extracts to a different CSS file (which is probably fine) but how do I minify?

[2017-05-03 03:42] raybooysen commented on #280
I've got this working through: https://github.com/NMFR/optimize-css-assets-webpack-plugin
Which does a post-build optimise.

However, it would be good if the loader allows you to specify some options in how the bootstrap CSS is handled so we can pass in minification options, or extract text options.

[2017-05-04 10:36] justin808 commented on #238
See release 2.1 for alpha 6 support.

[2017-05-04 10:36] #238 closed

[2017-05-04 10:36] justin808 commented on #236
See release 2.1.0.

[2017-05-04 10:36] #236 closed

[2017-05-04 10:37] justin808 commented on #235
Released 2.1.0

[2017-05-04 10:37] #235 closed

[2017-05-04 10:38] justin808 commented on #300
What exactly are you asking @idangozlan?

[2017-05-04 11:46] idangozlan commented on #300
How to prevent bootstrap-loader to put bootstrap styles in inline <style> tag instead of css file

[2017-05-04 17:28] danyim commented on #277
I'm also curious

[2017-05-07 22:08] ERPedersen commented on #277
Setting `extractStyles` to `false ` in _.bootstraprc_ did it for me.

[2017-05-07 22:33] ERPedersen opened #301 "Brand-variables not changing the background and border colors of buttons."
Brand-variables are not changing the background and border colors of buttons. I assume this is unintended, since it has been standard functionality in _bootstrap-sass_ since release.

**.bootstraprc**
[code]

**src/bootstrap/customizations.scss:**
[code]

**index.html**
[code]

**Result:**
![screenshot](http://i.imgur.com/V3hpnyB.png)

[2017-05-07 23:55] justin808 commented on #301
@ERPedersen can you help us debug this? and figure out:

* What version this broke?
* Using what version of bootstrap?

And:

* Line of code causing issue.

[2017-05-08 00:01] justin808 commented on #301
@ERPedersen At the min, please submit a PR that changes something in the https://github.com/shakacode/bootstrap-loader/tree/master/examples/basic directory and then we'll fix this.

[2017-05-08 00:02] justin808 commented on #277
@ERPedersen, @idangozlan Any chance that this should in the docs? If so, please help me with a doc PR.

[2017-05-08 00:10] justin808 commented on #300
@idangozlan is this still a question for you?

[2017-05-08 00:11] justin808 commented on #280
@raybooysen Any PR, code or doc, or just changes to examples, would be awesome!

CC: @idangozlan

[2017-05-08 00:12] justin808 commented on #276
@idangozlan @kuongknight @atalebagha can you try to create an example based on:

https://github.com/shakacode/bootstrap-loader/tree/master/examples/basic

I've looked into this in the past, and it's not clear how we'd even want this to work.

[2017-05-17 14:48] jcyprian opened #303 "Bootstrap loader to use custom bootstrap"
Is is possible for bootstrap loader to load a custom bootstrap sass such as _bootstrap-custom.scss like shown here https://github.com/twbs/bootstrap-sass#sass? I want to be able to namespace bootstrap so that it does not conflict with other classes using something like the following in the _bootstrap-custom.scss file

`
.bootstrap {
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
}
`

Than

[2017-05-21 09:57] xfides commented on #200
Please, help. I have the same problem. I need to set publicPath for extractStylesPlugin. And I don't understand how I can do it. I didn't find instructions via .bootstrarrc. What else do I have?

I have extractTextPlugin in my webpack.config.js. But bootstrap-loader uses it's own loaders. May be I can do this trick another way?

[2017-05-23 20:43] jcyprian commented on #303
I used namespace css loader to update the namespace without using the custom option here.

[2017-05-23 20:43] #303 closed

[2017-05-26 13:23] Mioleris opened #305 "Multiple bootstrap themes"
Is there ability to build multiple bootstrap themes ?
theme-1.css
theme-2.css

And in the end correct one would be included in <head> part depending on config file?

[2017-05-29 13:34] Mioleris commented on #305
I want to extract multiple themes like this:
[code]

but every time it's extracted and merged to single file.

[2017-05-29 16:00] heroselohim commented on #85
I know this issue is closed. But to solve this problem I had to define the global '_jquery_' in **lowercase**.

    global.jquery = jQuery

[2017-05-31 12:56] FQ400 opened #306 "CheckBootstrapVersion breaks when using npm version 5"
When using npm5 the bootstrap-loader fails with the following info.

[code]
**What happens is** the bootstrap-loader checks the version of bootstrap using the `version` field in the `package.json` of the installed package in `node_modules` ([see this file](https://github.com/shakacode/bootstrap-loader/blob/master/src/utils/checkBootstrapVersion.js#L18)). The check itself is done by the package `se

[2017-06-08 07:54] davidfurlong commented on #74
relevant https://github.com/shakacode/bootstrap-loader/issues/41

[2017-06-08 08:18] davidfurlong commented on #41
I resolved this issue by

1) Trying to enable debug mode and figuring out that my `bootstrap.config.js` config that I was using was not working - replaced it with a `.bootstraprc` which then allowed me to enable debug and showed that my `.bootstraprc` was missing a couple of fields.

[2017-06-09 06:52] justin808 commented on #306
I'm open to a PR that solves this issue and ensures we don't break the current behavior.

[2017-06-09 08:14] FQ400 commented on #306
Ok. :)

[2017-06-09 21:29] justin808 commented on #85
@heroselohim any doc PR needed?

[2017-06-09 21:31] justin808 commented on #200
@xfides @mikaelguillin any updates?

If any of you want personalized support, ShakaCode is here to help with our [Coaching Plan](http://www.shakacode.com/work/shakacode-coaching-plan.pdf).

[2017-06-11 15:06] shivashankargalla commented on #77
can you please tell which import statement was wrong and which file? @szhang6

[2017-06-13 19:52] velveret commented on #305
I got this to work following the `multiple-entries` example (set up one entry per theme like https://github.com/shakacode/bootstrap-loader/blob/master/examples/multiple-entries/webpack.dev.config.js#L9). I also had to use `extractStyles` (https://github.com/shakacode/bootstrap-loader#extractstyles) and set the `extract-text-webpack-plugin` to output each CSS file as `[name].css`.

[2017-06-15 23:10] justin808 commented on #305
@velveret Should we put in a doc change for this?

[2017-06-16 14:54] FQ400 commented on #306
The issue I described above seems to be fixed somewhere in between `npm-5.0.1` and `npm-5.0.3`.

I was in the code and refactored a bit to prepare the fix ([2 commits](https://github.com/shakacode/bootstrap-loader/compare/master...FQ400:npm5_issue?expand=1)) before I noticed the issue was gone.

@justin808
The fix is no longer needed, so I close the issue.

[2017-06-16 14:54] #306 closed

[2017-06-16 19:35] Lazarencjusz commented on #47
I have another solution because nothing from here was not work.

Simply add a plugin :)
[code]

[2017-06-21 10:35] yar3333 commented on #306
I have npm 5.0.3 and issue is still here. I regenerate `package-lock.json` by `npm shrinkwrap` and renaming `shrinkwrap.json` to `package-lock.json`, but problem not gone.
[code]

[2017-06-22 06:55] bherila commented on #277
@ERPedersen is this related to https://github.com/shakacode/bootstrap-loader/issues/276 ? I was not able to get it to work in my testing.

[2017-06-29 11:19] hesampour opened #307 "angular 2 webpack bootstrap error bootstrap-loader"
hello.
I working on angular 4 and webpack with ng2-admin.
after updating I have problem loading bootstrap 4 and get this error.
I am using bootstrap loader.

at Error (native)
 @ ./~/style-loader!./~/css-loader!./~/postcss-loader!./~/resolve-url-loader!./~/sass-loader/lib/loader.js?sourceMap!./~/bootst
rap-loader/lib/bootstrap.styles.loader.js?{"bootstrapVersion":4,"useFlexbox":false,"extractStyle

[2017-06-30 13:48] unsafecode opened #308 "webpack3 + ModuleConcatenationPlugin breaks styles"
Upgrading to webpack@3.0.0 itself only made no changes, but including the new `ModuleConcatenationPlugin` to enable Scope Hoisting resulted in styles not being loaded.

[2017-07-02 20:34] Janaka-Steph opened #309 "Warning "Previous source map found, but options.sourceMap isn't set""
Hello,

Despite all my efforts, I can't get rid of the postcss warning "Previous source map found, but options.sourceMap isn't set"
If I remove bootstrap-loader and all related things I don't have the warnings anymore.

Some packages I have:

babel-plugin-react-css-modules: 3.0.0
bootstrap: 4.0.0-alpha.6
bootstrap-loader: 2.1.0
node-sass: 4.5.3
postcss-loader: 2.0.6
postcss-scss: 1.0.1
precss: 1.4

[2017-07-06 23:37] justin808 commented on #307
Hi @hesampour Please more carefully state your issue and possibly create an open source reproduction case. Any research you can do into this is appreciated. Please feel free to request re-opening the issue.

If you want personalized help on this, please consider our [Coaching Plan](http://www.shakacode.com/work/shakacode-coaching-plan.pdf).

[2017-07-06 23:37] #307 closed

[2017-07-06 23:39] justin808 commented on #309
@Janaka-Steph Please debug this a bit further. Thre could be something specific to the versions of the libraries you are using.

Sometimes it's best to just ignore some messages.

Please ask me to re-open this issue when you have more information.

[2017-07-06 23:40] justin808 commented on #308
@unsafecode can you help us troubleshoot this and create a PR to address the support for Webpack 3.0?

[2017-07-07 09:31] Janaka-Steph commented on #309
I don't see what more can I do.

[2017-07-11 21:39] omares opened #311 "Property 'modal' does not exist on type 'JQuery<HTMLElement>'"
Hey,

i am trying to add bootstrap-loader to an already existing angular2 project of mine but i am unable to use the modal component feature in typescript component. When running the webpack watcher i get following error:

    ERROR in [at-loader] ./src/app/_component_/_component_.component.ts:27:34
        TS2339: Property 'modal' does not exist on type 'JQuery<HTMLElement>'.

My webpack config i

[2017-07-12 14:52] omares commented on #311
Okay got it fixed, the major grippe was that the project was still running tsd instead of typings. Also the project was running bootstrap3 not 4. Switching from typings and adding the jquery+bootstrap definitions fixed the issue. Therefor closing this.

Thanks :)

[2017-07-12 14:52] #311 closed

[2017-07-14 13:35] kenjiru commented on #288
Also ran into this issue with webpack@3.2.0. The solution was to revert to webpack@2.x

[2017-07-17 20:21] ratherblue commented on #277
@bherila I just ran into this after a recent Webpack upgrade. Even if you have `extractStyles: false`, if you also have `css-loader?sourceMap` in your config the styles will load in `<link rel="stylesheet" href="blob:http...">` causing a delay in style loading and showing unstyled elements until the "external"  stylesheet loads.

Still looking into a way to get source maps back to being inline.

[2017-07-17 20:40] bherila commented on #277
@ratherblue I think it's related to the source maps being unable to work without an absolute URI prefix being added at runtime.

[2017-07-17 20:41] bherila commented on #277
In the end I decided to just hard code bootstrap css path from the CDN and then load only my specific styles through the loader (so no more bootstrap-loader for me). This also helps reduce the size of my bundle which I've been trying to do anyway (I'm approaching 4 MB here and bootstrap ain't helping! lol)

[2017-07-21 19:54] vegas3416 commented on #308
Is there any word on when Webpack3 will be supported? I'm running Webpack 3.3.0 and installed everything for Bootstrap 4 and am trying to do just a simple require('bootstrap-loader')  and it shot me an initial error that I needed to get bootstrap-sass  so I did and now I am getting this:

RROR in ./node_modules/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.woff
Module parse fa

[2017-07-22 01:11] justin808 commented on #308
@vegas3416 I'm backed up right now with other priorities. Can you help us with this? I'd love to get a PR merged and going for this! Let me know if you want a Slack invite to our ShakaCode room.

[2017-07-22 02:05] justin808 commented on #305
@Mioleris Please tell me if we should re-open this issue. I just updated the docs thanks to @velveret.

[2017-07-22 02:05] #305 closed

[2017-07-22 20:51] unsafecode commented on #308
@justin808 have to find some time for that. Hopefully next week.

[2017-07-22 20:58] vegas3416 commented on #308
Don't worry about it. I ended up just importing the bootstrap into the html
instead of using the bootstrap loader to do it. Besides I'm using Webpack 3
and Bootstrap 4 and the documentation that is out there so far doesn't seem
to touch on the latest stuff just yet which is understandable since is
pretty new.

I'm fairly new to Webpack and more so using it with React otherwise I'd
tackle the Webpa

[2017-07-23 20:37] visualcookie opened #312 "bootstrap-loader not importing activated Styles"
Having a problem when executing my application `yarn dev`. It just loads in buttons, forms etc. except for the navbar. The navbar has not the styling it should have like documented on the Bootstrap page.

My configs: https://gist.github.com/visualcookie/1e790786bd9e73a9341770f87e648566

[2017-07-24 21:02] justin808 commented on #288
I created a label for Webpack v3 issues. Any volunteers to help us with Webpack v3 issues?

[2017-07-27 09:08] b-zee commented on #309
I had the same and solved it by appending `?sourceMap` to `css`, `postcss` and `sass` in the default Bootstrap 4 `.bootstraprc`:

[code]

[2017-07-27 21:44] justin808 commented on #309
@b-zee, @Janaka-Steph can either of you submit a doc PR for this?

[2017-07-27 21:46] justin808 commented on #312
@visualcookie Please create a test repo based on something within:

https://github.com/shakacode/bootstrap-loader/tree/master/examples

and then please ask me to re-open this issue.

[2017-07-27 21:46] #312 closed

[2017-07-27 21:48] justin808 commented on #301
@ERPedersen Please ask me to re-open this issue once you've responded to my questions and suggestions.

[2017-07-27 21:48] #301 closed

[2017-07-27 21:49] justin808 commented on #300
Closing due to inactivity. I'm guessing this issue concerns vue.js `<style>` tags.

[2017-07-27 21:49] #300 closed

[2017-07-27 21:49] #298 closed

[2017-07-27 21:49] #296 closed

[2017-07-27 21:49] justin808 commented on #296
@jwhitmarsh Feel free to request re-opening this issue.

[2017-07-27 21:53] justin808 commented on #286
@jpmelnik Do you still have this question? Please ask me to re-open if you do.

If you found the answer, please consider submitting a doc PR.

[2017-07-27 21:53] #286 closed

[2017-07-27 21:54] justin808 commented on #283
@Mioleris Any chance that you can create a doc PR for this one?

[2017-07-27 21:55] justin808 commented on #283
@Mioleris I'll reopen this one if you recommend we do so.

[2017-07-27 21:55] #283 closed

[2017-07-27 21:56] justin808 commented on #278
@timworx what happened with this issue? Any doc PR needed?

[2017-08-01 17:26] ERPedersen commented on #301
@justin808 this is no longer an issue in the latest version of Node JS `6.11.2` 👍

[2017-08-10 11:27] jhenrich opened #313 "Can`t get it to work with simple Webpack config"
Hey,
I just can not get the plugin to work with my project. I have a simple webpack config like this:
[code]

I installed all the required dependencies for bootstrap 3 as said by the documentation. But i don`t know how to active the loader now because i don`t know where to put the ``require('bootstrap-loader');``.

The other option: ```entry: [ 'bootstrap-loader', './app' ]``` won`t work either be

[2017-08-10 15:32] vpanjganj opened #314 "README doesn't read well"
It would be amazing if `README.md` starts with essential information about `bootstrap-loader` and all the promotional content move to the end.

[2017-08-10 15:41] kjartanvalur commented on #217
Any news on this? I´m now using @angular/cli  - v1.3

[2017-08-10 20:05] justin808 commented on #314
Hi @vpanjganj, we depend on this project and other related projects to help potential clients discover our company so we can take the time away from client work to help with open source.

[2017-08-10 20:05] #314 closed

[2017-08-11 01:17] justin808 commented on #217
@kjartanvalur if you can help with this, I'd really appreciate it.

[2017-08-11 08:54] justin808 commented on #313
@jhenrich Please see the examples directory for inspiration.

If you want personalized help on this, please consider our [Coaching Plan](http://www.shakacode.com/work/shakacode-coaching-plan.pdf).

[2017-08-11 08:54] #313 closed

[2017-08-11 11:07] Ks89 opened #315 "Bootstrap 4 beta 1 support"
Hi!
I updated to bootstrap@4.0.0-beta and now I've this error:

[code]

Beta 1 dropped Normalize.css as a dependency

[2017-08-11 11:08] Ks89 commented on #315
Be careful, because tons of variables were renamed:

https://github.com/twbs/bootstrap/issues/22414

https://github.com/twbs/bootstrap/issues/22092

[2017-08-11 11:22] Ks89 commented on #233
I have a similar boilerplate, partially based on AngularClass.
I don't know If it is useful for you, but if you wanna copy my config check [HERE](https://github.com/Ks89/angular-webpack-skeleton)

I don't know if you can apply everything to AngularClass.

[2017-08-11 11:34] mbenzenhoefer commented on #315
_normalize is not contained any more in bootstrap 4 beta. You need to remove this from your .bootstraprc.

[2017-08-11 12:12] Ks89 commented on #217
Oh damn I forgot this issue, I'm sorry :)

@kjartanvalur I created this example
https://github.com/Ks89/angular-cli-bootstraploader very very quickly right now. I hope you like it :)
Remember to execute `ng eject` to create `webpack.config.js`.

I also installed some dependencies (I used the official readme of bootstrap-loader).

[2017-08-11 12:19] Ks89 commented on #315
I removed responsive-embed and normalize from .bootstraprc and now I have this error:

[code]

[2017-08-11 12:21] mbenzenhoefer commented on #315
adding this to the custom variables file fixed the issue for me:
`@import "~bootstrap/scss/_functions.scss";`

[2017-08-11 12:25] Ks89 commented on #315
which "custom variables file"? A scss file inside your project, or _variables.scss inside bootstrap?

[2017-08-11 12:44] jhariani commented on #315
I was able to get 4 beta to work with the following:

1. Set normalize: false and responsive-embed: false in my .bootstraprc
2. Add @import "~bootstrap/scss/_functions.scss" to the top of my pre-customizations.scss file

[2017-08-11 13:24] djnaumov commented on #315
And
3. Add package Popper.js

[2017-08-11 13:28] mbenzenhoefer commented on #315
@Ks89 @jhariani: Yes just add this file to any included scss file before the failing code part (either in your custom variables file or in the pre-customizations file.

[2017-08-11 13:47] Ks89 commented on #315
Thank u guys, now It's working :)

I added .  'Popper': 'popper.js'  into "ProvidePlugin({...})" in my webpack config.

[2017-08-11 14:52] #217 closed

[2017-08-13 07:51] justin808 commented on #315
I'm going to merge #125 soon. However, is there a good reason to support both the alpha and the beta with the update?

[2017-08-14 11:34] Ks89 commented on #315
@justin808 I think that alphas should be removed. Now apis should be stable, so all previous alphas are useless.

[2017-08-14 11:37] Ks89 commented on #315
Attention: to prevent this error
[code]
while using Popper with Webpack 3, import Popper in this way:
[code]

not simply with 'Popper': 'popper.js'

[2017-08-14 18:58] jugg1es commented on #315
None of this worked for me: setting normalize and responsive_embed to false, importing the functions.scss file and installing popper (and adding to webpack).

I'm using webpack 2 though

[2017-08-14 19:09] athimannil opened #317 "How to run postcss and its plugins in bootstrap-loader ?"
Import new styles and details through. ```appStyles: ./src/scss/app.scss``` but unfortunately `autoprefix` or any css fix not working from the webpack 😞

**webpack.config.js**

[code]

[2017-08-14 20:16] justin808 commented on #315
See: #316.

This is almost ready to go. I commented:

[code]

[2017-08-14 20:17] justin808 commented on #315
@jugg1es @Ks89 feel free to try to help @ivankalinin getting this to the finish line.

[2017-08-15 13:35] janusch opened #318 "[question] Optimize bs4.css with this loader?"
Hey,
I really like this project and have been using the bs4 version since it was offered.
Now with the first bs4-beta release I came to ask myself, why is it again that this loader is needed?

In the official bs documentation is a section on webpack now:
https://getbootstrap.com/docs/4.0/getting-started/webpack/

What was intriguing earlier was to use it in conjunction with css modules. Now I just

[2017-08-16 09:09] Ks89 commented on #315
@jugg1es  what does it mean "None of this worked for me". Could you share your log?

[2017-08-16 13:18] jugg1es commented on #315
After trying all of the suggested remedies, I was still getting

[2017-08-16 13:19] jugg1es commented on #315
After attempting all of the steps suggested, I was still getting:

`Argument `$color` of `darken($color, $amount)` must be a color`

I don't have the full log because I just set bootstrap to be fixed at

`"bootstrap": "4.0.0-alpha.6",`

and moved on for now.

[2017-08-16 13:34] koolkt commented on #308
Im using webpack 3.5.4 and setting up the font loader like this:
[code]
 resolved the same issue

[2017-08-17 06:15] justin808 commented on #318
@janusch Let me know if you want to collaborate. These ideas sound promising!

[2017-08-17 06:52] ciki6 opened #319 "there is no bootstrap/scss/_normalize.scss in bootstrap ,why i need to import it ?"
[code]
so i don't know why is it
there is no `_normalize.scss` in ` ../bootstrap/scss/`
I dont know why i need to import it ....
 (my english is so bad . sorry =) )

[2017-08-17 06:57] #319 closed

[2017-08-17 06:58] ciki6 commented on #319
OK i find it in #315  thx

[2017-08-17 11:49] Ks89 commented on #315
@jugg1es I think you should check if in your .bootstraprc "preBootstrapCustomizations:" is uncommented, and inside the precustomizations file, at the beginning, you have this  @import "~bootstrap/scss/_functions.scss".

[2017-08-17 11:52] Ks89 commented on #315
@jugg1es I created two templates with bootstrap-loader and bootstrap 4 beta. If you want you could check for differences.
Webpack 3: https://github.com/Ks89/angular-webpack-skeleton
angular-cli: https://github.com/Ks89/angular-cli-bootstraploader

[2017-08-18 07:37] justin808 commented on #315
Merged! and released 2.2.0! See #316.

[2017-08-18 07:37] #315 closed

[2017-08-18 14:01] janusch commented on #318
@justin808 Thank you for getting back to me!
I'll spend some time this weekend to straighten out my thoughts on this. I will also do some testing on what webpack and cssmodules can help with if we want to eliminate global styles and unused styles.
More input would be highly appreciated. I am not entirely sure on how to approach this yet.
I'll keep you posted!

[2017-08-18 21:03] justin808 commented on #318
Please email me: [justin@shakacode.com](mailto:justin@shakacode.com) for a slack invite for collaboration with my team.

[2017-08-24 20:47] JaKXz opened #322 "no-op.js very large in Webpack v3 bundle"
This might be a red herring, and a completely invalid issue, but I have been wondering about it for a while so I _need_ to ask.

In my project, we are using `bootstrap` v3.3.7, `bootstrap-loader` v2.1.0, and `webpack` v3.5.4 with the following <summary>.bootstraprc file:
<details>

[code]
</details>
</summary>

And webpack `entry`:
[code]

With this config, `webpack-bundle-analyzer` tells me that

[2017-08-27 23:37] Basel78 commented on #48
Hello,
I am building project with Angular2 with Typescript and need to use bootstrap 4.alpha for my navbar, that is complaining about Tether to be added, I have updated the SystemJs.config.js with Tether but still bootstrap complaining with same error mentioned above,
any idea how to update Tether properly using SystemJs.config.js to get bootstrap running properly,
Thanks

[2017-09-06 05:39] IvanKalinin opened #323 "How to extract styles in right way?"
Hi there.
I need some help to setting up configuration to extract files.

With that configuration budle.css includes the only bootstrap styles.

if I use `bootstrap-loader` in vendor instead then bundle.css includes the only app styles.

I need both bootstrap and app styles in one budle.css file
[code]

[2017-09-07 10:01] JamesTheHacker opened #324 "What's with the marketing blurb in the README?"
Is the marketing blurb in the README required? It looks unprofessional and obscures the documentation. If anything it should be at the bottom of the README right at the end.

A better approach to sourcing work this way is to upload an extended documentation to your website. This gives you the perfect platform for self promotion.

I've had to flick back and forth from the docs for a good couple of

[2017-09-07 15:32] thebedivere opened #325 "Error: Cannot find module './lib/bootstrap.loader!./no-op.js'"
I'm trying to get this set up in webpack, and I am stuck with errors.

If I try `require('bootstrap-loader');` at the top of my webpack.config, I get `Error: Cannot find module './lib/bootstrap.loader!./no-op.js'`

If I try `module.exports = { entry: [ 'bootstrap-loader, etc...` I get `Module build failed: Error: Failed to find '../bootstrap/scss/_mixins'`

Ok, I try setting the path to bootsrap.

[2017-09-07 20:02] #324 closed

[2017-09-10 15:42] Ks89 commented on #322
@justin808 This guy is right.

I'm Using Angular 4.x.x with Webpack 3.x.x

Dev config:
<img width="1636" alt="schermata 2017-09-10 alle 17 36 45" src="https://user-images.githubusercontent.com/6057207/30250449-c8945f16-964e-11e7-9689-e1a55742b047.png">

Prod config but not AOT compiler
<img width="1622" alt="schermata 2017-09-10 alle 17 38 17" src="https://user-images.githubusercontent.com/6057207

[2017-09-10 15:45] Ks89 commented on #322
@JaKXz  You said "bootstrap-loader v3.3.7", I suppose bootstrap 3.3.7. :)
Are you using the latest stable version of bootstrap-loader 2 like me?

PS: However I'm using bootstrap 4 beta, so it seems not related to the bootstrap version

[2017-09-12 14:28] eskinderg commented on #315
I had the same issue with my angular-cli app. Using a diffrent version of **node** and **npm** fixed my issue. If it helps, try using **NVM** to try different version of node.

[2017-09-12 20:43] mxmtsk opened #328 "File to import not found or unreadable: ../bootstrap/scss/_functions"
Out of nowhere my deploy script fails with this error:

[code]

On my local machine it still runs fine. I'm using the following versions:

[code]

They have added a _functions file to bootstrap, but why is it trying to load it even though I'm referencing a much older bootstrap version?

https://github.com/twbs/bootstrap/pull/22820/files

[2017-09-12 20:50] mxmtsk commented on #328
Oh well, nvm. Fixed it by setting the bootstrap-loader version to use the beta.12 fixed.

[code]

[2017-09-12 20:50] #328 closed

[2017-10-19 22:40] brallanAguilar opened #330 "Customization files are ignored"
Hello. I am using Bootstrap 4.0.0-beta.2 and the files specified on `preBootstrapCustomizations` and `bootstrapCustomizations` are ignored. For example, in `bootstrapCustomizations` I have:

[code]
and that setting is never read. Before the beta 2 release, all was working nicely.

[2017-10-20 15:39] mahisha opened #331 "jQuery(...).tooltip is not a function"
I am trying to integrate `bootstrap-loader` in https://github.com/AngularClass/angular-starter but not able to make it work.

- Installed required NPM packages
`npm install --save-dev bootstrap-loader bootstrap-sass css-loader node-sass resolve-url-loader sass-loader style-loader url-loader jquery @types/bootstrap @types/jquery`
- Added `webpack.ProvidePlugin` entry in plugins
- Added `bootstrap-l

[2017-10-26 16:31] mahisha commented on #331
https://github.com/AngularClass/angular-starter/issues/1906

[2017-10-30 17:17] jwhitmarsh commented on #306
I'm also seeing this issue with npm version 5.5.1. @yar3333 did you find a work around for this?

[2017-10-30 22:54] davidfurlong commented on #322
My bootstrap-sass is even bigger. Any ideas?

[2017-10-31 20:32] yar3333 commented on #306
@jwhitmarsh Sorry, I don't remember the solution for my case... something like downgrading of boostrap-loader...

[2017-10-31 21:13] davidfurlong commented on #41
Full circle! Back with this issue 👎

[2017-11-03 09:46] JESii commented on #325
Same here, and lots of other posts with this issue -- any suggestions as to a resolution?

[2017-11-04 20:36] justin808 commented on #325
@thebedivere @JESii can you sync the repo and get the examples to work:

https://github.com/shakacode/bootstrap-loader/tree/master/examples

Most likely, there's some change in the versions of the libraries, webpack, etc.

My team would love to help, but we need to prioritize our "pro customers". For more information on that program, see [http://www.shakacode.com/work/shakacode-coaching-plan.pdf](

[2017-11-04 20:39] justin808 commented on #331
@mahisha you don't have jQuery loaded in the browser properly.

[2017-11-04 20:39] #331 closed

[2017-11-04 20:39] justin808 commented on #330
@apcomptec can you try to reproduce this in the https://github.com/shakacode/bootstrap-loader/tree/master/examples ?

[2017-11-04 20:45] justin808 commented on #323
@IvanKalinin I think this is more of a Stack Overflow than an "issue".

If you want personalized help on this, please consider our [ShakaCode Pro Support Plan](http://www.shakacode.com/work/shakacode-pro-support.pdf).

[2017-11-04 20:47] justin808 commented on #322
This sounds like a documentation and research issue.

[2017-11-04 21:08] apcomptec commented on #330
@justin808 I clone the repo, and did the following (using the *basic* example):

[code]
but I got:

[code]
so, at the moment I can't verify your question

[2017-11-05 09:12] mahisha commented on #331
@justin808 If you check my repository, when I followed the given procedure some how both
- bootstrap bundle and
- main bundle
have jQuery library included.

I also tried adding some console log statements in jQuery.js files and found it is loading twice.

I guess we should have only one jQuery library included in generated bundles. Not sure where the problem is. Could you please help me how can I

[2017-11-05 09:20] justin808 commented on #331
@mahisha If you want personalized help on this, please consider our [ShakaCode Pro Support Plan](http://www.shakacode.com/work/shakacode-pro-support.pdf).

[2017-11-05 09:27] mahisha commented on #331
@justin808 Thanks for quick reply. I will definitely look into your Pro Support Plan.

[2017-11-17 08:58] #186 closed

[2017-11-17 17:40] agokrim commented on #263
I have the same issue when i use
$(".carousel").carousel({
  interval: 3000
});

my  entry in webpack.config.js
  entry: {
        app: [ './src/app.js',  ],
        'vendor': [
            bootstrapConfig, 'font-awesome-loader'
        ]
...
This throws $(...).carousel is not a function

But when i use this entry  it works
 app: [ './node_modules/bootstrap-sass/assets/javascripts/bootstrap/carous

[2017-11-21 16:27] raunofreiberg commented on #325
+1 to this. Can't get the examples to work either in any way.

Traceback:
[code]

[2017-11-22 05:41] justin808 commented on #325
@raunofreiberg focus on this error:

[code]

[2017-11-27 12:25] Andrey-Pavlov commented on #330
Hello. How to override $bg-{color}? Customization files don't work for me.

[2017-12-12 13:47] denizdogan commented on #127
No longer relevant to me, closing

[2017-12-12 13:47] #127 closed

[2017-12-13 16:13] WillooWisp commented on #330
Any progress here?

[2017-12-14 08:20] justin808 commented on #330
I'd need some help to get to bottom of this issue.

[2017-12-14 19:11] nootrope commented on #330
@apcomptec : I've been able to use and customize BS4 by [following their Webpack notes](https://getbootstrap.com/docs/4.0/getting-started/webpack/), bypassing bootstrap-loader altogether. Custom overrides for default variables, via a `_custom.scss` `@import` [are addressed](https://getbootstrap.com/docs/4.0/getting-started/webpack/#importing-precompiled-sass). As frequently as BS4 is changing, I d

[2017-12-14 19:36] justin808 commented on #330
@nootrope @WillooWisp @apcomptec I'm happy to merge any PR shown to be valuable.

[2017-12-22 20:52] JaKXz commented on #322
@justin808 I don't know what you mean by

If you mean this might be a node or webpack issue, blowing up the filesize way bigger than it is, then sure...

But the question here is about `bootstrap-loader` itself, and why the `no-op.js` file is in my bundle at all. With respect, I'm not asking for help on minimizing my bundle size, I'm asking about the function of this library. No worries if you don

[2017-12-22 21:03] Judahmeek commented on #322
IIRC, the purpose of the `no-op.js` file is to provide other bootstrap-loader scripts an empty resource object in various webpack queries.

[2017-12-24 02:11] ufhy commented on #280
this is my .bootstraprc
[code]

[2018-01-01 13:07] abudayah commented on #244
I'm using Vuejs and this is the solution I've got:

and this is works fine but is there any reason to use `dist` instead of `src` ?

**webpack.base.conf.js**
[code]

in my vue component:
[code]

[2018-01-05 14:16] rutujakakade opened #333 "when i try to compile my angular js application im getting this error"
Path must be a string. Received undefined
TypeError: Path must be a string. Received undefined

[2018-01-10 07:10] mmn6d6d6e opened #334 "Css entry for .card-header-tabs is placed in wrong order"
Hello. I found out that there is css entry on bootstrap-loader generated style that placed in wrong order.

When using vanilla boostrap css via link rel on header:
![image](https://user-images.githubusercontent.com/19344000/34759296-5a573108-f60d-11e7-8e30-3509f78375f2.png)

When using bootstrap-loader:
![image](https://user-images.githubusercontent.com/19344000/34759351-c113cfc8-f60d-11e7-9e71-cb

[2018-01-16 18:39] derwaldgeist commented on #41
I got this error when I was running my app's main index.js file (including redux provider and router) through jest for testing purposes. Maybe it's because no real DOM is available in this case, although I've enabled jsdom? In the browser, everything works as expected.

[2018-01-17 18:00] grounded-warrior opened #335 "grid-breakpoints now working"
I can't seem to use grid breakpoints in my scss with the following error

    @return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
            ^
      Undefined operation: "null lt 5".

i have

    # Mixins
    mixins: true

in my `.bootstrap.rc` and in my webpack.js i have

        test: /\.s?css$/,
        use: [
          'style-loader',
          'css-loader',

[2018-01-18 22:54] chadsaun commented on #283
Is there a way to make `minimize` dynamic based on environment?

[2018-01-19 04:26] alexfedoseev commented on #283
@chadsaun Yes: https://github.com/shakacode/bootstrap-loader#styleloaders

[2018-02-05 07:40] phfoxer commented on #85
Add alias on webpack
![image](https://user-images.githubusercontent.com/5194383/35792913-2a354d0e-0a2e-11e8-96b1-40b48659a6b4.png)

see #2180

[2018-02-09 22:01] Glavin001 commented on #315
Same issue here:

[code]

I do not understand if there was a solution described here.

Here is what worked for me:

[code]

Hope that helps someone else! 😃

[2018-02-20 06:06] Kalpesh300 commented on #311
Hey, I am using same bootstrap 4 tooltip. This same error is there and I am not able to solve it. Can you tell how did you fix that?

[2018-03-10 14:43] DavidHalkin commented on #335
Hey. I have the same problem. you could fix it? )

[2018-03-11 01:30] AndrewRayCode opened #337 "How to import styles only, not Javascript?"
I'm using [react-bootstrap](https://react-bootstrap.github.io/) which adds the Javascript already to the project. It requires the end user to load the styles. In the past I've used [`bootstrap-sass-loader`](https://github.com/shakacode/bootstrap-sass-loader) as one of my Webpack entry points, but now that's deprecated.

[2018-03-15 23:11] andres314 commented on #337
I think what you are looking for is in the documentation: [https://github.com/shakacode/bootstrap-loader#scripts]( https://github.com/shakacode/bootstrap-loader#scripts)

[2018-03-20 18:34] yazdog8 opened #338 "Webpack 4 deprecating extract-text-webpack-plugin"
It looks like Webpack is deprecating extract-text-webpack-plugin in favor of [mini-css-extract-plugin](https://github.com/webpack-contrib/mini-css-extract-plugin). Discussion can be found here: https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/731.

Are there plans to upgrade the loader for Webpack 4?

[2018-03-23 14:12] VyvIT commented on #338
Tired to fiddle with **bootstrap-loader\lib\utils\buildExtractStylesLoader.js** by switching to  mini-css-extract-plugin:
[code]
Seems to do the job for my project, let me know if I can create a PR of some sort.
Also, not sure about the {"omit":1,"remove":true}, probably those are no longer needed as well? Right?

My 2 cents: would it make sense to make some sort of configuration to specify the lo

[2018-03-24 19:58] n-rodriguez opened #339 "Bootstrap CSS not extracted in staging environment"
Hi!

I'm using `bootstrap-loader` in a Rails app with [rails/webpacker](https://github.com/rails/webpacker).
In `.bootstraprc` I have `extractStyles: true` and in dev environment everything works fine.
CSS is well extracted and if I compile the assets, Bootstrap CSS in included in `application.css` :
[code]

But in staging environment Bootstrap CSS is not included in `application.css` :

[code]

N

[2018-03-25 20:59] justin808 commented on #338
@yazdog8 If you can help us with this, that would be great.

[2018-03-26 08:19] n-rodriguez commented on #339
Got it : the `npm_modules` dir is symlinked. See [usage](https://github.com/shakacode/bootstrap-loader#usage) :

[2018-03-26 14:03] VyvIT commented on #338
@justin808
Not very familiar with webpack loaders, etc., but here's my attempt.
https://github.com/shakacode/bootstrap-loader/pull/340

[2018-03-28 20:46] Rundik commented on #335
same

[2018-03-29 07:45] DavidHalkin commented on #335
@import
	'_custom_bootstrap_vatiables.scss',
	'../../bower_components/bootstrap/scss/_functions.scss',
	'../../bower_components/bootstrap/scss/_variables.scss',
	'../../bower_components/bootstrap/scss/_mixins.scss',
	'_header',
	'_footer';

[2018-03-29 15:14] Rundik commented on #335
I fixed this error. I misspelled breakpoint's name

[2018-04-09 05:57] ttma1046 opened #341 "Something to do with Resolve@1.7.0 which released yesterday. Cannot find module '.....\node_modules\bootstrap-sass\package.json\package.json'"
Since yesterday's release of Resolve@1.7.0
resolveModule.js returns the `....\node_modules\bootstrap-sass\package.json` instead of `....\node_modules\bootstrap-sass\`

[2018-04-09 06:55] gauravcm30 commented on #341
@ttma1046  I have the same problem, `node_modules/bootstrap/package.json/package.json`.
Does anybody know how to resolve this?

[2018-04-09 06:57] phyoemdy commented on #341
I am having the same issue.
ERROR in ./~/bootstrap-loader/lib/bootstrap.loader.js!./~/bootstrap-loader/no-op.js
Module build failed: Error: Cannot find module '/node_modules/bootstrap/package.json/package.json'
    at Function.Module._resolveFilename (module.js:470:15)
    at Function.Module._load (module.js:418:25)
    at Module.require (module.js:498:17)
    at require (internal/module.js:20:19)

[2018-04-09 07:28] michaelwalloschke commented on #341
Facing the same issue as @phyoemdy, since bootstrap-loader includes "require" with a minor semver definition that pulls in require@1.7.0

[2018-04-09 07:38] michaelwalloschke commented on #341
I added this to my package.json for now:
`...
"resolutions": {
    "**/bootstrap-loader/resolve": "1.6.0"
  },
...`

[2018-04-09 08:46] paleite commented on #341
Have the same issue.

Used @michaelwalloschke 's solution and it works great.

[2018-04-09 11:14] ttma1046 commented on #341
I basically hardcode the version number of 'resolve'  `npm install resolve@1.4.0 --save-dev` in my project, and it works.

[2018-04-09 13:06] paleite commented on #341
@ttma1046 That works, but that makes `resolve` a dependency of **your** project.

[2018-04-09 15:03] gilhanan commented on #341
I pinned to version 1.6.0 in `package-lock.json` by following the instruction [here](https://stackoverflow.com/a/48524488)

[2018-04-09 15:48] wouter-vdb commented on #341
An alternative solution is to add `bootstrapPath=path/to/bootstrap-sass` in the query string for your `bootstrap.loader` entry in your Webpack config. When this parameter is provided, _bootstrap-loader_ does not need to use _resolve_ to infer the path, thus circumventing the breaking change in _resolve_.

[2018-04-09 21:04] dlhinkley commented on #341
Same problem here.  npm install resolve@1.6.0 in my project worked for me.

[2018-04-09 23:03] justin808 commented on #341
A PR would be appreciated! I'll review ASAP if one can get submitted.

[2018-04-10 05:39] anandrikka opened #342 "Cannot find module error: /~/bootstrap-loader/lib/bootstrap.loader.js!./~/bootstrap-loader/no-op.js"
My application is in production for close to 1 year and I should say there are no changes done to package.json. Suddenly bootstrap-loader stopped working and builds are getting failed.

"bootstrap-loader": "^1.3.3",
"bootstrap-sass": "^3.3.7",

[code]

There are no changes to my package.json for more than an year & all of sudden it stopped working.

[2018-04-10 10:00] lemonCMS commented on #342
I have the same problem. As of today. I tried removing the node_modules and installing it again. I have tried it with npm and yarn.

Setting the loglevel to debug shows no useful information.

[2018-04-10 10:34] ttma1046 commented on #342
take a look at the issue I logged.
Problem with resolve@1.7.0

[2018-04-10 11:00] lemonCMS commented on #342
i saw it after i replied her. so for now i have "fixed" the problem. thx.

[2018-04-10 12:04] anandrikka commented on #342
@lemonCMS how did you fixed that

[2018-04-11 07:37] jedlikowski commented on #341
@justin808 There is a PR ready :)

[2018-04-11 12:46] lemonCMS commented on #342
@anandrikka i pinned resolve version 1.6.0 as a dependency for now in my own project until this is solved. Hence the quotes.

[2018-04-11 13:41] anandrikka commented on #342
@lemonCMS Thank you, that solved issue

[2018-04-11 13:43] anandrikka commented on #342
closing issue as #343 fixed it

[2018-04-11 13:43] anandrikka commented on #342
closing issue as #343 fixed issue.

[2018-04-11 13:43] #342 closed

[2018-04-12 02:34] blasruiz commented on #341
I found the problem:

bootstrap-loader/src/utils/checkBootstrapVersion.js

Line 14

From
`const npmVersion = require(path.join(bootstrapPath, 'package.json')).version;`

To
`  const npmVersion = require(path.join(bootstrapPath)).version;`

Explanation the var bootstrapPath include the "package.json"

[checkBootstrapVersion.js.zip](https://github.com/shakacode/bootstrap-loader/files/1901135/checkBo

[2018-04-12 05:01] ttma1046 commented on #341
@blasruiz

This is not the problem and this is also not the fix.

The cause of the issue is that the dependency 'resolve'@1.7.0 returns the bootstrapPath including 'package.json', it doesn't in its previous version.

[2018-04-12 06:55] lemonCMS commented on #341
@blasruiz There is a high change of this approach to stop working and i would not recommend this when there is a very simple workaround where you do not  need to edit code in your ````node_modules```` directory. Just pin ````resolve```` to version ````1.6.0```` in your ````package.json```` until there is a proper fix.

[2018-04-12 11:46] timurso commented on #341
I think this has been fixed in the new patched version of "resolve" (1.7.1). [https://github.com/browserify/resolve/releases/tag/v1.7.1](url)

[2018-04-19 20:49] abepark01 opened #345 "How do I add bootstrap-loader to the webpack object entry point"
Hello!

The documentation uses an array when adding `bootstrap-loader` to the entry point, but how would I do the same when using an object for the entry point?

[code]

[code]

[2018-04-22 19:54] sylogex opened #346 "Support webpack4 ?"
Hi! This lib doesn't support webpack4 ?

npm install --save-dev extract-text-webpack-plugin@4.0.0-beta.0

npm WARN bootstrap-loader@2.2.0 requires a peer of extract-text-webpack-plugin@>=2.1.0 but none is installed. You must install peer dependencies yourself.

[2018-04-22 22:13] justin808 commented on #346
@sylogex I want this to! Can you give me a hand?

I think this is related: https://github.com/shakacode/bootstrap-loader/pull/340

Let's do this!

I've got a slack for contributors or anybody interested. Email me: justin@shakacode.com

[2018-04-23 01:06] justin808 commented on #345
@abepark01 I think the array is like

[code]

so the plain array is just the default name.

[2018-04-23 01:06] #345 closed

[2018-04-23 01:07] #341 closed

[2018-04-29 07:34] abepark01 commented on #345
@justin808 Thank you! 🤙

[2018-05-09 15:53] Nekoframe commented on #315
@mbenzenhoefer It works for me now, thank you very much.
I spent half a day trying to fix that issue :(

[2018-06-04 03:43] seuros commented on #338
@justin808 i think this issue can be closed

[2018-06-04 03:43] seuros commented on #346
@justin808 i think this issue can be closed.

[2018-06-05 23:08] justin808 commented on #346
Yep, shipped!

[2018-06-05 23:08] #346 closed

[2018-06-05 23:08] justin808 commented on #338
Yep, shipped!

[2018-06-05 23:08] #338 closed

[2018-06-12 08:20] shiyiya opened #349 "can't Extract css (webpack 4)"
webpack can't use``` extract-text-webpack-plugin```
[code]
![image](https://user-images.githubusercontent.com/34017352/41278363-44643590-6e5c-11e8-93e1-c1f08cb91639.png)
![image](https://user-images.githubusercontent.com/34017352/41278452-73dab146-6e5c-11e8-9e4e-1c078dd72827.png)

[2018-06-13 02:49] justin808 commented on #349
Webpack 4 uses https://github.com/webpack-contrib/mini-css-extract-plugin

[2018-06-13 02:49] #349 closed

[2018-06-13 17:44] t47io commented on #338
Question about this. So `mini-css-extract-plugin` is only compatible with `webpack` v4, which makes `bootstrap-loader` v3 not backward compatible with `webpack` v3. Should this breaking change be announced in `CHANGELOG` and release notes?

[2018-06-14 01:39] shiyiya commented on #349
i was used it (mini-css-extract-plugin), but can't extract  css.

[2018-06-14 01:47] shiyiya commented on #349
@justin808

[2018-06-28 17:24] xinghengwang opened #350 "Error regarding couldn't find `mini-css-extract-plugin` module"
But 'mini-css-extract-pluggin' is installed, and inside the node_modeules directory.

So this error is very confusing:

[code]

Inside my `node_modules/` folder:
![screen shot 2018-06-28 at 10 23 32 am](https://user-images.githubusercontent.com/6666687/42050297-5b529d60-7abd-11e8-85fc-4b5e12829bfb.png)

Any ideas?

[2018-06-28 21:31] #350 closed, assigned to nobody

[2018-07-10 11:20] muuvmuuv opened #351 "Bootstrap events not working"
Today I noticed that the events are not working with bootstrap-loader. I‘m using tabs, tooltip and scrollspy and want to watch `show.bs.tab` event. But jquery get‘s nothing.

Here my configs.

.bootstraprc:
[code]

webpack.config.js:
[code]

the javascript:
[code]

btw, if someone have ideas to optimize my webpack conf just say it :)

[2018-07-18 08:04] hafidsmail commented on #41
Having the same problem and still giving me the same error `ERROR in ./node_modules/bootstrap-loader/no-op.js`

[2018-07-18 08:29] hafidsmail opened #352 "ERROR in ./node_modules/bootstrap-loader/no-op.js"
I'm trying to run a simple project using ( sass css bootstrap typescript ) in webpack, but I am stuck with errors,
`ERROR in ./node_modules/bootstrap-loader/no-op.js (./node_modules/bootstrap-loader/lib/bootstrap.scripts.loader.js?{"bootstrapVersion":3,"useCustomIconFontPath":false,"extractStyles":false,"styleLoaders":["style-loader","css-loader","sass-loader"],"styles":["mixins","normalize","prin

[2018-07-18 13:44] yacxn commented on #352
hahhahahha damdouma

[2018-07-18 13:45] yacxn commented on #352
just do
rm -rf hafid

[2018-07-18 13:47] hafidsmail commented on #352
ok i will see
thank you by the way :) .

[2018-07-26 03:01] manishankar08 commented on #352
Same error, Please suggest some solution

ERROR in ./node_modules/bootstrap-loader/no-op.js (./node_modules/bootstrap-loader/lib/bootstrap.loader.js!./node_modules/bootstrap-loader/no-op.js)
Module build failed (from ./node_modules/bootstrap-loader/lib/bootstrap.loader.js):
Error: Config file cannot be parsed: E:\WORK\webpack\.bootstraprc'
    at parseConfigFile (E:\WORK\webpack\node_modules\boots

[2018-07-26 07:44] justin808 commented on #352
@hafidsmail and @manishankar08 Please do some debugging and let me know if you have a doc or code PR. If you really need consulting help, please [get in touch](mailto:justin@shakacode.com).

[2018-07-30 11:59] muuvmuuv opened #353 "Use cosmiconfig to get the bootstraprc file"
It happened today that I had to realize that bootstrap-loader cannot find my `.bootstraprc.json`. There is a package called [Cosmiconfig](https://github.com/davidtheclark/cosmiconfig) that would better handle those configs.

[2018-07-30 19:51] justin808 commented on #353
Excellent suggestion!

@muuvmuuv I'd be open to considering a PR.

[2018-08-12 04:01] justin808 commented on #353
@alexfedoseev Agree it's a good idea?

[2018-08-12 12:02] vaibhavmandlik opened #354 "Issue in loading popover"
Hello,

I'm running into this issue since 3 days but couldn't find solution for this. I'm using popover exactly same as described in docs page. But it is giving an error:

`Uncaught ReferenceError: $ is not defined`

Where I'm going wrong.

This is my HTML:
`<button type="button" class="btn btn-primary" data-toggle="popover" title="Link Copied" data-content="Send your referral link to your friends

[2018-08-12 12:06] #354 closed

[2018-08-29 16:15] crtjr64 commented on #311
I am running Typescript too but I'm not using jQuery. These options are not available to me

[2018-09-04 22:01] x-yuri commented on #285
@justin808 This [line][1] replaces `sass-resources` with `sass-loader-resources`, since it mistakenly thinks it's `sass` without `-loader` suffix. With `sass-resources-loader` it doesn't work either. It gets turned into `sass-loader-resources-loader`.

[1]: https://github.com/shakacode/bootstrap-loader/pull/205/files#diff-2e282dc3444bc6093a32cf2fcb6ae2f2R11

[2018-09-05 09:17] x-yuri commented on #285
@justin808 It [is][1]. Try to think what this code would do with `sass-resources-loader`:

[1]: https://github.com/shakacode/bootstrap-loader/blob/master/src/utils/processStyleLoaders.js#L12-L13

[code]

[2018-09-06 07:57] justin808 commented on #285
@x-yuri are you suggesting we need a PR?

[2018-09-12 15:58] ericschultz opened #358 "Prefixing all classes through bootstrap-loader?"
First off, awesome tool. It really is very helpful.

I may be looking in the wrong direction for this but I have a requirement that I use bootstrap along with another separate set of styles. As a protection against conflicts, I'd like to prefix all of the classes in bootstrap. Is this something that is possible through bootstrap-loader? Or is there a better way to handle this?

Thanks again for th

[2018-09-15 19:34] x-yuri opened #359 "resolve-url-loader no longer searches the whole package to resolve an url"
In 2.x `resolver-url-loader` tried every dir of a package (`bootstrap-sass`) to resolve an URL. In 3.x they only try corresponding css file's directory. I guess it has to do with the following entry in [changelog][0],

[0]: https://github.com/bholloway/resolve-url-loader/releases/tag/v3.0.0

and the following [dir][1] in the repository.

[1]: https://github.com/bholloway/resolve-url-loader/tree/v3

[2018-09-16 01:05] justin808 commented on #359
@x-yuri I'm open to your thoughts! @alexfedoseev and I are crazy busy right now. If you can make an new entry in the examples directory that passes with your changes and fails without your changes and the other cases still pass, then that will work!

[2018-10-02 17:29] Rush opened #360 "How to switch to an alternative extract CSS plugin?"
`extract-css-chunks-webpack-plugin` seems to supercede `mini-css-extract-plugin`

I saw a PR that was making it possible to specify which plugin to use but it got closed, any ideas?

[2018-10-14 22:13] #247 closed

[2018-10-14 22:14] justin808 commented on #108
Closing due to inactivity. Please request to reopen if you like.

[2018-10-14 22:14] #108 closed

[2018-10-14 22:15] #335 closed

[2018-10-14 22:15] justin808 commented on #333
Closing due to inactivity. Please request to reopen if you like.

[2018-10-14 22:15] #333 closed

[2018-10-14 22:15] justin808 commented on #352
Closing due to inactivity. Please request to reopen if you like.

[2018-10-14 22:15] #352 closed

[2018-10-14 22:16] justin808 commented on #334
Closing due to inactivity. Please request to reopen if you like.

[2018-10-14 22:16] #334 closed

[2018-10-14 22:18] justin808 commented on #360
@Rush Which PR?

Take a look at #362 and #357.

[2018-10-14 22:19] justin808 commented on #359
@x-yuri Any update on this issue? Any recommendation?

[2018-10-16 10:43] x-yuri commented on #353
@justin808 Unfortunately, not in the near future. I don't have a problem with naming the file `.bootstraprc`.

What's really annoying is that you [can't][1] just `import 'bootstrap-loader'` on production. I hope I'll be able to work around that, but being able to just `import 'bootstrap-loader'` would be great. Switching to `require` might introduce issues with CSS order (`imports` are hoisted), t

[2018-10-16 12:09] x-yuri commented on #359
@justin808 Basically, there are two ways:

1. `bootstrap-loader/src/bootstrap.styles.loader.js`:

[code]

2. Make the user responsible for maintaining the path.

Granted that it's only about Bootstrap 3, so the path is unlikely to change, we can probably just hardcode it.

[2018-10-26 03:37] justin808 commented on #359
@x-yuri I agree. What's the needed action? PR to merge?

[2018-10-31 23:16] x-yuri commented on #359
@justin808

[code]

That probably is all.

[2018-10-31 23:48] justin808 commented on #359
@x-yuri if you can put that in a PR, I'll merge. 👍

[2018-11-01 07:52] x-yuri commented on #359
By the way [the README][1] says:

But I bet the path is to be relative to `node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_glyphicons.scss`, since it's it that "imports" the font (has `url(...)`). `resolve-url-loader` resolves paths relative to a file that "imports" the resources, not relative to the one that defines variables used in `url(...)`.

On production it might get even more tri

[2018-11-22 15:55] hafidsmail commented on #352
@manishankar08  @justin808  Thank you guys :) .. the problem is solved

[2018-12-04 13:02] gkapatia commented on #352
@hafidsmail I am getting same error. Could you help me? how did you resolve it?

[2018-12-06 18:46] Prologh commented on #230
Changing the file encoding from Unicode (UTF-16 Little Endian) to UTF-8 solved the problem for me.

[2018-12-20 04:01] dilame commented on #352
+1

[2018-12-20 16:49] tvongeldern commented on #322
I had the same problem using Webpack 4/Babel7/Bootstrap Loader 3

The `entry` field in my webpack config was:
[code]

By changing it to:
[code]

I solved the problem.

NOTE: in this example, my webpack config and my bootstraprc are in the same directory. You may have to adjust the pathing to your bootstrap config

[2018-12-22 03:31] justin808 commented on #352
@hafidsmail can you comment on how you solved the issue?

[2019-01-16 11:41] jwhitmarsh commented on #359
@x-yuri thank you for this workaround!

FYI anyone coming to this now, for this to work for me I have to use the `bootstrapCustomizations` key
in `.bootstraprc` not `preBootstrapCustomizations` (@x-yuri uses `bootstrapCustomizations` in the example repo, but mentions `preBootstrapCustomizations` in the original message).

[2019-01-25 07:01] kvandake opened #363 "Maybe Incorrect order styleLoaders in bootstraprc-4-example"
#### The current order:
      - style-loader
      - css-loader
      - sass-loader
      - postcss-loader

#### [Order in documentation](https://github.com/postcss/postcss-loader#sourcemap):
[code]

[2019-01-25 07:04] kvandake commented on #363
Another comment - https://github.com/shakacode/bootstrap-loader#postcss

[2019-02-14 04:01] ignoreswing commented on #322
Is there any update on the issue?

I use default setting without changing any config in .bootstraprc.
I get a 671.3KB parsed size for no-op.js...
Even though default setting includes all scripts and styles, the size is still unacceptable.

- webpack setting

[code]

- Env
    "bootstrap-loader": "^3.0.2",
    "bootstrap-sass": "^3.1.0",
    "resolve-url-loader": "~2.3.1"

- screenshot
![2019-02-14

[2019-02-14 08:25] justin808 commented on #322
@ignoreswing any idea what's in that part of the bundle? Just CSS?

[2019-02-15 03:00] ignoreswing commented on #322
Thank you for your reply.

I am sorry I didn't  trace the issue further.
`bootstrap-loader` cause too many peer dependency problem in my case.
Finally, I decide to leave after trying one day.

--
The following is not close to this issue, but I post it to help some other people

I maintain an old project which should use an exactly version of Bootstrap 3.1.1 to prevent regression. If `bootstrap-loa

[2019-03-22 15:13] arturopie opened #364 "Using vulnerable `js-yaml` version"
bootstrap-loader is using a vulnerable dependency. See:

![image](https://user-images.githubusercontent.com/762752/54832932-83ffe580-4c93-11e9-90bf-72dbbf81896b.png)

and: https://github.com/shakacode/bootstrap-loader/blob/master/package.json#L51

[2019-03-27 06:27] justin808 commented on #364
@arturopie Any chance that you can throw in a PR?

[2019-03-27 17:32] alecf commented on #364
@arturopie I just pushed one up!

[2019-03-28 02:28] arturopie commented on #364
Thanks for the PR @alecf.
I'm sorry I didn't reply earlier @justin808, I have been very busy recently.

[2019-03-28 03:34] #364 closed

[2019-03-28 04:02] justin808 commented on #364
@alecf @arturopie I just pushed 3.0.3 without local testing. Please confirm that you don't have any issues.

[2019-04-02 03:14] arturopie commented on #364
@justin808 no issues so far. Thanks!

[2019-04-08 20:56] ccmcbeck commented on #85
If you are using Docker, remember to copy `.boostraprc` into your container or you'll get the same problem.

[2019-04-26 17:08] Quocnamit commented on #276
does anyone resolve this ? Now I want to load the bootstrap-loader in server side rendering but I can't any solution for that

[2019-04-27 00:03] amen57 commented on #364
v3.0.3 uses js-yaml@3.13.0, but according to https://npmjs.com/advisories/813, it is patched in >=3.13.1. Can you please update this? Thank you.

[2019-04-27 05:47] justin808 commented on #364
Released!

[2019-06-06 14:47] SupinePandora43 commented on #309
in https://github.com/postcss/postcss/issues/1276 solved same issue but with stylus-loader

[2019-06-23 15:20] marioch5 commented on #352
+1

[2019-07-02 04:23] peter-brennan commented on #352
How was this issue resolved?

[2019-07-03 04:58] iamdeadman opened #367 "Webpack bootstrap config issue - module parse failed, You may need an appropriate loader to handle this file type"
Hi, I am trying to include bootstrap in webpack config with bootstrap-loader here and facing a strange issue -

[code]
This is the webpack configuration that I am using currently  -

[code]
and this is the bootstrap.yml config that I am using with webpack build -

[code]

now even when I strip out all the comments from this config file I still get this error -

[code]

So, can someone please help

[2019-07-09 17:33] #367 closed

[2019-08-27 21:43] BeOleg commented on #352
+1 how is it solved?

[2019-08-27 21:44] BeOleg commented on #41
same here +1

[2019-11-25 11:08] SACHINBN opened #368 "ERROR in ./node_modules/bootstrap-loader/lib/bootstrap.loader.js!./node_modules/bootstrap-loader/no-op.js Module build failed: Error: Cannot find module"
Hi ,
I am getting below error after build without changing code
ERROR in ./node_modules/bootstrap-loader/lib/bootstrap.loader.js!./node_modules/bootstrap-loader/no-op.js
Module build failed: Error: Cannot find module '/home/jenkins/workspace/CDLCore_POC/UploadApp/node_modules/bootstrap-sass/package.json/package.json'
    at Function.Module._resolveFilename (module.js:548:15)
    at Function.Module

[2019-11-25 16:06] ANjaa commented on #368
We're having the exact same problem with 2.1.0 (and resolve 1.4.0).

[2019-11-26 05:34] SACHINBN commented on #368
I am not getting same error in my local build but jenkin machine I am getting

[2019-11-26 12:48] ANjaa commented on #368
Our resolve version was 1.4.0, but bootstrap-loader (both 2.1.0 and 2.2.0) fetched the newest release, which was 4 days ago, where they updated to resolve 1.13.0.

When we updated package lock to override bootstrap-loader from ^ notation to 1.12.0 specifically, the issue was solved.

[2019-11-27 10:51] medicalwei commented on #368
This is caused by #359

[2019-12-02 09:28] justin808 commented on #359
If there's a PR for a doc or code fix, I'd be happy to merge it. 😄

[2020-01-26 19:35] yahyaensi opened #369 "Weired behaviour of getEnvProps - Could not find 'styleLoaders' in your config"
I use the version 2.1.0 of bootstrap-loader but i tried also 3.0.4.

bootstrap-loader doesn't find styleLoaders in .bootsraprc.

I tried to debug bootstrap-loader's getEnvProps method by adding console.log to it like following:

[code]

Then i get the following output:

[code]

This instruction `config.env[NODE_ENV]` returns `undefined`.

[2020-02-20 23:50] justin808 commented on #368
Let's close b/c we have #359.

[2020-02-20 23:50] justin808 commented on #369
See #359.

[2020-03-10 09:30] skinderis commented on #352
Same problem, could someone post the solution?

[2020-03-11 14:05] skinderis commented on #41
Does someone have a solution?

[2020-04-28 16:07] Judahmeek commented on #41
@skinderis There are multiple reasons that users encounter this error so each user's solution is likely to be unique. Creating a small repo (or linking to it if it's public) that reproduces your configuration & error is the simplest way to enable someone to determine the cause of your error.

We welcome PRs from anyone who thinks they can improve the user-friendliness of this package.

[2020-05-01 02:20] nawsom opened #370 "node version"
it appears to be having issues with node 12+. Was able to get it to work on node 10.16. When trying above get document undefined or window undefined

[2020-11-09 19:40] peterpoliwoda commented on #352
Help!

[2021-04-17 14:58] dwvisser opened #397 "Plans for bootstrap 5 support?"
I plan on updating my site to bootstrap v5 as soon as there is a stable release. Are there plans to make bootstrap-loader explicitly compatible with bootstrap v5?

[2021-04-19 08:52] justin808 commented on #397
@dwvisser I'd definitely be happy to get a PR for that! I'd review ASAP!

[2021-04-19 08:52] justin808 commented on #370
@nawsom is this still an issue?

[2021-06-09 16:34] jw-miaem opened #398 "yarn build extractStyles"
Hi Trying to use extractstyles in production and get this Error

`Error: You forgot to add 'mini-css-extract-plugin' plugin (i.e. `{ plugins: [new MiniCssExtractPlugin()] }`), please read https://github.com/webpack-contrib/mini-css-extract-plugin#getting-started`

it's an old project trying to upgrade and this is the only blocker currently, any ideas? this is the config, following examples folder

[2021-06-10 10:47] jw-miaem commented on #398
for anyone else stumbling here i'm unable to get the examples to work in isolation so assuming this isn't very well supported anymore

[2022-03-06 14:41] #397 closed

[2022-03-14 10:20] RazielleS commented on #397
I tried `4.0.0-rc.0` with Bootstrap 5, but it doesn't work yet. And I could not find a commit about it.
Does this mean, there won't be any Bootstrap 5 support, since this issue was closed?

[2022-03-18 08:42] justin808 commented on #397
I'd be open to a PR!

[2022-07-06 14:22] seiyab opened #407 "How to use bootstrap-loader without node-sass that is deprecated"
`bootstrap-loader` requires `node-sass` as a peer dependency.
https://github.com/shakacode/bootstrap-loader/blob/2c4c85b86313da033a2104e84895ec87285ad4b5/package.json#L41

I prefer [Dart Sass](https://sass-lang.com/dart-sass) because:
- [`node-sass` has been deprecated.](https://sass-lang.com/blog/libsass-is-deprecated)
- [`node-sass` tends to fail to build on install](https://github.com/nodejs/no

[2022-09-02 09:03] justin808 opened #408 "Support Bootstrap v5?"

[2022-10-04 11:40] DerZyklop opened #409 "Update wrong version number(s)"
Right now the newest version of bootstrap-loader is

- [4.0.0 on npm](https://www.npmjs.com/package/bootstrap-loader)
- [3.0.0 in the changelog](https://github.com/shakacode/bootstrap-loader/blob/master/CHANGELOG.md)
- [1.0.9 in the release tags](https://github.com/shakacode/bootstrap-loader/releases)

This is confusing. I assume 4.0.0 is correct, but I can not figure out that are the changes comp

[2022-10-15 22:56] #32 closed

[2022-10-15 22:56] #86 closed

[2022-10-15 22:56] #96 closed

[2022-10-15 22:56] #168 closed

[2022-10-15 22:56] #192 closed

[2022-10-15 22:56] #200 closed

[2022-10-15 22:56] #233 closed

[2022-10-15 22:56] #239 closed

[2022-10-15 22:56] #243 closed

[2022-10-15 22:56] #253 closed

[2022-10-15 22:56] #254 closed

[2022-10-15 22:56] #256 closed

[2022-10-15 22:56] #257 closed

[2022-10-15 22:56] #263 closed

[2022-10-15 22:57] #265 closed

[2022-10-15 22:57] #274 closed

[2022-10-15 22:57] #276 closed

[2022-10-15 22:57] #277 closed

[2022-10-15 22:57] #278 closed

[2022-10-15 22:57] #280 closed

[2022-10-15 22:57] #308 closed

[2022-10-15 22:57] #309 closed

[2022-10-15 22:57] #317 closed

[2022-10-15 22:57] #318 closed

[2022-10-15 22:57] #322 closed

[2022-10-15 22:57] #323 closed

[2022-10-15 22:57] #325 closed

[2022-10-15 22:57] #330 closed

[2022-10-15 22:57] #353 closed

[2022-10-15 22:57] #359 closed

[2022-10-15 22:57] #360 closed

[2022-10-15 22:57] #363 closed

[2022-10-15 22:57] #368 closed

[2022-11-19 05:56] plasticlobster opened #411 "Support for new version of loader-utils?"
The current version of bootstrap-loader has a hard-versioned dependency on loader-utils 1.2.3.

loader-utils < 1.4.1 has a critical CVE (9.8/10) (CVE-2022-37601) - https://nvd.nist.gov/vuln/detail/CVE-2022-37601

Is there any chance this lib can be bumped without causing issues?