[2015-12-22 17:45] simkessy opened #4 "Module build failed"
I followed the instructions but I keep getting errors:
[code]

My entry file looks like this:

[code]

Webpack config:

[code]

And I have all the loaders setup

[2015-12-22 18:14] bmanturner commented on #4
Had same issue just using 'bootstrap-loader' entry point.

[2015-12-22 21:33] justin808 commented on #4
@simkessy @bmanturner Can you please compare your setup to https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client/webpack.client.rails.hot.config.js#L22

Are both of you on Windows. Neither @alexfedoseev nor I have windows boxes to test on. We'd appreciate any PRs to making this work on Windows.

@simkessy, you pasted:

[code]

Note the 'b' in bootstrap is not a b.

[2015-12-22 21:34] justin808 commented on #4
Actually, it looks like we're escaping all the characters following the '\'. Maybe we need double backslashes.

[2015-12-22 21:38] simkessy commented on #4
@justin808 I ended up figuring out how to get bootstrap.css from the node_module
[code]
So I'm not using boostrap-loader at the moment. But yea sometimes in windows you need double backslahes but I can't confirm. Thanks for the response though

[2015-12-22 21:39] justin808 commented on #4
This issue could be related: https://github.com/shakacode/bootstrap-sass-loader/issues/14 @fcaballero, any ideas?

[2015-12-22 21:50] justin808 opened #5 "Allow picking bootstrap 3/4 (locked) with default configuration file."
Below is possible feature enhancement.

**HOWEVER**, after some more discussions on this, we really want to encourage projects to use their own copy of the `.bootstraprc` file, as that allows specifying a post-loading bootstrap customization file. Here's an [example](https://github.com/shakacode/bootstrap-loader/blob/master/.bootstraprc-3-default#L44).

-------------------------

The problem is th

[2015-12-23 08:55] fcaballero commented on #4
Hi @justin808, I have no idea why is happening this, I just see the code and it's changed the backslashes, unfortunately I'm not able to find a solution and debug the code since I no longer use windows :( because of this sort of problems...
If I find a windows machine I could try to find why the error, maybe I'll install a VM but after Xmas

[2015-12-23 10:04] alexfedoseev commented on #4
@simkessy @bmanturner Do you use custom `.bootstraprc`? If you do, please, put or uncomment this line:

[code]

Run build and post here output from console + contents of your `.bootstraprc`. Thanks!

[2015-12-23 17:05] jeffhertzler commented on #4
@simkessy Are you sure you are running 1.0.0-rc? I was having a similar issue and it was just because the default `npm install` gives you version 0.0.5. Windows support for sass imports was added here 89e51dfa67b9b9c7fd0356b68a43fd5e3380d04c.

[code]

[2015-12-23 17:10] alexfedoseev commented on #4
Btw `1.0.0-rc` was published as `latest`, so it should be installed without providing version number. The only case when you must provide version explicitly — you have `bootstrap-loader@0.x.x` already installed.

[2015-12-23 17:16] jeffhertzler commented on #4
Hmm. Just tested this by clearing my npm cache and uninstalling bootstrap-loader (and also double checking that the entry was indeed removed from package.json). I still get 0.0.5 by default on install.

[2015-12-23 17:20] alexfedoseev commented on #4
@jeffhertzler Can you post output of `npm show bootstrap-loader`?

[2015-12-23 17:23] ninja- opened #6 "Missing dependency"
Hey. Really nice work on packaging bootstrap for webpack.
README doesn't mention that file-loader package is needed, otherwise it won't work.

Other than that, I am having some weird problem?

[code]

[2015-12-23 17:27] ninja- commented on #6
Nevermind, I missed that part of the README.

[2015-12-23 17:47] ninja- commented on #6
Interesting...it now works after using .bootstraprc with bootstrapVersion: 3 - wasn't that a default anyway?

[2015-12-23 17:47] jeffhertzler commented on #4
[code]

[2015-12-23 18:00] jeffhertzler commented on #4
adding `@latest` gives me 1.0.0-rc but not specifying any version still gives me 0.0.5

[2015-12-23 18:25] justin808 commented on #4
@jeffhertzler did that fix the issue?

[2015-12-23 18:38] jeffhertzler commented on #4
Using 1.0.0-rc fixed the windows issue, yes.

I still receive 0.0.5 by default when installing bootstrap-loader without specifying a specific version or latest though. Cleared npm cache and tried to install into a fresh project that's basically an empty package.json.

[2015-12-23 18:53] #4 closed

[2015-12-23 18:58] alexfedoseev commented on #4
@simkessy Please confirm that after upgrade to `1.0.0-rc` issue is fixed. If it's not — reopen this issue and post debug info (see my comment above).

@jeffhertzler I guess I had similar issue with React Router's RC and as far as I remember different versions of `npm` handles pre-releases differently. Anyway we will release `1.0.0` today, so it should solve default install issue.

[2015-12-23 19:01] jeffhertzler commented on #4
Thanks!

[2015-12-23 19:03] simkessy commented on #4
I just checked and I was using version 0.0.5.

1.0.0.-rc works fine. thanks

[2015-12-23 19:04] alexfedoseev commented on #4
Awesome :+1:

[2015-12-23 21:55] ninja- commented on #6
The problem was using 'url' instead of 'url-loader' and wrong node module was used.

[2015-12-23 21:55] #6 closed

[2015-12-29 19:41] jbri7357 commented on #6
I'm having trouble understanding what you did exactly to get past this issue. Are you saying the dependency instructions from the website are incorrect? Could you provide a relevant example from your "webpack.config.js" file?

[2015-12-29 20:25] justin808 commented on #6
@ninja- Can you share your fix with @jbri7357. Thanks!

[2015-12-29 22:12] ninja- commented on #6
I think that's the case @jbri7357
[code]

the 'url' is maybe used in other part of my project.

my setup:
[code]

[2015-12-30 13:15] Webdesignwill opened #7 "Cannot find modules"
Hey guys,

I've made a small boilerplate that i'll be using for my future projects and hoped to use this loader but i can't quite configure it correctly.

Would it be possible to help point in the right direction? I'm sure it must be something simple however, I can't see what i've done differently.

You can view the config at the repo here : https://github.com/Webdesignwill/epicify

It keeps faili

[2015-12-30 13:19] Webdesignwill commented on #7
Oops path was wrong in the config : test: /\.bootstrap\/dist\/js\/umd\//

[2015-12-30 13:19] #7 closed

[2015-12-31 00:11] Gacnt opened #8 "Navbar styles don't seem to be working with Bootstrap 4"
I have installed the package using the guide on the readme, everything seems to be working fine.

But it seems that the navbar styles don't seem to be working, e.g. this is my navbar:

http://v4-alpha.getbootstrap.com/components/navbar/#color-schemes
[code]

But my navbar has no background at all, but it doesn't structure properly so am I missing something? I'm using the config file from the defau

[2015-12-31 00:36] justin808 commented on #8
@Gacnt Can you create a super simple fork of the https://github.com/shakacode/bootstrap-loader/blob/master/examples%2Fbasic%2FREADME.md that demonstrates this issue. Thanks.

[2015-12-31 02:15] jeffreywescott opened #9 "mixins not available when "mixins: true" specified"
Hey -- awesome library. Thanks for it!

I'm trying to use mixins using your [css-modules](https://github.com/shakacode/bootstrap-loader/tree/master/examples/css-modules) example, changing `app/Layout/Layout.scss` as follows:

[code]

In the .bootstraprc:

[code]

However, when I try to run webpack (or the dev server), I get:

[code]

Any ideas?

[2015-12-31 03:28] justin808 commented on #9
@jeffreywescott you need to use the https://github.com/shakacode/sass-resources-loader.

Thanks for the support!

[2015-12-31 03:39] jeffreywescott commented on #9
Hi, @justin808 -- thanks for the tip!

So, how would I use that to get access to all of the bootstrap mixins, variables, etc.? Is there an example somewhere that I can look at?

[2015-12-31 05:20] justin808 commented on #9
https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client%2Fwebpack.client.base.config.js#L86

[code]

(not sure about the auto-prefixer part, @alexfedoseev?)

[2015-12-31 12:13] alexfedoseev commented on #9
@jeffreywescott @justin808

`postcss: [autoprefixer],` is not related to `sass-resources-loader`. To make bootstrap mixins & variables available in CSS Modules you can:

— provide path to them in `sassResources` array:

[code]

— or create SASS file and import them there:

[code]

[code]

[2015-12-31 18:13] jeffreywescott commented on #9
Thanks, guys!

Here's what I ended up doing (for anyone else who stumbles onto this issue):

### snippet from `webpack.config.js`
[code]

### `config/sass-resources.scss`
[code]

[2015-12-31 18:13] #9 closed

[2015-12-31 19:12] justin808 commented on #9
@jeffreywescott Send me an email if you'd like to join our slack group. Thanks for your feedback!

[2016-01-02 06:08] mmahalwy opened #10 "server-side initial require"
While using isomorphic tools (https://www.npmjs.com/package/webpack-isomorphic-tools), it would be nice to avoid the initial white flash by requiring the bootstrap file. What file should be required?

In previous library, we'd just require the `bootstrap.config.js` file. Is there a counterpart here?

[2016-01-02 08:38] justin808 commented on #10
@mmahalwy I really don't know as I don't use that library. I think you can require the new loader and pass in any dummy file. The file param won't be used. The .bootstraprc file will be used.

[2016-01-03 17:38] stephenwil opened #11 "Missing dependancy on 'url-loader'"
Hi,
  Seems that any references through the require of a 'url()' will only work if 'url-loader' is also installed, even though 'resolve-url-loader' is a dependancy here.

Module not found: Error: Cannot resolve module 'url'

E.g. Using a boiler plate such as https://github.com/gaearon/react-transform-boilerplate, and install bootstrap-loader (and the associated dependancies in the intro).

[2016-01-03 19:19] justin808 commented on #11
@alexfedoseev @stephenwil We can add url-loader to the list of peer dependencies.

[code]

resolve-url-loader has these dependencies:

https://github.com/bholloway/resolve-url-loader/blob/master/package.json#L28

[code]

@stephenwil Can you try adding the peer dependency and submitting a PR if that does the trick?

[2016-01-04 06:05] AllenFang commented on #11
+1, same error as <code>Module not found: Error: Cannot resolve module 'url'</code>

[2016-01-04 06:11] justin808 commented on #11
i can probably do a PR within the next few days if nobody beats me to it. Nevertheless, even with the PR, it will just report that that you need to install the "peer dependency".

[2016-01-04 06:13] justin808 commented on #11
OK -- I added to master.

Can i get confirmation that this fixes the issue (please use the github format for the package inclusion). Once i get confirmation, I'll release a new version.

[2016-01-04 06:15] justin808 commented on #10
@mmahalwy Please reopen this issue if you think this requires a code fix on our part.

[2016-01-04 06:16] justin808 commented on #8
@Gacnt Any more details on this one? Once you have a reproducible case, we'll do a fix. Or feel free to submit a PR. Please reopen when you have more details.

[2016-01-04 06:22] AllenFang commented on #11
@justin808, it work, thanks for your patch :)

[2016-01-04 06:31] justin808 commented on #11
@AllenFang Can you please paste your verification. Thanks!

[2016-01-04 06:39] AllenFang commented on #11
I test it in an empty dir and run
<code>npm install https://github.com/shakacode/bootstrap-loader.git --save-dev</code>
will auto install <code>url-loader</code> by peer dependencies

[code]

[2016-01-04 10:03] justin808 commented on #11
Thanks for pushing 1.0.2, @alexfedoseev!

[2016-01-04 10:03] #11 closed

[2016-01-04 10:04] #5 closed

[2016-01-04 10:04] alexfedoseev commented on #11
:+1:

[2016-01-04 21:34] chriskozlowski opened #12 "How would you use bootstrap styles to build css module styles"
First of all - this loader is awesome.  Thanks for putting it together!  This is more of a question than an issue.  I am currently using CSS modules to style React components.  Many of these components will be modified versions of Bootstrap's component styles.  Currently, I just add the Bootstrap class names in the component as well as an extra class from the CSS module to tweak its style.  This h

[2016-01-04 21:36] justin808 commented on #12
@chriskozlowski Please see: https://github.com/shakacode/sass-resources-loader.

Example here: https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client%2Fapp%2Fbundles%2Fcomments%2Fcomponents%2FCommentScreen%2FCommentScreen.scss

Let me know if that answers your question on common components. Also, query the closed issues. If we could get a doc PR for this type of issue, that w

[2016-01-04 21:36] #12 closed

[2016-01-04 21:37] justin808 commented on #12
BTW, for our own main project, we're going with applying the bootstrap classes on the JSX and then using CSS modules for customizations on top of that. Given how bootstrap is designed, we decided that trying to use "compose" on the bootstrap classes was a bad idea.

[2016-01-04 21:38] justin808 commented on #12
@alexfedoseev might have a quick look at this question as well. @robwise We should maybe put this in a FAQ.

[2016-01-04 21:59] alexfedoseev commented on #12
@chriskozlowski For vars/mixins we've made [sass-resources-loader](https://github.com/shakacode/sass-resources-loader). Check out this issue for details: https://github.com/shakacode/bootstrap-loader/issues/9

But with classes I have the same issue. It'd be great if all bootstrap classes were available as mixins to cherry-pick them via `@include` in CSS Module's classes, but they aren't. And there

[2016-01-04 22:08] justin808 commented on #12
I added a note to the bottom of the [README.md](https://github.com/shakacode/bootstrap-loader/blob/master/README.md).

[2016-01-05 00:17] mmahalwy commented on #10
Maybe @halt-hammerzeit can chime in?

[2016-01-05 04:52] chriskozlowski commented on #12
Thanks @alexfedoseev and @justin808 for the great advice.  Having the ability to get the vars and mixins with sass-resources-loader definitely helps a ton.

[2016-01-05 10:54] halt-hammerzeit commented on #10
@mmahalwy well, I never used this loader in my projects and I'm not sure how it works, but judging from the `examples` folder it has a webpack `entry` with a `pitch` function
https://github.com/shakacode/bootstrap-loader/blob/master/src/bootstrap.loader.js#L24
I don't know how this whole thing works but it outputs something in the form of `resultOutput` variable and then it somehow appears on the

[2016-01-05 15:15] christemple opened #13 "Babel polyfills missing"
Hi guys,

I just tried cloning and trying out the examples and run into an issue.

It seems that areas of your code are using ES6 features that require babels polyfills which are not included, for example the `Array.prototype.find` method, examples of which are used here:

https://github.com/shakacode/bootstrap-loader/blob/master/src/utils/processStyleLoaders.js#L28-L31

If I add the babel polyfil

[2016-01-05 19:27] justin808 commented on #13
@alexfedoseev We might have missed the babel runtime?

[2016-01-05 19:34] justin808 commented on #10
@halt-hammerzeit @mmahalwy Thanks! If you've got a PR, we'd definitely take it so long as it does not break others.

[2016-01-05 19:49] alexfedoseev commented on #13
@justin808 Yep, we should do it. I guess it's an issue for Node `<=0.12` users.
@christemple What's your node version?

[2016-01-06 00:45] mmahalwy commented on #10
@halt-hammerzeit thanks! I will implement it and report back

[2016-01-06 05:34] AllenFang opened #14 "Module build failed: TypeError: Object style,css,sass has no method 'find'"
when I use <code>bootstrap-loader</code> to package my product production, I got the following error

[code]
I used <code>node@0.10.25</code> or <code>node@0.12.0</code>, this issue still remain
But if I upgrade nodejs to <code>4.0.0</code>, this issues disappear

[2016-01-06 06:34] justin808 commented on #14
Duplicate of #13.

[2016-01-06 06:34] #14 closed

[2016-01-06 09:43] christemple commented on #13
@alexfedoseev yep you guessed it, my node version is `v0.12.0`

[2016-01-06 09:57] AllenFang commented on #14
Sorry for that, wait for fixing. Thanks:)

[2016-01-06 10:02] aseem2625 opened #15 "How to use sass glob loader along with bootstrap-loader"
**First of all my project is webpack-bootstrap-reactBootstrap. Also, I am having lot of custom scss files.**
Before bootstrap-loader in my project, **my own scss works(inside src folder)** fine as loader used are style, css, postcss and sass. With this, I am having all the bootstrap scss and js files in my src folder, so they also works fine with my own scss.

*(Now, I removed these bootstrap scss

[2016-01-06 10:09] justin808 commented on #15
@aseem2625 I don't like glob loading as you can't control the order. It's best to have manifest files.

Have a top level manifest file of imports and reference that one file from the .bootstraprc file, like this:

https://github.com/shakacode/bootstrap-loader/blob/master/.bootstraprc-3-default#L44

[code]

[2016-01-06 10:09] #15 closed

[2016-01-06 10:57] alexfedoseev commented on #13
@christemple @justin808 I investigated this issue and I added `babel-polyfill` instead of `babel-runtime` b/c of [this](https://github.com/babel/babel-loader/issues/73#issuecomment-112094117).

`1.0.3` is published. @christemple Can you try it out and close the issue if it works?

[2016-01-06 12:06] aseem2625 commented on #15
@justin808 That is why I asked the question!!
Plz read my last 2 blocks of bold lines.

I wanted a top level manifest file like endpoints.scss but I wanted a functionality where a developer like me, if doesn't need control on order, can directly use recursive import all the scss files in a folder, something like `@import "styles/**/*"` but inside endpoints.scss and not inside .bootstraprc which al

[2016-01-06 13:16] christemple commented on #13
Updated to 1.0.3 and removed my own babel-polyfill dependency and can confirm it's working :+1:

Thanks guys

[2016-01-06 13:16] #13 closed

[2016-01-07 03:09] AllenFang opened #16 "ERROR in only one instance of babel-polyfill is allowed @ ./~/bootstrap-loader/loader.js 1:0-44"
I upgrade <code>bootstrap-loader</code> according #13, and it work for node@0.12.0 and earlier, but I got another problem for <code>babel-polyfill</code> is loaded repeatedly.

the error message is in the following:
[code]
The root cause is I wrote my dev webpack config with es6, and I add <code>require('babel/register');</code> this line in my <code>webpack-dev-server.js</code>

Anyway, if re-wri

[2016-01-07 03:19] strawbrary commented on #16
I was about to create an issue for this. Are you using Babel 5 in your project? v1.0.3 of bootstrap-loader includes the Babel 6 polyfill which will give you that error if your project is also pulling in the Babel 5 polyfill. You could try installing v1.0.1 of bootstrap-loader and see if that fixes it.

[2016-01-07 03:57] AllenFang commented on #16
yep,  I'm trying to upgrade to babel 6, but there some troubles I need to solve ;( But to the user of babel 5, your solutions seems like a workaround for now

[2016-01-07 04:03] strawbrary commented on #16
I'm in the same boat, still on Babel 5 which is why I was going to create an issue to see if they intended to support projects which haven't upgraded yet.

[2016-01-07 05:21] AllenFang commented on #16
:+1:

[2016-01-07 22:32] alexfedoseev commented on #16
@AllenFang @strawbrary
Hey guys, somehow I wasn't subscribed to this repo and missed issue, sorry. I'll take a look at this tomorrow. Guess I can check what version of babel is installed and require it.

[2016-01-07 22:36] alexfedoseev commented on #16
Also I'll check node version so `babel-polyfill` will be required only for `node@<=0.12` users.

[2016-01-08 01:54] AllenFang commented on #16
@alexfedoseev, it's a bad news for this repo and thanks your helping. Anyway, is there any basic docs or getting started for contributing this repo, I thinks maybe I can do some bug fixing or something like that.

[2016-01-08 05:00] justin808 commented on #16
@AllenFang I invited you to our slack room! Thanks so much for offering help!

[2016-01-08 11:59] alexfedoseev commented on #16
@AllenFang I added [Contributing guide](https://github.com/shakacode/bootstrap-loader/blob/master/CONTRIBUTING.md) with short explanations how things work. Let me know if you want to hack on this issue.

My current plan is:

[code]

[2016-01-08 12:33] AllenFang commented on #16
Thanks your helping, I'll spend some time to study and try my best to contribute this repo

[2016-01-08 12:33] alexfedoseev commented on #16
Thanks, @AllenFang!

[2016-01-13 12:27] okendoken opened #18 "Neither basic nor css-modules examples have a working build version"
Hi! Thanks for great lib!

When trying to execute `npm run build` to compile a production version you get a public folder with js and css files, but html file is missing, so it's impossible to host a production version anywhere (e.g. put files to static web host).

The solution for this would probably be to include [html-webpack-plugin](https://github.com/ampedandwired/html-webpack-plugin).

Moreo

[2016-01-13 13:43] alexfedoseev commented on #18
Hi @okendoken, thanks for feedback!

TBH I don't remember the case when I was generating `html` with webpack for production, b/c most of the time it's generated by backend & web server (Ruby-on-Rails, Node's Express etc), and we need to prepare only js/css/images/fonts/.../ files as pluggable assets. In the example I used Express web server to serve html to the browser.

Previously examples was in

[2016-01-13 13:43] #18 closed

[2016-01-13 13:44] alexfedoseev commented on #16
@AllenFang any updates on this? If you're currently busy, I can handle this issue.

[2016-01-13 13:56] okendoken commented on #18
OK, so in my case I expected html files to be inside of public folder because I am going to use your example as a starter kit for a single page application based on webpack, bootstrap 4 and angular 2.0. In this case server is going to serve static html files, which will load angular and do all other requests.

So I still think that it would make sense to put html files inside a public folder.

[2016-01-13 14:10] alexfedoseev commented on #18
@okendoken Sure, PRs are welcome!

We can add comment to html part of webpack config, smth like "In case you prepare static html's for production...".

[2016-01-14 01:40] AllenFang commented on #16
um.. little busy, i think you can patch this issue if you have free times. sorry

[2016-01-14 08:23] alexfedoseev commented on #16
@AllenFang Sure :+1:

[2016-01-14 20:15] gpicazo commented on #16
I am also having this issue when trying to use both bootstrap-loader and awesome-typescript-loader.

[2016-01-16 20:52] alexfedoseev commented on #16
@AllenFang @strawbrary @gpicazo `1.0.5` is published. Can you confirm that issue is solved?

[2016-01-16 23:22] strawbrary commented on #16
@alexfedoseev It's working for me. Thanks!

[2016-01-17 04:16] alex88 commented on #5
What's the current behaviour?

I had a couple headaches since I created a config file to disable scripts since I use react-bootstrap, then it asked to declare the bootstrap version, after that, without warnings etc there were no styles in the page until I declared the remaining parts, wouldn't be ok to use bootstrap config as defaults depending on the version declared in the config?

[2016-01-17 04:42] justin808 commented on #5
Default is version 3. Best to create a config file, @alex88.

[2016-01-17 04:54] alex88 commented on #5
Yeah, that's what I did, I wanted to knew if the missing keys in the config files are being inherited by the default config or not, that would be great

[2016-01-17 05:25] justin808 commented on #5
@alex88 can you maybe tell us a bit more about what was missing? Even better would be a PR that would have allowed you to use the default config file.

[2016-01-17 11:28] alexfedoseev commented on #5
Nope, they're not inherited b/c this kind of magic often leads to confusing:

[code]

[2016-01-17 18:03] alex88 commented on #5
@alexfedoseev ok thanks for explaining!

[2016-01-18 14:54] Agowan commented on #8
Hi @justin808, I've got the same problem and have managed to reproduce the problem.

https://github.com/Agowan/twbs-4-dark-navbar-problem

I'm using:
*node: 5.4.1
npm: 3.5.3*

[2016-01-18 16:33] alexfedoseev commented on #8
@Agowan Thanks for repo! :+1:  I'll take a look today / tomorrow.

[2016-01-18 20:57] larsw opened #20 "Combining Bootstrap with a custom theme pack (Bootswatch)."
Hi,

 Just a question from a newbie; if I'd like to use one of the Bootswatch themes (https://bootswatch.com) that are provided as _bootswatch.scss and _variables.scss for each theme, should I use the appStyles and bootstrapCustomizations to point to them, like:

[code]
I've tried to use one of the themes, and I notice that it doesn't pick up the styles correctly.

[2016-01-18 21:08] larsw commented on #20
Just a follow up; output with loglevel: debug

It seems that it should be picking up both variables.scss and superhero.scss (I've renamed the files since my original post).
[code]

[2016-01-18 21:09] alexfedoseev commented on #20
@larsw Try to apply all theme files in `preBootstrapCustomizations` or `bootstrapCustomizations`:

* create a file `./styles/bs-theme.scss`
* in this file `@import` each file of the theme
* place  path to `bs-theme.scss` in `preBootstrapCustomizations` or `bootstrapCustomizations` field

[code]

[code]

[2016-01-18 23:40] yourmediafriend commented on #16
@alexfedoseev  I am using it with the react-starter-kit and was still showing an issue with regards to babel-polyfill

[2016-01-18 23:44] justin808 commented on #16
@yourmediafriend What version of node are you using? Any help debugging your situation would be appreciated.

@gpicazo did the latest fix your issue?

[2016-01-18 23:47] justin808 commented on #15
@aseem2625 Did you get this worked out? If you wanted to add a PR to support globs, we'd consider it. However, I don't consider a "best practice" to use globs with scss.

[2016-01-19 01:13] aseem2625 commented on #15
Hi @justin808
Right now, I am using it the way I explained in my last to last comment.
Since I've so many scss files in project and multiple programmers are working on it, it's not possible for everyone to add scss file in endpoints.scss manually each time they create a new scss file. So, since alphabetical wise loading scss is not my priority, I need to have some recursive inclusion like ```@impo

[2016-01-19 01:55] yourmediafriend commented on #16
@justin808 Turns out I was using an antique version of node. Upgraded to v5.4.1 and everything is working fine. Thanks for pointing me in the right direction.

[2016-01-19 02:48] AllenFang commented on #16
@alexfedoseev, finally, I've time to test this issues, but some problem still remain
I use babel 5 and I downgrade nodejs from 4.x to 0.12.0, because my project required.

Then I remove node_modules and install again and run my webpack dev command, but got the following message:
[code]

There's a first problem:
For the user of babel@5, I think  ```babel/polyfill``` is necessary instead of ```babel

[2016-01-19 04:04] justin808 commented on #15
@aseem2625 Please send us a PR that can make the changes you need. If you get stuck, let us know. If you're interested, check out http://www.shakacode.com, and I've got developers that that could help us get this done. Thanks for your support.

[2016-01-19 04:05] justin808 commented on #15
BTW, we're heavily using CSS modules now. So using globs is not a priority for the ShakaCode team.

[2016-01-20 17:36] larsw commented on #20
Tried to reference bs-theme.scss in both bootstrapCustomizations and preBootstrapCustomization with the same output:

[code]
Should the loading of the variables and the theme file be split over appStyles and one of the aformentioned settings?

[2016-01-20 17:40] larsw commented on #20
Got it working with:
[code]
Leaving only the following in the bs-theme.scss file:
[code]

[2016-01-20 23:03] justin808 commented on #20
@larsw Could you be so kind as to submit a PR to the README with your instructions? I think many people will find this useful. Thank you for your research.

CC: @alexfedoseev

[2016-01-21 08:49] larsw commented on #20
Done.
https://github.com/shakacode/bootstrap-loader/pull/23

[2016-01-21 08:49] #20 closed

[2016-01-21 10:53] Znow opened #24 "ERROR in Cannot find module 'babel/polyfill' @ ./~/bootstrap-loader/loader.js 1:0-44"
Getting this error - tried updating, reinstalling, installing babel-polyfill explicitly, etc.

![image](https://cloud.githubusercontent.com/assets/265719/12478671/6a20d1f2-c036-11e5-8c02-d4a00a5ff226.png)

[2016-01-21 12:09] AllenFang commented on #24
https://github.com/shakacode/bootstrap-loader/issues/16 is same and I've published a [PR](https://github.com/shakacode/bootstrap-loader/pull/21) for fixing this issues, wait them merge

[2016-01-21 12:27] Znow commented on #24
Thanks!

[2016-01-21 14:09] hedefalk commented on #5
I would really like to be able to specify a location of my .bootstraprc. I have my webpack.config.js a little bit inside a build folder and run with npm. However, the .bootstraprc seems to be picked up from the path of my package.json and not my webpack.config.js

This hurts my eyes:
https://github.com/shakacode/bootstrap-loader/blob/master/examples/basic/package.json#L14

In the old version I cou

[2016-01-21 15:09] alexfedoseev commented on #24
I'll get on current issues/PRs this weekend. Closing this as dup.

[2016-01-21 15:09] #24 closed

[2016-01-21 15:56] hedefalk commented on #8
+1 Can't see the navbar.

[2016-01-21 19:13] justin808 commented on #5
@hedefalk Please feel free to submit a PR. Sounds like a nice-to-have feature, and I'd be OK merging in a PR on this. However, it doesn't sound like a must-need at the current time. So please do submit a PR and we'll evaluate. Thanks.

[2016-01-21 22:54] hedefalk commented on #5
@justin808 Cool, I'll see what I can do!

[2016-01-21 22:59] hedefalk commented on #8
I'm not allowed to re-open this, but I'm having the exact same issue. Styling for navbar is all weird - all white. How can this be? I have no custom css at this point.

[2016-01-22 12:16] whitetrefoil opened #25 "The example test pattern for loading jQuery in README fails on Windows."
Maybe we need something like this to make it work on both OSes.

[code]

[2016-01-22 15:13] tjenkinson opened #26 "Option for javascript config file (in addition to yaml and json)?"
First thanks for this it's really helpful!

I needed to override a bootstrap mixin, so I set the `mixins` option to false and then in a pre customisations file I am doing
[code]

I also then set the `styleLoaders` property to this
[code]

My question is, is there a nicer way of determine the include path than hard coding it?

If the config file was javascript I think I might be able to use https:/

[2016-01-22 15:21] tjenkinson commented on #26
Or actually maybe a nice feature would be if your loader actually does what I'm doing, and if `mixins` are enabled, loads them before the pre customisations file, so they can be easily overridden?

[2016-01-23 16:29] alexfedoseev commented on #25
@whitetrefoil I don't have any windows machine to test this out, but I think for win you just need to change `/` to `\`. Can you test this out?

[code]

[2016-01-23 16:36] whitetrefoil commented on #25
I guess this will work though I'm not with my computer.  But it will be better if it can work on both format. (Actually my team has multiple different OSes.) ☺

—
通过 Mailbox 发送

On Sun, Jan 24, 2016 at 12:29 AM, Alex Fedoseev <notifications@github.com>
wrote:

[2016-01-23 18:01] alexfedoseev commented on #26
@tjenkinson Second option is in master, will publish it later today to npm.

[2016-01-24 17:56] alexfedoseev commented on #26
`1.0.6` is published.

[2016-01-24 17:56] #26 closed

[2016-01-24 17:57] alexfedoseev commented on #16
@AllenFang `1.0.6` is published. Please, try it out and close/comment on this issue.

[2016-01-25 01:42] AllenFang commented on #16
@alexfedoseev, ok, I will try it !

[2016-01-25 03:14] AllenFang commented on #16
@alexfedoseev, please check #29, I think this patch should solve this issues correctly

[2016-01-25 05:54] alexfedoseev commented on #8
I missed this one yesterday b/c it was closed. @hedefalk Your PR (https://github.com/shakacode/bootstrap-loader/pull/28) solves it?

/cc: @justin808

[2016-01-25 10:00] hedefalk commented on #8
Yes, the pr fixes it.

On Mon, Jan 25, 2016, 06:54 Alex Fedoseev <notifications@github.com> wrote:

[2016-01-25 11:20] larsw opened #30 "ERROR in ./~/bootstrap-loader/lib/bootstrap.scripts.loader.js!./~/bootstrap-loader/no-op.js"
Hi,

 When I run webpack-dev-server, I get this error 12-13 times with minor line/position variations:
[code]

my ./app/app.js file is currently empty.

My webconfig.config.js:
[code]
and my package.json:
[code]

[2016-01-25 11:33] alexfedoseev commented on #30
Hi, please enable debugging (in config set `loglevel: debug`) and post output from console.

[2016-01-25 11:59] larsw commented on #30
Weird... adding an .bootstraprc with only bootstrapVersion and loglevel solved the problem :-P

[code]

[2016-01-25 12:37] larsw commented on #30
Hmm, nope. Using a full .bootstraprc file, it still yields the same errors.

See https://gist.github.com/larsw/b5a771044050faa854ac

[2016-01-25 12:44] alexfedoseev commented on #30
Looks like you forget to install `imports-loader`, since you're using it in your webpack config to import `jQuery` for bootstrap scripts.

[2016-01-25 12:45] larsw commented on #30
Excellent!

Would it be possible to tweak the error output so it would be more obvious to people not familiar with bootstrap-loader (like me) ?

[2016-01-25 12:59] #30 closed

[2016-01-25 15:04] janusch opened #31 "`npm i` hangs in examples/css-modules"
Hey,
I am extremly excited about this project, great work so far!

There is just a tiny problem that keeps me from checking out the example. Was just wanting to have a quick look at the css-modules example and when I run `npm i` it hangs at:
`loadDep:bootstrap → after ▌ ╢█████████████░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░╟
`

What am I doing wrong?

I am using npm version 3.5.2

Best R

[2016-01-25 18:56] justin808 commented on #31
what version of node?

[2016-01-26 07:58] alexfedoseev commented on #31
It might be `bootstrap@4` from git repo, sometimes it takes ages to install it. Not sure how to debug it.

[2016-01-26 08:01] alexfedoseev commented on #8
`1.0.7` published. Thanks, @hedefalk!

[2016-01-26 08:01] #8 closed

[2016-01-26 14:15] janusch commented on #31
Hey,
thanks for the quick replies!

I think I was on an old node version 0.10.38 or something like that. Now it installs fine with node v4.2.2.

Cheers!

[2016-01-26 14:15] #31 closed

[2016-01-27 18:51] Darkside73 opened #32 "Multiple webpack entry points"
Is it possible to map appStyles (along with customizations) files to correspondent entry points?

[2016-01-27 19:07] alexfedoseev commented on #32
Currently not, but we will need this probably here and 100% in [shakacode/sass-resources-loader](https://github.com/shakacode/sass-resources-loader)

[2016-01-29 08:29] ssuhat opened #33 "appStyles appear before bootstrap"
Hi,

I've tried to add my custom .scss file and at .bootstraprc i setup like this:

    bootstrapVersion: 3
    styleLoaders:
     - style
     - css
     - sass

    appStyles: ./src/sass/main.scss

    styles:

    # Mixins
    mixins: true

    # Reset and dependencies
    normalize: true
    print: true
    glyphicons: true

    # Core CSS
    scaffolding: true
    type: true
    code: true

[2016-02-01 19:10] fkrauthan opened #35 "Specify config file location"
Is it possible to specify the config file location? I don't wan't my bootstrap config on my project root. I am using some build scripts with gulp and have all my theme related files in a specific subfolder. It would be good if I can specify the config file location like I was able to with `bootstrap-sass-loader`.

[2016-02-03 16:07] janusch opened #36 "css-importer"
Hey,

this is a feature request.
It would be really useful if it was possible to import css files as part of the app styles and get them compiled into the output file.

There is a package on npm that could do this: `https://www.npmjs.com/package/node-sass-css-importer`
Would you be interested to add a plugin option to the config file .bootstraprc where this could be specified?

The use case is fai

[2016-02-03 19:00] justin808 commented on #36
Do you simply want to include CSS files rather than SASS files? An very, very simple example github repo would be great.

Typically, you should be able to specify other imports per the existing extension hooks. At least that works with Sass files. I guess maybe something special needs to be done with CSS files and you can't just change the extension to .scss?

[2016-02-03 19:01] justin808 commented on #35
@alexfedoseev This was the old behavior. Any opinion on how easy to change? Maybe we can say we'd accept a PR on this?

[2016-02-03 19:02] justin808 commented on #35
@fkrauthan Could you use a symlink as a workaround for now? Would you like to propose a PR?

[2016-02-03 19:06] justin808 commented on #33
@ssuhat Create a simple example and if you can reproduce this, please open a new issue and reference the simple example. See the examples directory.

I'm not sure you can import .css files. I think they have to be scss files.

[2016-02-03 19:06] #33 closed

[2016-02-03 19:07] justin808 commented on #25
Please open a new issue with a small sample repo if this still doesn't work on windows.

[2016-02-03 19:07] #25 closed

[2016-02-03 19:09] fkrauthan commented on #35
@justin808 Symlink is not really an option since I try to prevent to clutter my project structure. I can think about a PR but I have no clue about how the project works so not sure if it is gonna be that easy

[2016-02-03 20:32] justin808 commented on #16
@alexfedoseev Should we merge?
@AllenFang Can you confirm this does affect users of Node 5.5?

[2016-02-04 10:49] alexfedoseev commented on #16
@justin808 @AllenFang

This part shouldn't affect users `>=4.0.0` users, b/c there's no need in polyfill there.
I'll release it later today.

[2016-02-04 21:15] markogresak opened #37 "Using url() in scss throws parse failed error"
I'm using bootstrap-loader for the first time and it is working amazingly. Or it was, until I've tried to add a background using `url(...)` syntax, now I can't get it to work.

Every time I try to compile it, I get this error:

[code]

I've tried with [adding `resolve-url`](https://github.com/shakacode/bootstrap-loader#paths-to-custom-assets), but it didn't work. I have installed all the dependenc

[2016-02-04 21:52] markogresak commented on #37
Fixed by changing above `styleLoaders` to:

[code]

Requires [`raw-loader`](https://github.com/webpack/raw-loader) to be installed.

[2016-02-04 21:52] #37 closed

[2016-02-05 01:51] AllenFang commented on #16
I've tested it on node@4.1.1 and it's work fine

[2016-02-05 12:42] alexfedoseev commented on #33
@ssuhat I guess you messed up with indentions in your `.bootstraprc`, it matters in `yaml`.

[2016-02-05 19:10] HorizonXP opened #38 "Allow custom $icon-font-path"
So I purchased an official theme from Bootstrap, which comes in LESS format. I converted it to Sass, and it uses a custom icon font, replacing glyphicons. It looks as though `bootstrap-loader` automatically adds the $icon-font-path to point to the location of Bootstrap's Sass files, if the Bootstrap version is 3.

It would be great to disable this default behaviour. Ideally, we should parse the in

[2016-02-06 10:24] lazzrek opened #40 "Missing postcss loader in .bootstraprc?"
Is the postcss loader not required in the styleLoaders field to prefix the bootstrap 4 sass?

[2016-02-08 07:24] #16 closed

[2016-02-08 07:49] alexfedoseev commented on #35
@fkrauthan Currently it's not possible. I took a quick look at it, and I guess it can be done (api will be looking like this):

[code]

But currently I'm busy on the project. So I'll leave it open and implement it later, or you (or somebody else) can submit a PR. If you'll decide to implement it — ping me, I can explain the plan of implementation.

[2016-02-08 08:19] alexfedoseev commented on #36
@janusch @justin808 If it's a plain valid CSS — then it's a valid SCSS. So changing extension shouldn't be a problem. If you want to mark such files, you can name them `my-legacy-styles.css.scss`.

Anyway `appStyles` is not an array of paths, so you must specify one entry point, which must be scss file. After it you can combine your imports inside this entry point file. I took a very quick look at

[2016-02-08 08:20] alexfedoseev commented on #38
Merged.

[2016-02-08 08:20] #38 closed

[2016-02-09 10:04] janusch commented on #36
Hey @justin808 @alexfedoseev ,
thank you very much for your suggestions!

 I chose the route of least resistance and renamed the files as you @alexfedoseev suggested. That works just fine. The only drawback is that I cannot import the .css files from node_modules directory directly if they have css imports within them.
e.g. jquery-ui has its styles arranged like this:
 `all.css`
`
@import "base.cs

[2016-02-09 11:12] alexfedoseev commented on #36
Glad it helped :+1: Closing this.

[2016-02-09 11:12] #36 closed

[2016-02-10 06:08] geminiyellow commented on #35
@alexfedoseev need this implement. :+1:

[2016-02-11 09:53] okendoken opened #41 "Cannot find module './lib/bootstrap.loader!./no-op.js' when using on server"
When using bootstrap loader on a server getting the following error:

[code]

Adding bootstrap-loader to an entry point does not work:

[code]

Refs: https://github.com/kriasoft/react-starter-kit/issues/179

[2016-02-11 11:13] alexfedoseev commented on #41
@okendoken Please create a repo thus I can reproduce it. Thanks!

[2016-02-11 12:08] boosh opened #42 "Command to install bootstrap 4 in README is wrong"
It should be: `npm install bootstrap@v4.0.0-alpha.2`

[2016-02-11 19:44] justin808 commented on #42
thanks. fixed.

[2016-02-11 19:44] #42 closed

[2016-02-12 15:37] benwill commented on #25
@alexfedoseev - FYI your correct that fix worked for me on Windows.

{ test: /bootstrap-sass\/assets\/javascripts\//, loader: 'imports?jQuery=jquery' } << Failed on windows
{ test: /bootstrap-sass\\assets\\javascripts\\/, loader: 'imports?jQuery=jquery' } << Works on windows

[2016-02-12 19:30] nicolasxu opened #43 "Error in running basic example"
ERROR in ./~/bootstrap-loader/loader.js
Module not found: Error: Cannot resolve 'file' or 'directory' ./lib/bootstrap.loader in /Users/nick/Documents/Projects/bootstrap-loader/examples/basic/node_modules/bootstrap-loader
 @ ./~/bootstrap-loader/loader.js 1:0-44

[2016-02-12 23:38] justin808 commented on #43
@nicolasxu We're happy to help if you create a small demo project on github that demonstrates the issue. Otherwise, you've simply got something misconfigured.

[2016-02-12 23:38] #43 closed

[2016-02-13 17:26] nicolasxu commented on #43
It is fixed.
"bootstrap-loader": "file:../../.", in the package.json in basic example folder caused the problem. I guess it refers to bootstrap-loader in parent folder. Thank you so much!

[2016-02-13 17:26] nicolasxu commented on #43
It is fixed.
"bootstrap-loader": "file:../../.", in the package.json in basic example folder caused the problem. I guess it refers to bootstrap-loader in parent folder. Thank you so much!

[2016-02-14 00:48] DimaZab opened #45 "Errors when use bootstrap-loader as stand-alone entry point."
repo: [bootstrap-loader-entry-point]( https://github.com/DimaZab/bootstrap-loader-entry-point)

[code]

[2016-02-14 05:30] whitetrefoil commented on #25
It no doubt will work on Windows.  But won't you think it will be better if the rule will work on both Windows and Linux/OSX?

It is the official document, it works on only one major OS, it has even no tip for other OS's users and will cost them some hours to debug.

Besides, there are many cases a team will use multiple OSes, e.g. some devs use Win others use OSX and CI server use Linux.

[2016-02-14 06:06] AllenFang commented on #45
you miss  ```import-loader```, install it will solve this issue

[2016-02-14 08:29] DimaZab commented on #45
@AllenFang, thank you.

[2016-02-14 08:29] #45 closed

[2016-02-16 15:37] jenyckee commented on #41
same error https://github.com/jenyckee/webpack-webapp

[2016-02-16 15:48] alexfedoseev commented on #41
@jenyckee Can you load `bootstrap-loader` from entry point of webpack config (instead of requiring it from app file) and post here how it works?

[2016-02-16 21:57] nelseric commented on #41
I get this error when using bootstrap loader in my CI ( using poltergeist (phantomjs 2.0.1) ), both with using the entrypoint and requiring it. I don't get the error when running locally

[2016-02-17 08:03] jenyckee commented on #41
@alexfedoseev I tried that. Gives me the same error.

[2016-02-17 18:15] nelseric commented on #41
I seem to have solved this by upgrading my nodejs version ( to 5.1 ) even though it is a runtime error

[2016-02-18 10:21] alexfedoseev commented on #41
@nelseric @jenyckee Can you uncomment `loglevel: debug` in config and post here the output from console.

[2016-02-18 16:38] matiishyn opened #47 "WINDOWS: Uncaught ReferenceError: jQuery is not defined"
I have an error: `Uncaught ReferenceError: jQuery is not defined`
I have [`imports-loader`](https://github.com/webpack/imports-loader) installed but I still have this error.

Could you please help me to resolve it?
this is my `webpack.config.js`

[code]

looks like yours in your examples...

[2016-02-18 17:45] matiishyn commented on #47
I see you have the same issue in your examples

[2016-02-18 18:26] matiishyn commented on #47
I was experimenting a little bit. `imports-loader` plugin works well. And I'm guessing that you may reproduce this bug on Windows only, since there's another path separator.
So, maybe inside webpack's loader's test expression we should use `path.sep` instead of hardcoded unix's `\`.

Here how test works on my Windows machine:
![image](https://cloud.githubusercontent.com/assets/3661065/13153563/1a0

[2016-02-18 20:14] justin808 commented on #47
@matiishyn, @alexfedoseev and I need a maintainer for windows, as we don't currently use windows, and we didn't necessarily build this loader for windows.

If anybody is interested in the role of being the windows lead, please let us know.

[2016-02-18 20:15] justin808 commented on #47
@matiishyn I think you're on the right track. We'd be happy to work with you on a PR to fix this issue.

These problems with windows vs. linux are pretty easy to spot and fix when adding copious print debug statements to the source code.

[2016-02-18 20:36] justin808 commented on #40
@lazzrek We have the examples in the /examples directory.

Can you be more specific with what doesn't work and can you more clearly show what is the issue?

[2016-02-19 10:14] lazzrek commented on #40
I tried to use the [Card Columns](http://v4-alpha.getbootstrap.com/components/card/#columns) bt4 component. But it didn't work because the css was not prefixed.

Snippet from [/examples/css-modules/webpack.dev.config.js](https://github.com/shakacode/bootstrap-loader/blob/master/examples/css-modules/webpack.dev.config.js#L43):
[code]
Snippet from [/examples/css-modules/.bootstraprc](https://github.

[2016-02-19 13:16] jenyckee commented on #41
I didn't used to but now I get an error about the babel polyfill missing too. However, this is the full output

[code]

[2016-02-19 13:53] AllenFang commented on #41
@jenyckee, for bootstrap-load, if node.js <= 0.12, you need install ```babel-polyfill``` or ```babel/polyfill```

[2016-02-19 13:56] jenyckee commented on #41
I know, still same.
[code]
right?

[2016-02-19 14:03] AllenFang commented on #41
yes, but what's the version of babel you used? I think for the user of babel@5,  babel/polyfill is necessary instead of babel-polyfill

[2016-02-19 14:25] jenyckee commented on #41
the issue might be due to this
https://phabricator.babeljs.io/T7077

[2016-02-20 08:25] AllenFang commented on #41
@jenyckee why, I can't get this babel issue

[2016-02-20 21:56] Kuzmin opened #48 "Bootstrap 4, "Uncaught Error: Bootstrap tooltips require Tether (http://github.hubspot.com/tether/)" with Tooltip"
Getting the above error while trying to use this with the bootstrap tooltip. I figured it out by exposing Tether on window. I guess it would be a good idea to add this to the documentation since a lot of users will probably be encountering this?

[2016-02-21 19:02] alexfedoseev commented on #41
@jenyckee Can you post small repo to reproduce the problem?

[2016-02-22 14:22] vivanac commented on #47
You could just add both cases:
[code]

[2016-02-22 15:44] matiishyn commented on #47
I asked the same question in webpack repo
https://github.com/webpack/webpack/issues/2073

Couldn't make it work like they recommended
[code]
so I used something like @vivanac wrote:
[code]

This closed my issue

[2016-02-23 16:02] febeling opened #49 "Surprising configuration behavior"
The default values of the configuration are only applied if no configuration is present at all. That is uncommon and confusing.

The README hints at it by saying something like: if a `.bootstraprc` isn't present at all, the default one for Bootstrap 3 is used. It would be less surprising, if the individual configuration attributes were falling back to the (documented) default values. Else, a speci

[2016-02-23 16:16] alexfedoseev commented on #49
@febeling The opposite will be more confusing IMO: https://github.com/shakacode/bootstrap-loader/issues/5#issuecomment-172315427

[2016-02-23 16:30] febeling commented on #49
I feel most configurations work that way. But I don't want to belabor the point. What about a note in the README?

[2016-02-23 16:32] alexfedoseev commented on #49
:+1:

[2016-02-24 01:41] RazkoSA commented on #40
When I add .bootstraprc with customization, postcss functionality does not work.   Without bootstraprc I can use bootstrap4 as mentioned in angular2 webpack example.   You have not directly answered post css or have not put in proper example of using postcss in .bootstraprc for bootstrap 4.

[2016-02-24 14:35] JakeGinnivan opened #51 "Missing styles with bootstrap 4"
I have been trying to get bootstrap 4 running in little test app I am putting together but am having issues. The container is hidden behind the nav.

https://github.com/JakeGinnivan/WikiThing/commit/9ec255bb254f8e6809ebca712263d3071bc69f78

As far as I can tell there are clearfix styles missing from the mixins, there may be other things missing as well. I cannot see what would be causing it and wi

[2016-02-24 14:36] JakeGinnivan commented on #51
You should be able to just `npm start` on that repo to reproduce the issue

[2016-02-25 03:02] vjpr opened #52 "Impossible to disable resolve-url-loader"
If should be possible to disable it.

Also, its a bit confusing when the `styleLoaders` in the `.bootstraprc` is not the actual loaders used when requiring `bootstrap.style.loader`. A bit too magical IMHO.

`processStyleLoaders.js#46`

[code]

My reasons for disabling relate to this bug https://github.com/Marak/colors.js/issues/151

[2016-02-25 05:55] vjpr opened #53 "Impossible to disable sass sourceMaps"
Source maps are slow. It should not add them unless specified in the `.bootstraprc`.

[code]

[2016-02-25 14:15] re6exp commented on #48
+1

[2016-02-25 17:56] jkyoutsey opened #54 "Several deprecation warnings on install..."
`npm WARN deprecated npmconf@2.1.2: this package has been reintegrated into npm and is now out of date with respect to npm
npm WARN deprecated lodash@1.0.2: lodash@<3.0.0 is no longer maintained. Upgrade to lodash@^4.0.0.
npm WARN deprecated graceful-fs@1.2.3: graceful-fs version 3 and before will fail on newer node releases. Please update to graceful-fs@^4.0.0 as soon as possible.`

[2016-02-25 17:58] jkyoutsey commented on #54
These warnings are on the install of the dependencies.  Sorry.  Not an issue for this project.

[2016-02-25 17:58] #54 closed

[2016-02-25 18:14] digia opened #55 "bootstrapCustomizations Isn't Loading?"
It doesn't appear that the bootstrapCustomizations file is being loaded and overriding the Bootstrap variables. Below is my .bootstraprc file.

Any assistance/direction would be greatly appreciated. Thank you!

[code]

[2016-02-26 11:28] chvanikoff commented on #48
Just happened to me so I will +1 as well

[2016-02-27 07:26] justin808 commented on #51
@JakeGinnivan Is there a chance that you can help @alexfedoseev and I debug this? We're about to ship our product, so we're slammed.

[2016-02-27 07:32] justin808 commented on #53
@vjpr I buy this. Any chance that you can make a PR that includes:

1. README.md changes
2. example in the examples directory
3. core change to the loader?

Thanks!

[2016-02-27 07:33] justin808 commented on #55
@digia Sorry, but this question is too general. We're doing coaching at $1500 for 10 hours which goes a long way, and we can provide personal assistance for issues like this. See http://www.shakacode.com/about/.

[2016-02-27 07:33] #55 closed

[2016-02-27 07:35] justin808 commented on #52
@vjpr Are you suggesting an option in the config file? Any chance that you can submit a PR?

[2016-02-27 07:38] justin808 commented on #48
Is this a doc issue for bootstrap 4? I.e., you just need to be sure your web page loads this?
https://github.com/HubSpot/tether

Any chance that one of you can submit a PR?

[2016-02-27 07:39] #47 closed

[2016-02-27 07:41] justin808 commented on #41
I'm not sure we support a version as old as nodejs v0.10.33

I'm going to close this one. Please re-open an issue and preferably submit a PR if you still have an issue. Thanks.

[2016-02-27 07:45] justin808 commented on #40
@RazkoSA @lazzrek it will be a while before we move our project to Bootstrap 4. We won't have time to fully test this until we do. In the meantime, if you can provide help in debugging this, we'd be very grateful, and we'd be happy to help you get in some PRs to fix this.

Possibly Bootstrap 4 has evolved since we first got this working.

CC: @alexfedoseev

[2016-02-27 07:46] justin808 commented on #40
@RazkoSA @lazzrek Can you fork the project and provide an example for the /examples directory showing the issue?

[2016-02-27 08:40] JakeGinnivan commented on #51
Sure I can help, not sure where to go next though. This is not high priority so maybe when you guys get a chance to look at this project again just ping me and maybe we can nut it out.

I spent an evening hitting a wall with it so have just gone back to bootstrap 3 for the moment.

[2016-02-27 08:43] justin808 commented on #51
@JakeGinnivan are you 100% sure the loader is the issue and it's just not bootstrap 4 which is still in Beta. I'm sort of planning on hitting this hard once bootstrap is at a RC.

[2016-02-27 08:43] justin808 commented on #51
I misspoke, "alpha" not "beta"...

[2016-02-27 08:49] JakeGinnivan commented on #51
I'm not sure the loader is the issue.

But if I don't use the loader and just reference the .min.js file directly things seem to work fine. Let me have another go over the next day or two and give you a list of things I have tried. To be honest I forget the permutations I tried, I also pulled down the example project trying to see what is different. The actual styles injected into the browser seem

[2016-02-27 11:33] re6exp commented on #48
Some js components in Bootstrap 4 depends on Tether.js. It can be discovered by bootstrap using window.Tether variable.
If you are using webpack:

1. Set up bootstrap-loader as described in docs;
1. Install tether.js via npm;
1. Add tether.js to the webpack ProvidePlugin plugin:
[code]

[2016-02-27 15:01] digia commented on #55
Too general? Interesting.

Something like, check X, Y, or Z would of been a very modest response. But i don't think you even read the question and instead just did your little sales pitch.

Nice OSS contribution!

Time to fork.

[2016-02-27 23:35] justin808 commented on #55
@digia It's definitely working for bootstrap 3. If you can create a fork with an example, like we have in the /examples directory, and there's an issue, we'll check it out.

Even better is a PR.

We're about to ship our product, so we're too slammed right now to track down issues.

[2016-02-27 23:36] justin808 commented on #55
@digia There's a debug flag as well per the README.md.

Outputs debugging info. Set this option to debug to output debugging information. This is critical for debugging issues. The output will go to your webpack console.

[code]

[2016-02-28 00:02] justin808 commented on #48
I'm fixing the example right now and updating the docs.

I'm updating the examples to alpha-2.

[2016-02-28 10:36] justin808 commented on #40
Fixed in #56.

[2016-02-28 10:36] #40 closed

[2016-02-28 10:37] justin808 commented on #53
@alexfedoseev This would explain why I can't use the extract-text-plugin with font-awesome and the file-loader.

[2016-02-28 10:38] justin808 commented on #53
@vjpr Would you like an invite to our private slack room?

Please see #56.

[2016-02-28 10:39] justin808 commented on #51
Please see the examples in #56. I think I fixed the issue, at least with the cards columns of bootstrap 4.

[2016-02-28 10:40] justin808 commented on #49
Fixed by #56.

[2016-02-28 10:40] #49 closed

[2016-02-28 10:41] justin808 commented on #35
@geminiyellow Want to submit a PR?

[2016-02-28 11:13] justin808 commented on #48
Chrome debugger is so useful! "Pause on Caught Exceptions" is :gift:!

![2016-02-27_16-14-31](https://cloud.githubusercontent.com/assets/1118459/13376286/327e7fd4-dd6d-11e5-98fe-8d1b75e89cf1.png)

[code]

Fixed in #56.

[2016-02-28 11:13] #48 closed

[2016-03-01 21:21] josh--newman opened #58 "webpack works, not seeing styles"
This is my `webpack.config.js`
[code]

I can get a successful `webpack` command, but I'm not seeing any styles in my app. Am I missing something really obvious?

[2016-03-02 18:07] chvanikoff commented on #58
@josh--newman did u require bootstrap-loader in your app.js?
`require('bootstrap-loader');`

[2016-03-02 18:16] justin808 commented on #58
@josh--newman Take a look at the https://github.com/shakacode/bootstrap-loader/tree/master/examples directory and create a small test app.

@chvanikoff Per https://github.com/shakacode/bootstrap-loader/blob/master/examples%2Fbasic%2Fwebpack.dev.config.js#L14, you don't need to do a "require". An entry point does that.

[2016-03-02 19:02] chvanikoff commented on #58
@justin808 thank you, will take into a count

[2016-03-03 07:40] simonh1000 commented on #58
Webpack is so mysterious, it is great when you find something that does the work, but I have the same issue as OP

[code]

index.js
[code]

config
[code]

[2016-03-03 07:59] simonh1000 commented on #58
OK, just found that adding `styles: true` seems to help, but not entirely.  Could a default setting be wrong?

[2016-03-03 12:51] egeriis opened #60 "How to add overriding rules"
I recognize that there is a _pre-customization_ and a _customization_ file, but both seem to be included prior to all rules being defined. What is best practice for overriding rules, that cannot be adjusted using variables?

For example, I want to achieve another `disabled` style for my buttons, and tried adding this to my `customizations.scss` file:

[code]

But this rule is overridden by the def

[2016-03-03 15:29] davidb583 opened #61 "missing example of derived variables of bootstrap"
preBootstrapCustomizations : docs should explain what derived variables are, because reading _variables.scss doesn't help much.

[2016-03-04 04:30] justin808 commented on #60
Very simple. Just put this file in your appStyles or some import of your appStyles.

https://github.com/shakacode/bootstrap-loader/blob/master/.bootstraprc-3-default#L47

[2016-03-04 04:30] #60 closed

[2016-03-04 04:33] justin808 commented on #61
What's wrong with the descriptions here:

https://github.com/shakacode/bootstrap-loader/blob/master/README.md#prebootstrapcustomizations

Please submit a PR if you could clarify it more.

Basically, it's all about whether you want to define variables that bootstrap will use if defined, or if you want to change values after bootstrap had defined variables.

[2016-03-04 04:33] #61 closed

[2016-03-04 04:34] justin808 commented on #58
@simonh1000 It's best to create a simple test app to verify your webpack config with regards to styles.

[2016-03-04 04:34] #58 closed

[2016-03-04 04:35] #51 closed

[2016-03-04 05:25] bopeng87 commented on #13
the problem comes back on 1.0.6 and 1.0.9 :(

[2016-03-04 05:26] bopeng87 commented on #13
I have to go back to 1.0.3

[2016-03-04 18:32] josh--newman commented on #58
I copied the `.bootstraprc-3-default` file into my project root and everything worked.

I haven't had the chance to play around with the default values yet.

[2016-03-05 17:56] jbruni commented on #47
I just stumbled upon similar issue: same codebase was working on Linux but not on Windows.

I did just like @matiishyn following @vivanac hint, and got it working.

I will create a PR for the readme...

[2016-03-05 18:20] matiishyn commented on #47
@jbruni There's already one here https://github.com/shakacode/bootstrap-loader/pull/44

[2016-03-08 04:11] FakhruddinAbdi opened #65 "Constantly bootstrap-loader folder in the node_module dir get renamed to .bootstrap-loader.DELETE"
I'm using react starter kit as a boilerplate for building react application
For loading bootstrap i'm using BL (bootstrap-loader) and it was working fine.
After a while, when i installed react-bootstrap alongside BL, i saw an error
`ERROR in multi main
    Module not found: Error: Cannot resolve module 'bootstrap-loader' in /Users/fakhruddinabdi/WebstormProjects/zeyton
     @ multi main
`
So i dou

[2016-03-08 04:37] justin808 commented on #65
`rm -rf node_modules npm-shrinkwrap.json && npm i`

Try that.

[2016-03-08 04:37] #65 closed

[2016-03-08 13:24] LukasBombach opened #66 "Is it possible to use bootstrap-loader without jQuery?"
I am using a very simple webpack config to use `bootstrap-loader`:

[code]

This leaves me with the error

We know how *en-vogue* it is not to use jQuery and in fact we really don't need it (or want it). Is it possible to use `bootstrap-loader` without jQuery?

[2016-03-08 18:39] justin808 commented on #66
@LukasBombach Don't load the bootstrap scripts.

set these to false:

[code]

https://github.com/shakacode/bootstrap-loader/blob/master/.bootstraprc-3-default#L104

You might be able to just remove that section. I don't remember if we default to false or true in that case.

[2016-03-08 18:39] #66 closed

[2016-03-08 18:44] LukasBombach commented on #66
Awesome, thank you!

[2016-03-08 19:45] alexfedoseev commented on #66
@LukasBombach You can just set:

[code]

[2016-03-08 20:15] justin808 commented on #66
@LukasBombach Can you please verify this is documented well and if not, please submit a PR to the README.

[2016-03-08 20:43] LukasBombach commented on #66
I would not have guessed that disabling all scripts would effectively be the solution to get rid of jQuery. I feel that it is a use case shared by some and it's hard to find anything on it via Google, so I am creating a PR to point it out a bit more.

[2016-03-09 08:27] cypherq commented on #35
@justin808 @alexfedoseev Can I ask about any input for development? I'm usually using `npm link` to link my local build but in this case, when replacing working `bootstrap-loader` with my copy, I'm getting:

And honestly, I have no idea why... I really need this feature so I want to implement it by myself. I just got stuck a little bit.

[2016-03-09 09:03] justin808 commented on #35
@cypherq I've had the same exact issue.

I've had to resort to using a relative reference and running `npm i` every time I make a file change. Yes, awkward, but it works.

[2016-03-09 09:19] alexfedoseev commented on #35
@cypherq Yep, it's mentioned in [CONTRIBUTING.md](https://github.com/shakacode/bootstrap-loader/blob/master/CONTRIBUTING.md#development)

[2016-03-09 09:23] cypherq commented on #35
Whoa, surely it's pity but I'm not giving up. Just one question - why we are playing with kind of 'proxy' modules like `extraStyles.js` which are basically just wrapping module require with `query` + empty `no-op.js` module? Why not just allow user to use query string?

[2016-03-09 09:36] alexfedoseev commented on #35
@cypherq The main reason is that significant part of the users use bootstrap for the things like admin panels and prototyping. So they don't want to mess with configs, they just want to drop all bootstrap stuff in and use it. If there wasn't proxies, they forced to have a file to apply loader to. But w/ `no-op.js` they can require `bootstrap-loader` and import everything into the bundle.

[2016-03-09 14:29] LukasBombach opened #68 "Allow writing config to package.json"
I personally do not like to pollute my project with numerous dot-files for configuration. Many libraries nowadays offer writing their configuration to the package.json file. This is particularly nice when all you need is only a few configurations like disabling scripts to disable jQuery. As an alternative (or addition), I'd find it nice to be able to add the path to an actual config file, so I may

[2016-03-11 18:38] SergeyMell opened #69 "Error after adding"
After adding the bootstrap loader I get this error
[code]
I have node v 0.12.7
babel-polyfill exists in my node_modules

[2016-03-11 19:27] justin808 commented on #69
@SergeyMell We accepted some PRs related to this issue. We'll your help to debug this.

[2016-03-12 10:09] FakhruddinAbdi opened #70 "style Issue on first page load and while refreshing"
My react app on the first load is styleless for about a second then Bootstrap get loaded.
I'm using bootstrap-loader with react-starter-kit and browserSync

How to fix it ?

[2016-03-12 10:36] SergeyMell commented on #69
What help can I provide?

[2016-03-12 10:43] alexfedoseev commented on #70
@FakhruddinAbdi I assume you use it in isomorphic app. I'm not familiar with browserSync but I guess it's the same as how webpack hot middleware works. If it's so then it's not related to `bootstrap-loader`. Your styles are placed in the DOM via JS, so they can be hot reloadable. Browser needs to parse JS and apply styles. While it's doing this — you see styleless DOM nodes, which were rendered on

[2016-03-12 10:52] FakhruddinAbdi commented on #70
Thanks @alexfedoseev for your comprehensive answer, it's quite right
I'm using isomorphic app and it's placing the styles in the DOM.

[2016-03-12 18:37] justin808 commented on #69
@SergeyMell Please search the issues for the related issues on this topic and see help us debug what's missing. You can fork this repo and modify one of the examples in the `/examples` directory. At the minimum, create a reproducible case. Better yet, submit a PR with code or doc changes.

Since this is a very old Node version, neither I nor @alexfedoseev will be spending time trying to support th

[2016-03-13 12:26] chuilee commented on #41
was it  resoled? I got this problem too

[2016-03-13 12:47] AllenFang commented on #41
I thinks a clear version of Node.js and babel is required for solve this issue, if a repo can reproduce this problem will be best

[2016-03-13 16:44] WellyShen opened #71 "Bootstrap 4 NavBar style doesn't work properly"
Hi, I use bs4 NavBar component, for example :
`<nav class="navbar navbar-dark bg-inverse">

</nav>`

It seems not working properly.

[2016-03-14 16:03] reywright commented on #58
I'm glad I found this thread.

So I was also having issues last week and today.

First off, make sure your webpack matches the sample webpack config... literally comb through the lines.

The 2nd part: in the example folders there are bootstrap configs... for whatever reason, you want to ignore these and use the config at the root of the project. So if you're using Bootstrap V4, grab the .bootstrap

[2016-03-14 18:32] josh--newman commented on #58
I'm glad this thread helped you. :smile:

[2016-03-15 01:43] chuilee commented on #41
@AllenFang thanks . I use node v4.3.1. it is ok now

[2016-03-15 02:34] justin808 commented on #71
I added this to the docs:

If you're using Bootstrap 4, you probably need:

npm install postcss-loader

see if that fixes the issue

if not, compare your set to the ones in the /examples directories.

[2016-03-15 02:36] justin808 commented on #68
There's too much configuration to add this to package.json and you can't easily put comments in there.

We do have another request to customize the location of that file. It would be **AWESOME** if you could submit a PR for one.

[2016-03-15 02:36] #68 closed

[2016-03-15 02:36] justin808 commented on #68
See #35.

[2016-03-15 02:38] WellyShen commented on #71
Hi @justin808 ,

Thank you for your response, but I cloned your basic example and tried the bootstrap 4 "NavBar" on it. I seems not working properly.

[2016-03-15 02:52] justin808 commented on #71
fork the repo with this control in the example

then take a screen shot of the issue

better yet, help us debug why this is happening

until Bootstrap comes out of alpha, the core team is depending on the
community to debug these issues

thanks

[2016-03-15 11:29] jenyckee commented on #41
I upgraded my node version too and it works. However at our servers we can not upgrade atm to higher node versions. For this reason I think it's recommended to get it running on lower node versions too.

[2016-03-16 04:33] justin808 commented on #71
@WellyShen Any update?

[2016-03-16 04:33] justin808 commented on #69
@SergeyMell Any update?

[2016-03-16 06:08] justin808 commented on #41
@jenyckee I'm happy to take a PR, either doc or code.

[2016-03-16 14:13] SergeyMell commented on #69
Because I had to make my project working as soon as possible, I've moved to Node 5.8.0 and the issue disappeared. Thus now it quite hard to create a project on the basis of Node v 0.12 but I will come up with some materials/propositions as soon as possible.

[2016-03-16 22:57] mdgraser commented on #41
@justin808 Won't [this](https://github.com/shakacode/bootstrap-loader/blob/master/src/bootstrap.loader.js#L11-L12) always throw with node < 4 because no one is using more than one version of babel?

[2016-03-16 23:16] justin808 commented on #41
![2016-03-16_13-15-41](https://cloud.githubusercontent.com/assets/1118459/13831620/38406b52-eb79-11e5-9b5b-9c53909bf277.png)

That's an @AllenFang question.

[2016-03-17 01:40] AllenFang commented on #41
#29 that's my problems

[2016-03-21 10:34] petetan commented on #71
@justin808 @WellyShen I think there is some confusion due to the [basic .bootstraprc-4-example](https://github.com/shakacode/bootstrap-loader/blob/master/examples/basic/.bootstraprc-4-example) and [css-modules .bootstraprc-4-example](https://github.com/shakacode/bootstrap-loader/blob/master/examples/css-modules/.bootstraprc-4-example) files not being in sync with main  [.bootstraprc-4-default](htt

[2016-03-21 11:15] WellyShen commented on #71
Hi @petetan  @justin808 , Thank you for your support, I have tried it, now it works.
First, I add the following code into the ".bootstraprc-4-example" file
`utilities-background: true`
Then, tried bootstrap navbar inside the "bootstrap-dev.html" file
`<nav class="navbar navbar-dark bg-inverse">
  <a class="navbar-brand" href="#">Navbar</a>
  <ul class="nav navbar-nav">
     <li class="nav-item act

[2016-03-21 21:25] derrekyoung opened #73 "Unable to load WOFF, WOFF2, TTF files from browser"
I've got bootstrap-loader mostly working with bootstrap-react. I'm using Bootstrap 3 with default dootstrap-loader config in my `.bootstraprc`.

I'm using webpack to build the app, and webpack is spitting the bundled JS, CSS and artifacts into the `./build/ `directory. My JS loads fine and bootstrap-loader is applying Bootstrap to the page.

My problem is that when I try to add a glyphicon I get 4

[2016-03-21 21:37] chrisblossom opened #74 "Error: Cannot find module './lib/bootstrap.loader?extractStyles!./no-op.js'"
I am unable to get past the error ```Error: Cannot find module './lib/bootstrap.loader?extractStyles!./no-op.js'``` with my isomorphic/universal app. I am using webpack to compile both the server and client (same loaders used).

Please advise.

Below are my relevant configs:

.bootstraprc
[code]

Client webpack config:
[code]

Server webpack config:
[code]

[code]
[code]

Debug output:
[code]

Ful

[2016-03-22 15:31] chrisblossom commented on #74
I am not sure what I did to solve my frontend issue, but I solved the backend issue with adding:

[code]

[2016-03-22 15:31] #74 closed

[2016-03-22 16:01] ericdfields commented on #4
I'm seeing the same error:

Error:
[code]

I'm using it in my webpack config as part of an array of entries: `entry: ['bootstrap-loader'…],`

I also have `context: __dirname` set, if that matters.

[2016-03-22 17:45] justin808 commented on #4
@ericdfields We'll need some more help from you to debug your issue.

[2016-03-22 18:00] ericdfields commented on #4
I will isolate the case and follow up!

[2016-03-22 18:22] ericdfields commented on #4
Alright, here's the webpack conf I'm working with:

[code]

My directory structure is
* /
  * .bootstraprc
  * package.json
  * node_modules/
  * frontend/
    * webpack.dev.config.js

In package.json, I have a script 'dev': `"dev": "cd frontend && webpack -w --config webpack.dev.config.js",`

I'm guessing the fact that the webpack config is one dir below node_modules has something to do with it?

[2016-03-22 18:27] ericdfields commented on #4
@justin808 btw thanks for all your rails on maui work. That was my foothold into working with webpack alongside a rails environment!

[2016-03-22 19:48] ericdfields commented on #4
nvm, got it. I used the bootstraprc out of one of the examples and it it made reference to a file path I don't use. thanks for the consideration.

[2016-03-23 05:01] justin808 commented on #4
@ericdfields You're welcome!

[2016-03-23 05:16] justin808 commented on #73
Glyphicons in bootstrap 3 (removed in bootstrap 4) should work fine as-is. @derrekyoung can you study the example here and compare to yours: https://github.com/shakacode/bootstrap-loader/blob/master/examples%2Fbasic%2F.bootstraprc-3-example

[2016-03-23 05:16] #71 closed

[2016-03-23 10:48] Animagani opened #75 "Issue with resolving .bootstraprc file path"
Hello,

I have an issue connected with resolving path to .bootstraprc file.

**Background:**
On CI server, before running build scripts I am symlinking node_modules from different directory. It let's me to save build time, as I don't have to install node_modules on each build (gitlab-ci is odd and currently it's not possible to save node_modules directory between builds).

**Issue:**
On build, boo

[2016-03-25 20:34] damianlegawiec commented on #75
Same here when running in Docker container. We made some workarounds for this but a proper resolution would be great.

[2016-03-25 20:52] justin808 commented on #75
I'd love to take a well tested and document PR for this, if you have one!

[2016-03-30 14:25] C3PablO opened #76 "outputStyle doesn't work"
Hello! First of all, thanks for this awesome library.

I'm extracting scss files and setting `outputStyle=compressed` in .bootstraprc but the output file contains bootstrap expanded and also inline source map comment which makes the file very heavy.
.bootstraprc:
[code]

webpack.config.js:
[code]

Any idea if there is something wrong? I'm trying the same thing with the examples but I'm getting the

[2016-03-31 08:19] C3PablO commented on #76
I can solve the problem about the inline source map comment adding `sourceMap=false` in .bootstraprc but I can't find a way to compress bootstrap styles

[2016-04-02 03:33] justin808 commented on #76
Maybe compression is something that should be done at the webserver level?

If you think there's a valid feature missing, please submit a PR.

For Rails apps, the gziping of assets is configured once for the server.

[2016-04-04 08:03] C3PablO commented on #76
I think a bug more than a PR. The documentation paragraph about styleLoaders says it's possible to pass loader params, which is possible but outputStyle doesn't work. In fact, documentation shows an example passing `outputStyle`.

[2016-04-07 20:17] nfort opened #77 "Error: Final loader didn't return a Buffer or String"
i get this error, when try compile

[code]

How it fix?

[code]

[2016-04-07 21:14] alexfedoseev commented on #77
@nfort Do you have all required loaders installed?

[code]

If yes, then, please, post small repo to reproduce the issue.

[2016-04-12 22:53] storrdev opened #78 "Module build failing at 'Argument `$color` of `lightness($color)` must be a color'"
I'm new to webpack so sorry if this is an obvious answer.

I'm using the [react starter kit](https://github.com/kriasoft/react-starter-kit) to create an app which uses the [isomorphic style loader](https://github.com/kriasoft/isomorphic-style-loader).

I wish to add some custom rules to the .btn class and figured the best way to do so would be to @import the bootstrap sass file in my scss file and

[2016-04-20 00:53] MrBenJ opened #79 "Unable to use Bootstrap.js pieces with css text extraction and JS uglification"
Hi there,

I'm using bootstrap-loader. I currently have it via an import/require call at the top of each page in a multi-page webapp I'm building.

I have jquery imported via imports-loader as specified, but I'm running into problems in my dist script when I uglify everything and use css text extraction.

Here's a copy of my webpack config:

[code]

The error I'm getting is
[code]

Please let me k

[2016-04-20 06:56] justin808 commented on #78
The error is:

You are passing 13.5%

[2016-04-20 06:56] #78 closed

[2016-04-25 03:07] keithrob commented on #77
@alexfedoseev,
I had the same problem and your complete list of required modules fixed it.  Thx.

[code]

Might want to add that to the README.md's Installation section.

[2016-04-25 05:15] LucianoGanga opened #80 "Bootstrap CSS not building"
Hi!

I'm having problems building the bootstrap CSS file, and I've been more than 6 hours trying to solve it, without any chances! :(

Can anyone help me?

My webpack.config.js file looks like this:

[code]

The thing is that when I build my files, they don't appear in my /dist folder.
The only thing I see in the log is:

[code]

[2016-04-25 06:47] alexfedoseev commented on #77
@keithrob Glad it helped 👍

Actually [it's there](https://github.com/shakacode/bootstrap-loader#installation)

@nfort
I'm closing this for now. Reopen if issue still occurs.

[2016-04-25 06:47] #77 closed

[2016-04-25 20:17] Vishwaas commented on #41
It seem to happen in node v4.2.6 too but for file-loader

[2016-04-25 20:20] Vishwaas commented on #41
It happens to me too, I have node V.4.2.6 but for file-loader

[2016-04-25 22:40] MrBenJ commented on #79
Hey, I ended up solving this issue. This was totally one of those late night hack sessions, and I neglected to include the scripts in my .boostraprc file. Doh!

If you read this issue, thank you! If there's anything in this repo I can contribute to, let me know. Happy to jump on a really great project!

[2016-04-25 22:40] #79 closed

[2016-04-26 00:34] justin808 commented on #79
@MrBenJ, @alexfedoseev and I are crazy busy with http://www.shakacode.com.

We'd love any help you can give us on this project, such as just commenting on issues and PRs.

Basically, we're totally open to any help!

[2016-04-26 00:35] MrBenJ commented on #79
@justin808 Yes! I'll be happy to help out!

Right now I'm in a crunch for my current startup, but once this storm has passed, I'll be happy to contribute!

[2016-04-26 00:58] justin808 commented on #41
Fixed by https://github.com/shakacode/bootstrap-loader/pull/29

[2016-04-26 00:58] justin808 commented on #41
Actually, I'm not sure now. @Vishwaas, @mdgraser Anything we need to change? Or all good?

[2016-05-01 01:27] nicolasxu opened #81 "Excessive amount of console log after executing 'webpack' in console"
The log shows about 30 of:
==== JS stack trace =========================================
...
==== C stack trace ===============================
...
It is not relevant to setting in the .bootstraprc file, e.g:
\# Output debugging info
loglevel: disabled

How can I disable the stack trace info when executing 'webpack' command in console?

[2016-05-01 08:10] alexfedoseev commented on #81
@nicolasxu Can you remove `bootstrap-loader` and check if output is gone / still there? I'm not logging anything like this.

[2016-05-02 14:11] hoschi opened #82 "Poor HMR performance when adding 'bootstrap-loader'"
Hi,

before adding bootstrap-loader to my webpack config, HMR changes were served in ~200-350ms. The timings are from webpack when it says "webpack built HASH in X ms". After adding bootstrap-loader this time degraded to around ~2500-3000ms. I checked also the 'css-modules' examples and the timing here is also always above 2000ms. Is this fixable? I don't know what bootstrap-loader performs when H

[2016-05-02 15:54] nicolasxu commented on #81
Thanks for the suggestion. After removing bootstrap-loader, the log is gone. The log is from a sub module 'bootstrap-sass', a dependency of bootstrap-loader. The content of log is warning for future deprecation. The version of my 'bootstrap-sass' is 3.3.6.

Log example:
==== JS stack trace =========================================

Security context: 0x38ca36dc9fa9 <JS Object>#0#
    1: /* anonymou

[2016-05-02 16:52] nicolasxu commented on #81
Btw, I try webpack on your basic example project in "bootstrap-loader/examples/basic/", it also logs lots of C stack trace.

[2016-05-03 09:19] srahulprdxn opened #83 "Cannot disable normalize"
I tried the below given config:

[code]

and

[code]

None of 'em worked. Normalize.css gets appended and is loaded. I wanna get rid of this css.

[2016-05-03 20:27] nknapp opened #84 "webpack-dev-middleware does not reload when changing .bootstraprc"
I haven't much experience with webpack and the bootstrap-loader yet, so I'm not sure whether I got something wrong. I forked vigetlabs' (gulp-starger)[https://github.com/gachou/gulp-starter]-repository
and included the bootstrap-loader [in this commit](https://github.com/gachou/gulp-starter/commit/59e1ad1fb80c8d009440d0a888fb6123efc2f7c7).
Everything worked fine pretty quickly, except one thing: W

[2016-05-04 12:09] pearljamik opened #85 "transition.js:59Uncaught ReferenceError: jQuery is not defined"
When I use require('bootstrap-loader'); my app wont start:

The following error appears:
transition.js:59Uncaught ReferenceError: jQuery is not definedwebpackJsonp.513 @ transition.js:59__webpack_require__ @ bootstrap 95cfe20…:50webpackJsonp.402 @ no-op.js?cb73:1__webpack_require__ @ bootstrap 95cfe20…:50webpackJsonp.401 @ no-op.js:2__webpack_require__ @ bootstrap 95cfe20…:50webpackJsonp.501 @ loa

[2016-05-04 21:51] JulioC opened #86 "Enable sourcemaps per environment"
Is it possible to enable the generation of sourcemaps only if env is set to development?

[2016-05-05 03:57] nathaliesicard commented on #85
Same here! I also added the loader in webpack.config.js:

      { test:/bootstrap-sass[\/\\]assets[\/\\]javascripts[\/\\]/, loader: 'imports?jQuery=jquery' }

And I get the exact same error.

[2016-05-05 04:05] nathaliesicard commented on #85
I actually just got it solved. I added this line in my app.js:

`global.jQuery = require('jquery');`

Right before:

`require('bootstrap-loader');`

[2016-05-05 05:49] AllenFang commented on #85
[code]
Maybe try to add this in your webpack ?!

[2016-05-06 12:33] phryneas commented on #75
same problem here with a symlinked node_modules folder.
The solution from @Animagani works well, it would be great, if you could intergrate it.

[2016-05-06 12:47] alexfedoseev commented on #84
Same as if you'd change webpack config. It's build config, but not build target, so it's not a subject for hot reloading. Sorry, wontfix.

[2016-05-06 12:47] #84 closed

[2016-05-09 23:18] csmalin commented on #81
That only happens for me on Node 6.0, I've reverted back to v5.11.1 and it went away.

[2016-05-13 21:42] kevzettler opened #87 ""appStyles" relative path?"
What relative path is `appStyles` trying to use for `@import` statements ?

I have `  "appStyles": "./src/stylesheets/application.scss",`

This loads ok

`application.scss` looks like:

[code]

This throws errors :

[code]

The directory looks like:

[code]

I've tried differernt perumations in the `@import` statment with no luck

[2016-05-13 21:48] #87 closed

[2016-05-16 17:29] carbonizer opened #88 "`bootstrap-loader` Reruns During `webpack --watch` When Isolated, Non-Style Files Change"
I don't know if this is an issue, or if I am misunderstanding how `webpack` and/or `bootstrap-loader` works.

In the interest of faster builds, I separated my custom app code and vendor code into two bundles
I separated my config into an app. Running `webpack --watch`, when I change my `appStyles` file, `bootstrap-loader` is triggered and the vendor bundle rebuilds as I expect. However, if I chang

[2016-05-21 07:34] mihirsoni commented on #10
@mmahalwy Did you find any workaround to do this ?

[2016-05-22 06:17] pranaydutta89 opened #89 "sourcemap getting created in bundle"
big sourcemap are getting created for .css, .ttf and .eot, how to disable them with .bootstraprc, please help me with the issue

[2016-05-24 16:20] silasb commented on #80
Pretty sure you want `bootstrap-loader/extractStyles` instead of `bootstrap-loader`

[2016-05-27 14:27] otherjohn commented on #74
I am getting the same error but I am using angular2 (https://github.com/AngularClass/angular2-webpack-starter) and Boostrap 4a

[2016-05-27 17:53] jgog commented on #30
Hey I am getting the same error

[code]

Any clue how to resolve this?

[2016-05-29 20:34] FakhruddinAbdi commented on #70
Unfortunately the solution didn't work in the production mode.
As i told you i'm using [react starter kit](https://github.com/kriasoft/react-starter-kit).
 according your first-page doc, i have to require it in the entry component. i tried it in the App.js but came across the below error

[code]

the other way is adding into webpack.config.js in the entry configuration section... it will load the

[2016-05-31 08:50] mclxly commented on #30
Following solution may save someone time.
[code]
CentOS: 6.7
node: v6.2.0

My solution:
1. rm -rf node_modules
2. npm -i
3.  npm rebuild node-sass

[2016-06-01 02:59] dguo commented on #81
I had the same experience as @csmalin. Try updating your version of `node-sass` to [3.7.0](https://github.com/sass/node-sass/releases/tag/v3.7.0), which is Node v6 compatible. That fixed it for me.

[2016-06-01 05:17] programbo commented on #86
I've been looking to see if this is a feature of bootstrap-loader. Looks like it's not.

[2016-06-07 15:02] IAMtheIAM commented on #82
I have this problem too. My recompile is 1.4 seconds without bootstrap-loader, and 7 seconds with it. What is causing this?

[2016-06-13 19:18] vorobeez commented on #80
Hello.

Actually, i have the same problem.
My webpack.config.js:
[code]

Can anyone help me?

[2016-06-15 12:10] goncalojuve commented on #74
otherjohn i have the same error that you have. did you solve the error?

[2016-06-15 12:21] thevangelist opened #91 "Question: How to use JSX?"
AFAIK you're using vanilla HTML here: https://github.com/shakacode/bootstrap-loader/blob/master/examples/css-modules/app/components/GlyphIcons/GlyphIcons.jsx on low level
`<span className="glyphicon glyphicon-headphones"/>` instead of say `<Glyphicon name='headphones' />` or so, can I do that?

This seems possible in the deprecated version of https://github.com/shakacode/bootstrap-sass-loader, but

[2016-06-16 17:03] pranaydutta89 opened #92 "Question:import bootstrap to scss"
i want to extend few classes of bootstrap how can i import tom y scss files,please help me with the issue

[2016-06-18 15:42] evansb commented on #91
You can use `react-bootstrap` which provides React component wrapper for Bootstrap components.

[2016-06-21 17:05] lxcid commented on #73
I'm getting the same issue as well. the problem is that bootstrap-loader assume that these assets are located in the root of the url. It would be great if we can provide an path to the bin/dist/build directory accessible from the web.

[2016-06-21 20:20] lxcid commented on #73
This is not an issue related to bootstrap-loader. The solution is to specific the publicPath of output in webpack.config.js.

See https://github.com/webpack/docs/wiki/configuration#outputpublicpath

[2016-06-25 17:45] chevsky commented on #80
Hi guys. If you define your own `.bootstraprc`, you should specify `styles: true` field manually.

[2016-06-25 21:28] chevsky opened #93 "Separate CSS chunks"
How can I separate bootstrap CSS chunk and my own CSS using this loader?

[2016-06-25 23:13] justin808 commented on #92
Is this a general question regarding bootstrap? If so, I recommend StackOverflow.

[2016-06-25 23:14] justin808 commented on #91
@evansb is correct.

[2016-06-25 23:14] #91 closed

[2016-06-25 23:17] justin808 commented on #89
@pranaydutta89 I think your "issue" is really more of a doc request. Did you try asking on StackOverflow? Note, you can pass some options.

See this section of the docs:

https://github.com/shakacode/bootstrap-loader/blob/master/README.md#paths-to-custom-assets

@pranaydutta89 Please let me know if I can close this issue. If you like, you can submit a PR for some doc on this issue.

[2016-06-25 23:20] justin808 commented on #88
@carbonizer If you're using app styles, then you can access bootstrap variables, which is correct. The downside is that you rebuild all CSS with every change to your CSS in your application styles. I don't know of any way around that.

Please close this issue if this answers your question.

[2016-06-25 23:22] justin808 commented on #86
This would probably take a PR to do this. This seems like a reasonable request.

What is the downside to building source maps for the production env?

@JulioC or @programbo, are either of you interested in doing a PR?

[2016-06-26 00:04] justin808 commented on #85
Seems like this could just be a doc issue. Please comment if we should re-open this one.

[2016-06-26 00:04] #85 closed

[2016-06-26 00:05] justin808 commented on #83
From http://getbootstrap.com/css/

Normalize.css
For improved cross-browser rendering, we use Normalize.css, a project by Nicolas Gallagher and Jonathan Neal.

@srahulprdxn Please comment if you feel this issue should still be open.

[2016-06-26 00:05] #83 closed

[2016-06-26 00:07] justin808 commented on #82
@hoschi @IAMtheIAM Please open a PR if you have a fix or provide some more debugging info. I'll leave this discussion open for a bit longer.

[2016-06-26 00:08] #81 closed

[2016-06-26 00:08] justin808 commented on #80
@chevsky Can we close this issue? Should we have a doc change for this?

[2016-06-26 00:10] justin808 commented on #76
I'm open to any additional suggestions on whether or not bootstrap-loader should do compression.

[2016-06-26 00:10] #76 closed

[2016-06-26 00:10] #73 closed

[2016-06-26 00:10] justin808 commented on #73
@lxcid Thanks for the help!

[2016-06-26 00:11] justin808 commented on #70
@FakhruddinAbdi Can we close this issue?

[2016-06-26 00:18] FaxradinAbdi commented on #70
@justin808 I stil have a problem with this issue
I have gone through [this thread](https://github.com/shakacode/bootstrap-loader/issues/41) but didn't fix it.

Could you please help me fix that, otherwise i have think about alternative for bootstrap-loader
let me know if you need further information

[2016-06-26 00:22] FaxradinAbdi commented on #70
You can see this issue [here](demo.zeyton.com:8080)

[2016-06-26 02:56] justin808 commented on #70
@FakhruddinAbdi I think you really need to debug your webpack setup, and that's probably not a bootstrap-loader issue.

[2016-06-26 02:56] #70 closed

[2016-06-26 07:15] hoschi commented on #82
I switched to Material Design (Material-UI)

[2016-06-26 09:26] FaxradinAbdi commented on #70
I don't think its due to my webpack configuration, @justin808

I'm using [React starter kit](https://github.com/kriasoft/react-starter-kit) which is the most popular Kit for react.

I just tested it again with the fresh install of [React starter kit](https://github.com/kriasoft/react-starter-kit) but still i'm seeing the problem.

Could you please try reproducing this issue over fresh install of

[2016-06-26 09:59] alexfedoseev commented on #70
But I think it is.

@FakhruddinAbdi Can you post here how you setup [`extract-text-webpack-plugin`](https://github.com/webpack/extract-text-webpack-plugin) for your production build? Since you are talking about "fresh install of React starter kit", then I think you haven't done it.

Please, spend some time to re-read my previous comment and learn how boilerplate you are using actually works (and n

[2016-06-26 12:51] chevsky commented on #80
@justin808 I think you should. I thought my `.bootstraprc` will be merged with defaults or something like this. But no :)

[2016-06-26 13:05] chevsky commented on #93
Well, that was easy. But not perfect, as for me.

[code]

[code]

[code]

[2016-06-26 13:05] #93 closed

[2016-06-26 17:45] justin808 commented on #80
@chevsky close issue? or doc change?

[2016-06-26 17:53] chrisblossom opened #94 "sass-loader 3.2.2 source-map error"
I updated to [jtangelder/sass-loader@3.2.2](https://github.com/jtangelder/sass-loader/blob/master/CHANGELOG.md) and am now getting this error:

[code]

Any ideas? Maybe I should open this issue with [bholloway/resolve-url-loader](https://github.com/bholloway/resolve-url-loader)?

https://github.com/jtangelder/sass-loader/pull/250

[2016-06-27 05:37] srahulprdxn commented on #83
@justin808 Does that mean we cannot disable at all? If yes, then I agree that there is no need for this issue to be open but I hope it gets documented somewhere.

[2016-06-27 08:51] chevsky commented on #80
@justin808 doc change

[2016-06-27 12:36] tquetano-r7 commented on #94
I'm getting the same issue with v4.0.0 of the sass-loader (which is the same as v3.2.2, but bumped major versions due to breaking changes). Just figured I would call this out.

[2016-06-27 22:36] justin808 commented on #83
@srahulprdxn This is a bootstrap dependency, not ours.

[2016-06-28 11:34] lewis617 commented on #92
https://github.com/shakacode/bootstrap-loader/issues/9

This will resolve your problem.

[2016-06-28 23:24] programbo commented on #86
Sounds reasonable. I had a look at the source a while ago and it seemed pretty straightforward. 

Sent from my iPhone

On Sun, Jun 26, 2016 at 7:22 AM +0800, "Justin Gordon" <notifications@github.com> wrote:

This would probably take a PR to do this. This seems like a reasonable request.

What is the downside to building source maps for the production env?

@JulioC or @programbo, are either of you

[2016-06-29 22:18] rjbergerud commented on #94
Same issue here.  I get the @chrisblossom 's error when I run webpack, and @tquetano-r7 's error when I run webpack-dev-server.

[2016-06-29 23:19] rjbergerud opened #95 "Any reason why resolve.extensions is different from the default in the example webpack.config.js?"
Default is : `["", ".webpack.js", ".web.js", ".js"]`, while the webpack.config.js has `["", ".js"]`

[2016-07-04 11:43] iltegin commented on #94
This issue source new 4.0.0 sass-loader version. Previous version 3.2.0 works.

[2016-07-04 17:41] justin808 commented on #94
@iltegin @rjbergerud @tquetano-r7 @chrisblossom At the minimum, we should document this. I'm totally open to a PR for this. @alexfedoseev and I are totally slammed shipping our new product. Basically, that means that we'll be enhancing this when we get PRs, or when we put in changes that we're using in our product or a client.

Thanks in advance for help on this issue. I'd like to get this one sol

[2016-07-06 02:34] fdcastel opened #96 "Simpler Bootswatch instructions"
I believe the recipe for [Incorporating Bootswatch themes](https://github.com/shakacode/bootstrap-loader#incorporating-bootswatch-themes) could be simplified to:

1) Install Bootswatch

[code]

2) Add to `.bootstraprc`:

[code]

replacing `<THEME>` with the name of chosen theme (e.g. `superhero`).

Doing this way there's no need to create any additional files nor directories.

Could somebody pleas

[2016-07-06 03:28] manhhailua opened #97 "Error integrate with react-chrome-extension-boilerplate"
I'm using [react-chrome-extension-boilerplate](https://github.com/jhen0409/react-chrome-extension-boilerplate) to create my own extension with a devtools panel page. I'm forcing my code in ES6 and trying:
[code]
But my devtools panel page still cannot recognize bootstrap. Below is my webpack config file for development.
[code]

[2016-07-06 05:11] justin808 commented on #97
Hi @manhhailua, it looks like you'll have to do some debugging. It's not clear what the issue is.

[2016-07-06 05:14] manhhailua commented on #97
It's my bad... Bootstrap is now working fine in my project. Just a silly syntax error, I write:
[code]
instead of:
[code]

[2016-07-06 05:14] #97 closed

[2016-07-06 22:39] nathanvale commented on #82
This is not a problem you have with bootstrap-loader. It's sounds like you have not set up up webpack to maximise performance with hot reloading. Creating DLL bundles for vendor modules and your common assets such as your bootstrap sass build and main app style is the way to go.

http://engineering.invisionapp.com/post/optimizing-webpack/

[2016-07-07 01:27] justin808 commented on #82
@nathanvale OK if we close this issue?

[2016-07-07 01:28] nathanvale commented on #82
No problem.

On Thu, Jul 7, 2016 at 11:27 AM, Justin Gordon <notifications@github.com>
wrote:

[2016-07-07 07:00] #82 closed

[2016-07-11 06:13] danwashusen commented on #88
Any chance you could clarify this a little?

We're converting over a big backbone app from requirejs to webpack and its working but incremental builds are taking around 15 seconds to complete (for a single line change to a coffeescript file). From fairly basic understanding of webpack output suggests that some 12+ seconds of the 15 is spent in the bootstrap-loader plugin.

Commenting out appStyles

[2016-07-13 10:54] vjpr commented on #75
@phryneas Same...had a symlinked `node_modules` which caused the issue. Great to find a simple fix.

[2016-07-13 22:51] justin808 commented on #75
@vjpr, @phryneas, @damianlegawiec, @Animagani Should we have a separate PR? or put this into #90?

CC: @pherris

All, really appreciate the help. I'm jamming on some other projects at https://github.com/shakacode, most notably those with react-native along with [React on Rails](https://github.com/shakacode/react_on_rails/] and the [associated tutorial]( https://github.com/shakacode/react-webpack-r

[2016-07-14 05:29] meglio commented on #80
In your docs, please add an example that explains how to use `ExtractTextPlugin`. Currently, the documentation links to the [plugin](https://github.com/webpack/extract-text-webpack-plugin). However, not all things are clear. For example, how to call the plugin in `module.loaders`?

_Their_ example shows this:

[code]

1. Which loaders do we have to pass?
2. Why are we applying to `.css` and not to

[2016-07-14 09:13] lewis617 opened #100 "BUG: CNPM can not find the bootstraprc of userConfigPath"
When I use npm,bootstrap-loader works well,but when I use CNPM ,userConfigPath refer to another path.

Could you fix this bug for CNPM users?

Just change the path function:

[code]
https://github.com/shakacode/bootstrap-loader/blob/master/src/bootstrap.config.js#L16

[2016-07-17 11:02] vinhlh opened #101 "How to reuse bootstrap variables"
How to reuse bootstrap variables. Example: $space-x

[2016-07-18 01:58] colinshen opened #102 "extract-text-webpack-plugin error after updated"
[code]

[code]

[2016-07-18 04:48] justin808 commented on #102
@alexfedoseev We might need an update for this. However. Let's wait until 2.0.0 is released.

@colinshen Any chance that you can create a PR for what we need?

[2016-07-18 04:49] justin808 commented on #101
@vinhlh We have you covered: https://github.com/shakacode/sass-resources-loader

Please close this issue if that meets your needs.

[2016-07-18 06:14] colinshen commented on #102
@justin808 I'm sorry. I'm new to github..so, I dont know how to do it..

[2016-07-19 07:40] #100 closed

[2016-07-19 07:53] dulichan opened #103 "SCSS files are not loaded after bootstrap-loader is called"
Hi guys,
I am using este framework [1] which recommends to use bootstrap-loader to integrate bootstrap. When I call bootstrap-loader before my main file, it will not load the SCSS imports that are done in the JS files.

[code]

[1] - https://github.com/este/este/
Cheers~

[2016-07-20 11:35] davidfurlong opened #104 "Upgrade from bootstrap-sass-loader produces error"
ERROR in ./~/bootstrap-loader/lib/bootstrap.scripts.loader.js!./~/bootstrap-loader/no-op.js
Module not found: Error: Cannot resolve 'file' or 'directory' ../bootstrap-sass/assets/javascripts/bootstrap/util in /node_modules/bootstrap-loader

[0] ERROR in ./~/css-loader!./~/resolve-url-loader!./~/sass-loader?sourceMap!./~/bootstrap-loader/lib/bootstrap.styles.loader.js!./~/bootstrap-loader/no-op.js

[2016-07-20 15:08] vpanjganj commented on #102
@justin808 is it possible that `bootsrap-loader` uses its own 'webpack` and `extract-text-webpack-plugin` as a dependency with locked version?

[2016-07-20 15:14] vpanjganj commented on #103
@dulichan I can't spot the problem in your settings, but here is my setting in development mode (I use 2 different webpack configs for dev and prod ):
[code]

[2016-07-20 22:05] fkrauthan commented on #35
is this still considered?

[2016-07-21 03:17] justin808 commented on #102
https://github.com/shakacode/bootstrap-loader/blob/master/package.json#L36

The dependencies are listed there. "extract-text-webpack-plugin" is not listed.

[2016-07-21 03:17] justin808 commented on #103
@dulichan @vpanjganj Can we close this issue?

[2016-07-21 03:18] justin808 commented on #104
@davidfurlong is bootstrap-sass listed in your package.json like this:

https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client/package.json#L57

Can we close this issue?

[2016-07-21 03:19] justin808 commented on #96
@fdcastel If you're pretty sure of this, create a PR.

[2016-07-21 03:20] justin808 commented on #95
@rjbergerud What file is that? I'm guessing that you are correct. Maybe create a PR?

[2016-07-21 03:22] #92 closed

[2016-07-21 03:22] #89 closed

[2016-07-21 03:24] justin808 commented on #88
@danwashusen I'm going to close this, as I don't see what the next step would be. I think you might have some issues related to:

At a certain size, you'll probably need to look at optimizing this.

[2016-07-21 03:24] #88 closed

[2016-07-21 03:25] justin808 commented on #86
@programbo A PR would be great.

[2016-07-21 03:32] justin808 commented on #80
I updated the docs slightly:

https://github.com/shakacode/bootstrap-loader/commit/eb3de47b111e0b872cc3fb315bc187cc7805a862

A doc enhancement PR would be very welcome!

See this file for a working sample:

https://github.com/shakacode/react-webpack-rails-tutorial/blob/master/client/webpack.client.rails.build.config.js

[2016-07-21 03:33] #80 closed

[2016-07-21 03:35] justin808 commented on #53
Possibly this affects #88.

[2016-07-21 03:35] justin808 commented on #52
@vjpr Any update on this one?

@alexfedoseev should we include this?

[2016-07-21 03:36] justin808 commented on #35
Closed by #90, about to get merged. Thanks @pherris!

[2016-07-21 03:36] #35 closed

[2016-07-21 05:38] alexfedoseev commented on #52
@justin808 Checked a code, it should be safe to configure this via config w/ inclusion by default. @vjpr PR is welcome.

[2016-07-21 07:07] vpanjganj commented on #102
True, I meant adding it as a dependency with a specified version.

[2016-07-21 07:53] davidfurlong commented on #104
@justin808 I decided to stick with bootstrap-sass-loader as trying to debug this was taking too much time. Thus you can close this issue (although the issue may reappear with someone else). Thanks for the fast reply.

I had bootstrap-sass installed as a saved dependency and I verified that the folder  node_modules/bootstrap-sass/asset/javascripts/bootstrap existed, however it was missing util node

[2016-07-21 07:56] justin808 commented on #104
@davidfurlong Ah, I see your title. There's a lot to change! Please read the README.md. It won't take you more than 30 min (or else message me!).

[2016-07-21 07:56] #104 closed

[2016-07-21 08:22] davidfurlong commented on #104
I did go through the upgrade instructions. I wouldn't waste your time by not having utilized the resources available.

[2016-07-21 09:28] justin808 commented on #104
Thanks @davidfurlong. You might have a typo, or we might have something missing in our docs.

the main error is:

[2016-07-21 11:37] dulichan commented on #103
@vpanjganj  can you please give me the version number of bootstrap-loader you are using?

@justin808 I wasn't able to resolve it yet :(

[2016-07-21 11:42] vpanjganj commented on #103
@dulichan `"bootstrap-loader": "~1.0.10"` and my webpack is `"webpack": "~2.1.0-beta"`

[2016-07-21 14:51] #101 closed

[2016-07-21 17:33] vpanjganj commented on #102
@justin808 I spent a whole day on it and couldn't make it work with nested dependencies. Removed it from peerDependencies and added dependencies.
keep getting this:
[code]

[2016-07-21 22:55] justin808 commented on #102
@vpanjganj On your project, you need the extract-text-plugin listed as a "dependency" and not a peer.

[2016-07-22 09:14] vpanjganj commented on #102
Just to clearify. Ideally, `bootstrap-loader` and the project that uses `bootstrap-loader` both should be able to have different versions of `extract-text-webpack-plugin` as dependecies. So far `bootstrap-loader` relies on the host project's using peerDependency. In 'bootstrap-loader' I changed it from peerDependency to dependency locked on ` "extract-text-webpack-plugin": "0.9.1"`. And in the pro

[2016-07-22 11:17] vpanjganj opened #106 "`.idea` not being excluded."
It will be good to add `.idea` folders (example projects have their own `.idea` folders as well) in `.gitignore`. I also noticed that this project setting folder get bundled in the actual build within `node_modules` :

![screen shot 2016-07-22 at 12 10 05](https://cloud.githubusercontent.com/assets/8151667/17055637/fc3fe5be-5005-11e6-8832-bb7c8e07942a.png)

[2016-07-22 14:21] vpanjganj commented on #102
It would be good having `extract-text-webpack-plugin` as peerDependency locked on version 0.9.1. And a new beta release of `bootstrap-loader` that only supports newer versions of `extract-text-webpack-plugin`.

[2016-07-22 20:11] xMrWhite opened #107 "Loads _print.scss even if print:false"
in .bootstraprc

    ### Bootstrap styles
    styles:

      # Mixins
      mixins: true

      # Reset and dependencies
      normalize: true
      print: false // <-- Ingored
      ....

[2016-07-22 20:18] xMrWhite commented on #107
was testing in chrome where they apply the print clearing automatically...

[2016-07-22 20:18] #107 closed

[2016-07-23 07:38] justin808 commented on #102
@vpanjganj @alexfedoseev We probably need to specify a range for the peer dependency. @vpanjganj Any chance that you'd like to do a PR on this?

[2016-07-23 07:39] justin808 commented on #106
Please see this:

https://help.github.com/articles/ignoring-files/#create-a-global-gitignore

Consider creating a global one.

[2016-07-23 07:39] #106 closed

[2016-07-24 20:31] BerndWessels opened #108 "Unhandled rejection Error: watch ..\..\bootstrap ENOENT"
Hi

The `preBootstrapCustomizations: ./bootstrap/pre.scss` and `bootstrapCustomizations: ./bootstrap/post.scss` causes an error.

If I move the `pre.scss` and `post.scss` into the root folder the error disappears but webpack keeps on recompiling constantly.

I get the error below which breaks my project's "watch and reload on change" with the following `.bootstraprc`:

[code]

Here is the console

[2016-07-25 09:12] vpanjganj commented on #102
I will, is it possible to have a beta release that works with `extract-text-webpack-plugin` 2 beta?

[2016-07-25 09:22] justin808 commented on #102
@vpanjganj Sure on the beta release. Let me know when you're ready.

[2016-07-25 11:15] vpanjganj commented on #102
@justin808 Cool, I just made a PR for the peerDependency bit. Also, I'm working on a different branch to support extract text plugin 2. Since this will be a beta release does it have to be a normal pull request to master as well?

[2016-07-25 17:56] vpanjganj commented on #102
@justin808 I think I'm done with the beta version. You can have a look at it here and let me know when you want the pull request (it will need some bits to change) [https://github.com/vpanjganj/bootstrap-loader/tree/support-extract-text-plugin-2](https://github.com/vpanjganj/bootstrap-loader/tree/support-extract-text-plugin-2)

Just FYI:

1. I used Node 6.2.0 and npm 3.10.6.
2. I had to change fon

[2016-07-26 00:45] justin808 commented on #102
Please create the PR.

In terms of a beta version, we can release anytime off of the branch.

We need to get the customizable bootstrap-loader location PR #90 in first.

[2016-07-26 00:48] justin808 commented on #108
@BerndWessels Can you make a small project, shared on github, to demonstrate this issue?

[2016-07-26 01:20] vinhlh commented on #102
Waiting the release of this PR 💃

[2016-07-26 20:34] BerndWessels commented on #108
@justin808 To do so I have to cut done a fairly huge product - that might take some time. Will let you know here once its done.

[2016-07-27 21:24] philipchmalts opened #112 "Bug in bootstrap v4, alpha 3: cannot find 'bootstrap' in node_modules"
Hey,

Not sure if this is something I am doing wrong, but I have been using this loader for months now and noticed that with the latest patch, my bootstrap folder cannot be resolved anymore. I am using bootstrap 4 alpha 2 but now it doesn't seem to be resolving the folder. When I run debug it goes to
[code]

and then throws this error:

[code]

Any help would be much appreciated!

Phil

[2016-07-27 22:24] sonyan commented on #112
I have the same problem after upgrading

[2016-07-27 22:26] philipchmalts commented on #112
Missed that we had ^4.0.0-alpha.2 and it automatically updated to 3 which came out about 5 hours ago. That being said, this project doesn't work with v3 because it seems bootstrap is missing the /dist/js/npm folder entirely. So roll back to alpha 2 for now until they get that figured out.

[2016-07-28 10:25] zh-wowtv opened #113 "Undefined variable: "$brand-primary"."
Here is my user.scss:

[code]

In my Javascript:

[code]

I got this error message.  But isn't **$brand-primary** a bootstrap variable? What could be the reason? Can anybody help?

[2016-07-28 10:36] cdax commented on #41
Still seeing this with node v4.4.7

[2016-07-28 13:47] netskape commented on #112
I'm waiting for update

[2016-07-28 21:29] lanocturne commented on #112
Need to support alpha 3

[2016-07-29 10:38] dj-hedgehog commented on #112
Had the same problem.
@philipchmalts Can you change the title to "Cannot find bootstrap module for Bootstrap 4 alpha 3" or something alike?

[2016-07-29 20:26] Phyks commented on #113
Same problem here.

From [this](https://github.com/shakacode/bootstrap-loader/blob/master/examples/basic/.bootstraprc#L54-L57) I guess this way does not work. But then, I am not sure how to access Bootstrap variables from a CSS module… =(

[2016-07-30 08:58] cvle commented on #41
confirm

[2016-07-31 00:22] bennettrogers commented on #113
Here you go: #9

[2016-07-31 08:26] justin808 commented on #112
I'm seeing the issue and trying to fix this one.

[2016-07-31 08:29] justin808 commented on #112
https://github.com/twbs/bootstrap/issues/20383

Coming out in alpha v4!

[2016-07-31 10:25] Phyks commented on #113
Thanks a lot! Maybe this is something worth mentionning in the README?

[2016-07-31 11:18] justin808 commented on #113
@Phyks We'd really appreciate a PR on the README.md for this!

[2016-07-31 11:18] #113 closed

[2016-07-31 18:36] justin808 commented on #75
@vjpr, @phryneas, @damianlegawiec, @Animagani:

See #114. I've published 1.1.0-beta.1. I'm awaiting review comments and somebody to verify that the new build works.

[2016-08-01 17:08] vpanjganj commented on #102
@vinhlh @colinshen It's good to go now. Just install `bootstrap-loader@2.0.0-beta`

[2016-08-02 01:22] dani0010 opened #117 ".bootstraprc-4-default does not work with new file and folder structure of Bootstrap@4.0.0-alpha.3"
Even after issue #112  is remedied, bootstrap-loader will not load Bootstrap properly because of changes to the file and folder structure in two areas:

1. CSS Components pager and labels are no longer present. If set to true in the config, loader will complain about those files not being found. These don't create a problem with the exported css because the files aren't found, and they're not need

[2016-08-02 01:42] robwise opened #118 "Webpack Peer Dependency fails for `webpack@2.1.0-beta.20`"
Relates to this peer dependency: https://github.com/shakacode/bootstrap-loader/blob/master/package.json#L44

[code]

This is with `webpack@2.1.0-beta.20` installed (notice the minor version is **1** not **0**. I believe this is the cause of the problem because of the special way NPM semver handles pre-release/beta tags.

[source](https://docs.npmjs.com/misc/semver#prerelease-tags)

We should there

[2016-08-02 02:06] iynaix opened #120 "Logging level of bootstraprc messages"
I run my production build with the following command:

`NODE_ENV=production webpack --config=webpack.config.prod.js --profile --json > build.json`

With the most recent update to version 2, the build.json begins with the following line:

`[bootstrap-loader]:  bootstrap-loader is using config file at ...`

which breaks the file as being valid json.

Changing the log level should fix the issue I thi

[2016-08-02 03:17] jerexyz commented on #112
I have the same problem,Waiting too!!!

[2016-08-02 07:14] justin808 commented on #117
@dani0010, Thank you!

If you can help us get this solved, many of us will be very happy and grateful. We have a slack room that you might want to join.

[2016-08-02 10:09] justin808 commented on #120
Hi @iynaix,

If you could make a PR, and we'll create a new release.

Thanks.

[2016-08-02 12:51] dani0010 commented on #117
After more digging I can see the use flex box option will be fine. Although the rules have been refactored, the switch is still in the same place and will properly import or ignore them.

[2016-08-03 05:01] justin808 commented on #118
@alexfedoseev We should get this PR merged...

[2016-08-03 05:03] justin808 commented on #117
@dani0010 close this one?

[2016-08-03 06:29] #118 closed

[2016-08-03 12:07] dani0010 commented on #117
It's not resolved. Bootstrap is shipping a patch for Alpha 4.3 as you see here: https://github.com/twbs/bootstrap/issues/20373That will break bootstrap-loader for the reasons in this issue.

[2016-08-03 12:07] dani0010 commented on #117
https://github.com/twbs/bootstrap/issues/20373

[2016-08-03 12:08] janusch commented on #94
I am using:

[code]

and this is not an issue anymore. I think you can close it @justin808
Btw, thanks for your great work on maintaining this incredible loader again!

[2016-08-03 12:12] janusch opened #122 "[question] Are the 2.* bootstrap-loader version incompatible with webpack 1.*"
Maybe this should be made more clear in the readme?

Will the 1.* branch still be maintained? I am not sure how bumpy the upgrade path from webpack 1 to webpack 2 will be. Hopefully there will be support for newer bootstrap 4 version in the 1.* releses as well!

Thank you!

[2016-08-03 14:00] wphampton commented on #96
This seems like it should work, however using both methods (yours proposed above and the current docs with separate _bs-theme.scss_) I'm seeing the behavior similar to #20 with the _superhero_ there: "No mixin named box-shadow".  Using the _spacelab_ theme I get different mixin errors.  Any ideas @larsw ?

[2016-08-03 22:11] justin808 commented on #120
We've made a suggestion on this PR #121. We'd like to get this merged soon!

[2016-08-04 08:07] justin808 commented on #10
PR that might be close: https://github.com/shakacode/bootstrap-loader/pull/123

and

repro case: https://github.com/shakacode/react-starter-kit-with-bootstrap-loader/pull/1

[2016-08-04 09:48] justin808 commented on #122
I updated the README.md. Thanks!

No idea on Webpack 2 or Bootstrap 4 upgrades.

Please let me know if my update to the README is clear.

[2016-08-04 09:48] #122 closed

[2016-08-04 09:56] justin808 commented on #94
Thanks @janusch!

[2016-08-04 09:56] #94 closed

[2016-08-04 18:32] kwelch commented on #117
I came across this issue also today. Migrating back to alpha.2 fixed the issue.

I was getting an error asking is bootstrap was installed, when using alpha.3. not sure if that is the same error but sounded similar.

[2016-08-05 03:23] peterjp80 commented on #41
I was seeing this too with node v5.4.1 when using require('bootstrap-loader'), but when I put as an entry instead it worked.

[2016-08-05 03:38] justin808 commented on #41
Does anybody have any preference to what we do? Should we just change the documentation to only use the webpack entry point?

[2016-08-05 05:41] #75 closed

[2016-08-05 11:37] janusch commented on #122
It is perfectly clear now, thank you!

I'll be sticking to v1 for some time.

Have a nice weekend!

[2016-08-08 05:16] justin808 commented on #10
I've commented on issue: https://github.com/kriasoft/react-starter-kit/pull/782

and I've created https://github.com/shakacode/react-starter-kit-with-bootstrap-loader/pull/1

CC: @zeyton

[2016-08-08 07:24] larsw commented on #96
Hi,

 Sorry, I haven't looked into this for a while.

 --larsw

[2016-08-08 08:59] davecarlson commented on #112
yup, looks like it's been fixed - mdo says it'll be in the alpha-3 patch (expected in the next week )

[2016-08-08 11:40] denizdogan commented on #85
I think the documentation should definitely be extended to explain that jQuery needs to be included "manually", i.e. `npm install jquery` and then use something like `ProvidePlugin`.

[2016-08-09 07:33] sky-coding commented on #112
Our app is fubar'd in IE on alpha-2 due to https://github.com/twbs/bootstrap/issues/17310, need support  for alpha-3, anxiously awaiting this fix!

[2016-08-10 01:18] justin808 commented on #85
We have this documented here:

https://github.com/shakacode/bootstrap-loader#jquery

We have examples here:

* https://github.com/shakacode/bootstrap-loader/blob/master/examples/basic/package.json#L47
* https://github.com/shakacode/bootstrap-loader/blob/master/examples/basic/webpack.dev.config.js#L59

[2016-08-10 19:06] brunohcastro opened #125 "Support javascript in the .bootstraprc config file"
While trying to use Root Urls and still get my assets through the `url/file-loader` (for things like `$fa-font-path` overrides), I had some problems to set the url-loader?root query to the correct folder. So I managed to do so by tweaking the `utils/parseConfig.js` from:

[code]

To:

[code]

After that, I created a .bootstraprc with something like:

[code]

So it all just worked!

I think this is

[2016-08-10 22:16] justin808 commented on #125
@alexfedoseev FYI.

@brunohcastro Please see PR comments. Thanks!

[2016-08-11 10:08] denizdogan opened #127 "$icon-font-path is not relative to my Sass file"
When I try to set `$icon-font-path` in my file `_bootstrap-pre.scss`, it seems that it's relative to `~/node_modules/bootstrap-loader` where `~` is my project root. The documentation says it should be relative to my Sass file, which would make more sense.

Am I missing something?

This is my `.bootstraprc`:

[code]

[2016-08-11 10:14] denizdogan opened #128 "useCustomIconFontPath assumes that I have a woff2 file"
I just downloaded a few icons from [IcoMoon](https://icomoon.io/) but when I try to use them, the build fails entirely because there is no .woff2 file. There *is* a .woff file. Any way to make this fail gracefully?

[2016-08-11 18:32] alekseynemiro commented on #108
Same problem.

@BerndWessels, thank you for a temporary solution! :beers:

[2016-08-11 19:23] justin808 commented on #127
Possibly this will help: https://github.com/shakacode/sass-resources-loader/issues/9

Also, are you using relative paths in your .bootstraprc file?

[2016-08-11 19:24] justin808 commented on #128
1. What is the connection of IcoMoon to this project?
2. Be sure to configure your webpack file to handle both woff2 and woff files.
3. You probably need some adjustments on your image path.

[2016-08-11 23:18] justin808 commented on #108
@BerndWessels @alekseynemiro:

1. We're happy to take a PR that solves your problem.
2. We're happy to look at a small reproduction case.
3. We don't have non unix type development machines, so we'll rely on windows users to submit PRs.

[2016-08-12 08:34] alekseynemiro commented on #108
I made a simplified version of my configuration:

https://gist.github.com/alekseynemiro/cc5e547c2d16bd59446582af0a8ad532

`webpack -d --watch`

[code]

* Windows 7 x64
* Node.js v4.4.7 + npm v2.15.8

[2016-08-13 03:46] domhede commented on #103
I'm having a similar issue.
bootstrap-loader@1.2.0-beta.1
bootstrap-sass@3.3.7
webpack@1.13.1

webpack config
[code]
.boostarprc
[code]

[2016-08-13 03:56] domhede commented on #103
Update: Reread the docs
'To start with a custom config, copy over a default config file as a starting point.'
Missed this.  All good now

[2016-08-13 07:42] justin808 commented on #103
**v2 of bootstrap-loader for v2 of webpack**

[2016-08-17 17:18] borysn commented on #112
Downgrading to bootstrap alpha 2 does not resolve the issue for me, I still get a module not found. [repo for reference](https://gitlab.com/borysn/sba2-wip/tree/master/frontend)

[2016-08-17 20:55] justin808 commented on #112
@borysn Make sure you are not using `npm link`. You might want to specify the location of your .bootstraprc file.

[2016-08-17 21:12] borysn commented on #112
@justin808 thanks for the reply. npm link is not being used, at least I don't think so? I didn't set that up anywhere. My .bootstraprc file is picked up fine. Here's a debug trace...

[code]

[2016-08-18 13:05] damienleroux opened #129 "Unwanted debug logs because process.env.DEBUG is set by npm module "debug""
Hello

I'm experiencing an issue with [global.__DEBUG__ = loglevel === 'debug' || process.env.DEBUG;](https://github.com/shakacode/bootstrap-loader/blob/master/src/bootstrap.loader.js#L70).

Indeed, I'm using [debug](https://github.com/visionmedia/debug) to log information during my gulp/webpack process. With this framework, I can do:

    import Debug from 'debug';
    const debug = Debug('eveniu

[2016-08-18 13:12] damienleroux commented on #129
Something like `global.DEBUG = loglevel === 'debug' || process.env.DEBUG && loglevel !== 'disabled';` could be an good solution.

I'll thank you for any advice on this topic :)

[2016-08-18 17:58] justin808 commented on #129
@damienleroux We could also check if the value of DEBUG is truthy, like YES, yes, TRUE, true, 1, etc.

[2016-08-21 06:41] justin808 commented on #128
@denizdogan Any update?

[2016-08-21 06:41] justin808 commented on #127
@denizdogan Can we close this one?

[2016-08-21 06:42] justin808 commented on #129
@damienleroux Any chance of a PR from you?

[2016-08-21 06:56] damienleroux commented on #129
Yes sure I'm doing that :)

[2016-08-21 07:01] damienleroux commented on #129
done: https://github.com/shakacode/bootstrap-loader/pull/130

[2016-08-21 07:53] denizdogan commented on #127
@justin808 Sorry, not sure what to do with the link to that issue. I am using relative paths in .bootstraprc.

[2016-08-21 10:05] justin808 commented on #127
@denizdogan Can you create a small sample project that shows the issue?

[2016-08-22 08:48] mcianc commented on #47
I use win .. and my problem was that i didn'y installed imports-loader
installed from
https://github.com/webpack/imports-loader

and used
        loaders: [
            ...
            { test: /bootstrap-sass[\/\\]assets[\/\\]javascripts[\/\\]/, loader: 'imports?jQuery=jquery' }
        ]

is webpack.config.js

I Solved the problem, JQUERY was included correctly

[2016-08-23 03:43] chovy commented on #6
live saver @ninja- !!!

[2016-08-23 16:04] #129 closed

[2016-08-24 10:53] zchrissirhcz opened #134 "can I choose folder for generated svg and font files?"
Hi, I'm new to webpack and bootstrap-loader. I have configured my npm packages and webpack config file, which everythings in my webpage runs OK. But one small thing I wonder if I can configure, whether if I can put the generated svg and font files into a temperory folder, instead of dont't know how to controll that, and my project folder structure is like this now:
![image](https://cloud.githubuse

[2016-08-24 15:09] SlimMarten opened #135 "TypeError: path.replace is not a function"
Hi,

I am trying to embed bootstrap-loader into my webpack workflow. Before adding Bootstrap, my app started as expected.

Since I incldued Bootstrap I get the following error:

This is what my webpack.config.js looks like:
[code]

This is what my webpack.bootstrap.config.js looks like:
[code]

These configs are based on the given examples: [See Example](https://github.com/shakacode/bootstrap-load

[2016-08-24 22:38] #120 closed

[2016-08-24 22:48] justin808 commented on #135
The problem is that you're copying the examples which try to DRY up the webpack config in to support different test cases.

Please edit your webpack config per the README.md.

[2016-08-24 22:48] #135 closed

[2016-08-24 22:51] justin808 commented on #134
This is more of a webpack question.

Nevertheless, take a look at the options for the

https://github.com/webpack/file-loader

[code]

[2016-08-24 22:51] #134 closed

[2016-08-24 22:53] justin808 commented on #134
@zchrissirhcz: try changing the output.path in your exports to include the `dist` and remove the dist from the publicPath and filename.

[2016-08-25 10:14] SlimMarten commented on #135
I updated my webpack.config.js now:

[code]

Still getting the same error

[2016-08-25 11:52] AlexKVal opened #138 "Fix linting errors for 'v1' branch"
They exist long before https://github.com/shakacode/bootstrap-loader/pull/137

[code]
<img width="560" alt="v1" src="https://cloud.githubusercontent.com/assets/847572/17968023/28e079fc-6ad3-11e6-90da-9062d24979ce.png">

--
This issue could be resolved by porting https://github.com/shakacode/bootstrap-loader/pull/136 when it is implemented.

[2016-08-25 15:30] zchrissirhcz commented on #134
Thanks, it's really a webpack configuration issue. By doing as what you suggest, it works now.

[2016-08-25 18:16] AlexKVal commented on #138
https://github.com/shakacode/bootstrap-loader/pull/139#issuecomment-242488877

[2016-08-26 09:33] justin808 commented on #135
@SlimMarten You're going to have debug this.

[2016-08-27 16:56] Ks89 opened #141 "Basic example with bootstrap 4 error"
I followed the instruction in the example/basic folder but I received an error:

webpack built b5804fae135cd571c63f in 1327ms
Time: 1327ms
                                 Asset     Size  Chunks       Chunk Names
  25a32416abee198dd821b0b17a198a8f.eot  76.5 kB
  d7c639084f684d66a1bc66855d193ed8.svg   392 kB
  1dc35d25e61d819a9c357074014867ab.ttf   153 kB
e6cf7c6ec7c2d6f670ae9d762604cb0b.woff2  71.

[2016-08-28 22:23] 7sharp9 commented on #141
Same for me too.

[2016-08-29 10:40] AlexKVal commented on #138
Closed by #139

[2016-08-29 10:40] #138 closed

[2016-08-29 11:06] muuki88 opened #143 "Regression in glyphicons handling for 1.1.1"
Hi,

We just upgraded to the brand new `1.1.1` from `1.1.0` and found a regression regarding the glyphicons handling. It seems that despite we disable glyphicons, `bootstrap-loader` tries to process them.

When running our webpack production build we get the following error

[code]

### Configuration

This is our webpack loader configuration

[code]

Our `.bootstraprc` looks like this

[code]

[2016-08-29 13:17] wilburrr90 commented on #141
I found a two step workaround to this:

1) Make this one-line change in npm_modules/bootstrap/package.json https://github.com/twbs/bootstrap/commit/75715d9d3cc8d033cc1e1fe5de805e81cfa06b1f

2) Modify .bootstraprc as described here: https://github.com/shakacode/bootstrap-loader/issues/117

Although it's not good practice to modify a module's package.json, this get's things working--for me at least.

[2016-08-29 13:26] jafffmen opened #144 "`cp -rf app/assets/webpack/*.otf: No such file or directory` error on 1.1.1"
Hi,

While version 1.1.1 is installed, there is a problem with loading `*.otf` files.

[code]

Server log:
[code]

For version 1.1.0 everything is working fine.

Cheers :)

[2016-08-29 14:41] Magellol opened #145 "Upgrading to 1.1.1 makes bootstrap-loader not finding the bootstrap 4 package"
After upgrading I had this following error

[code]
Downgrading back to `1.1.0` fixes the issue.

[2016-08-29 14:49] JuliaRechkunova opened #146 ""scripts": false configuration does not work and causes exceptions only from 1.1.1"
We reinstall node_modules and got this error today:
![screen shot 2016-08-29 at 16 15 36](https://cloud.githubusercontent.com/assets/1415710/18055354/c00c1084-6e07-11e6-83f2-990eb1773a8e.png)

We had `"scripts": false` configuration. It throws exceptions now for version 1.1.1.
It seems that our project unfortunately imports jQuery and we have noticed it only today.

[2016-08-29 17:22] AlexKVal opened #148 "Some testing in examples throws `Uncaught ReferenceError: jQuery is not defined`"
This has been discovered while working on https://github.com/shakacode/bootstrap-loader/pull/147 (but not connected with)

When running `examples/css-modules`
[code]
In browser's console:
`Uncaught ReferenceError: jQuery is not defined`

[2016-08-29 17:24] AlexKVal commented on #141
Examples don't work with the `bootstrap@4.0.0-alpha.3`, only with `bootstrap@4.0.0-alpha.2` version
https://github.com/shakacode/bootstrap-loader/pull/147/commits/1c29eb6725355185e9488b43625c335705ebf18b

[2016-08-29 17:28] AlexKVal commented on #148
The same https://github.com/shakacode/bootstrap-loader/issues/146

[2016-08-29 17:30] AlexKVal commented on #145
Related https://github.com/shakacode/bootstrap-loader/issues/141#issuecomment-243191923

--
`bootstrap-loader` doesn't work with `bootstrap@4.0.0-alpha.3`, only with `bootstrap@4.0.0-alpha.2`

[2016-08-29 17:31] AlexKVal commented on #144
Could be related to the regression https://github.com/shakacode/bootstrap-loader/pull/147

[2016-08-29 17:31] AlexKVal commented on #143
Probably related to the regression https://github.com/shakacode/bootstrap-loader/pull/147

[2016-08-29 17:35] #148 closed

[2016-08-29 17:38] AlexKVal commented on #146
Steps to reproduce using examples:
[code]
Produces in browser's console:
`Uncaught ReferenceError: jQuery is not defined`

The issue could be related to dependencies updates, though I'm not sure for 100%

[2016-08-29 17:56] Magellol commented on #145
I'm using `bootstrap@4.0.0-alpha.2`.
Here's a sample of my `package.json`.

[code]

[2016-08-29 22:22] tjenkinson commented on #146
I have the same issue

[2016-08-29 22:30] tjenkinson commented on #146
Can confirm v1.1.0 works fine.

[2016-08-30 00:39] justin808 commented on #143
@muuki88 Please verify that 1.1.2 fixes the issue.

[2016-08-30 00:40] justin808 commented on #146
@tjenkinson Please verify fixed in 1.1.2.

[2016-08-30 00:41] justin808 commented on #145
@Magellol Please verify fixed in 1.1.2.

[2016-08-30 00:43] #141 closed

[2016-08-30 00:44] justin808 commented on #144
@jafffmen  Please verify fixed in 1.1.2.

[2016-08-30 00:44] #143 closed

[2016-08-30 00:44] #145 closed

[2016-08-30 00:44] #146 closed

[2016-08-30 00:45] #69 closed

[2016-08-30 01:23] bmancini42 opened #151 "appStyles, etc. missing for default config path"
If you provide config in the default file path (i.e. `./.boostraprc`), values for

- `appStyles`
- `preBootstrapCustomizations`
- `bootstrapCustomizations`

are ignored. This problem was introduced here: https://github.com/shakacode/bootstrap-loader/commit/9ef2e35c3d00cf8680415a0f4eecfe473bafebc6#diff-0b69986665a247a8a8e5e872e1df7022L98

It could be fixed by adding these lines:

[code]

starting a

[2016-08-30 01:45] bmancini42 commented on #151
I'd be happy to create a PR, given privileges to this repo.

[2016-08-30 02:02] justin808 commented on #151
@bmancini42 Please create a fork to create a PR. If you can show this error in the /examples directories, even better!

BIG Thanks!

[2016-08-30 02:38] justin808 commented on #151
@bmancini42 Please submit a PR today. Otherwise, @AlexKVal or I will fix later today.

[2016-08-30 07:16] jafffmen commented on #144
@justin808 I deleted node_modules directory and bumped to v. 1.1.2 and the problem still exists when precompiling assets.

[2016-08-30 07:24] justin808 commented on #144
@jafffmen Can you try the older version before 1.1.0 and see if that fixes the issue?

Looking at your error:

[code]

it seems the the issue is with the `cp` statement and not bootstrap-loader.

[2016-08-30 07:57] JuliaRechkunova commented on #146
Thanks! It works with version 1.1.2

[2016-08-30 08:01] justin808 commented on #146
@JuliaRechkunova Thanks!

[2016-08-30 08:08] jafffmen commented on #144
@justin808 Everything works fine when there is `v. 1.1.0` installed. This problem showed up after update to `v. 1.1.1` or `v. 1.1.2`.

[2016-08-30 08:20] justin808 commented on #144
I bet this is the issue: https://github.com/shakacode/bootstrap-loader/issues/151

[2016-08-30 10:38] tjenkinson commented on #146
I now get this error when building with webpack
[code]
but don't have time to debug that sorry so will stay with 1.1.0

I guess that means this issue is fixed though!

[2016-08-30 12:52] Magellol commented on #145
Will do :)

[2016-08-30 14:56] kkamperschroer opened #152 "Error when loading .bootstraprc with missing `scripts` section"
Hello!

With the release of 1.1.2, I've encountered an issue loading my .bootstraprc file unless I include an empty `scripts` section. I haven't had a need for the `scripts` section and only had a `styles` section. It does not seem to matter if the config is json or yaml.

An example of my offending config:
[code]

And the corresponding working version:
[code]
Note the empty `scripts` section.

Th

[2016-08-30 15:38] AlexKVal commented on #151
#153

[2016-08-30 21:58] bmancini42 commented on #151
That was fast! Thanks guys.

[2016-08-30 22:18] justin808 commented on #151
Please try out 1.1.3!

[2016-08-30 22:18] bmancini42 commented on #151
Yep, works for me

[2016-08-30 22:19] #151 closed

[2016-08-30 23:15] justin808 commented on #152
@kkamperschroer Can you please try 1.1.3?

[2016-08-31 03:52] justin808 commented on #152
See #154.

[2016-08-31 07:27] muuki88 commented on #143
works with `1.1.3`

[2016-08-31 07:27] muuki88 commented on #143
Thanks for the quick fix :)

[2016-08-31 09:15] ifranke opened #156 "Problems with customized variables.scss in 1.1.2"
I used the loader in release 1.1.0 with a customized variables.scss addressed in .bootstraprc with preBootstrapCustomizations.

In Version 1.1.2 my $font-family-sans-serif definitions and other bootstrap configurations like body bg color are not used and fall back to bootstrap base definitions.

I am still working with bs4 alpha.2

I did not figure out, why this is not working any longer, solved i

[2016-08-31 10:25] justin808 commented on #156
Please confirm this is fixed in 1.1.4.

[2016-08-31 10:25] justin808 commented on #152
Please confirm this is fixed in 1.1.4.

[2016-08-31 10:26] justin808 commented on #144
Please try 1.1.4 and confirm if this fixes the issue.

[2016-08-31 11:40] justin808 opened #158 "Examples for Webpack 2 fail for custom locations"
I posted this to the https://gitter.im/webpack/webpack room.

We need a way to pass a param to the webpack config (or else we'll just have to create 2 top level config files).

[2016-08-31 14:06] kkamperschroer commented on #152
Looks like it is fixed in 1.1.4. Thank you!

[2016-08-31 14:06] #152 closed

[2016-09-01 04:38] kingluddite commented on #102
bootstrap-loader@2.0.0-beta.7 as of 8/31/2016

[2016-09-01 05:13] justin808 commented on #102
Thanks to all for your patience. If any of you want to get involved in helping me maintain this project, let me know!

[2016-09-01 05:13] #102 closed

[2016-09-01 05:13] justin808 commented on #156
@ifranke Any update? Please try the latest.

[2016-09-01 05:14] justin808 commented on #144
@jafffmen Any update?

[2016-09-01 05:15] justin808 commented on #112
@borysn Any luck? Be sure that you specify an exact reference for the version of bootstrap. Don't use the `^` symbol.

[2016-09-01 05:17] borysn commented on #112
@justin808 i got it going, answered in another thread. Thank you for the reply though (:

[2016-09-01 05:19] #112 closed

[2016-09-01 05:20] justin808 commented on #108
@BerndWessels @alekseynemiro Let me know what you find in terms of Windows support.

[2016-09-01 22:02] #158 closed

[2016-09-05 08:48] jafffmen commented on #144
1.1.4 works perfectly, sorry that it took so long. Issue resolved 👍

[2016-09-05 08:48] #144 closed

[2016-09-05 14:20] MikeJSX opened #161 "Bootstrap styles, loads after user scripts"
What i did wrong?
My Webpack entry points:
[code]

[2016-09-07 08:47] justin808 commented on #161
@MikeJSX Please see the examples for inspiration

* https://github.com/shakacode/bootstrap-loader/blob/master/examples/basic/README.md
* https://github.com/shakacode/bootstrap-loader/blob/master/examples/css-modules/README.md

[2016-09-07 08:47] #161 closed

[2016-09-07 08:48] justin808 commented on #156
Please re-open if you still see this issue.

[2016-09-07 08:55] #156 closed

[2016-09-07 08:55] #128 closed

[2016-09-07 08:56] justin808 commented on #125
@brunohcastro Are you on webpack v1 or v2?

[2016-09-07 08:56] justin808 commented on #117
Alpha 4! https://github.com/twbs/bootstrap/issues/20631

[2016-09-07 20:32] tquetano-r7 opened #166 "Peer dependency of extract-text-webpack-plugin"
Is there a reason `extract-text-webpack-plugin` is a peer dependency (especially since it is a <major version setting) for 1.x.x? Can this be made a proper dependency?

[2016-09-07 22:28] justin808 commented on #166
The v1 and v2 depend on different versions...

And we don't depend on a specific minor version.

So why not have a peer dependency?

[2016-09-07 22:35] justin808 commented on #117
Does anybody want to submit a PR with the following changes? Please verify the examples work, per https://github.com/shakacode/bootstrap-loader/blob/master/CONTRIBUTING.md

* https://github.com/shakacode/bootstrap-loader/blob/master/examples/basic/package.json#L44
* https://github.com/shakacode/bootstrap-loader/blob/a4ad66f67815a3bd186f9556e99529407a7bccc8/examples/css-modules/package.json#L46

An

[2016-09-08 15:46] robhobbes opened #168 "How can I use this to add bootstrap 4 to the official angular-seed project?"
I'm new to angular 2 and webpack. I git cloned the angular 2 seed project and I installed this project and bootstrap 4 via npm, and then in the vendor file I did `import 'bootstrap-loader'` but the styles on the page don't change. Should I be using the loader in the webpack config? Any help would be appreciated.

[2016-09-08 18:27] justin808 commented on #168
Yes. Try the Webpack configuration.

[2016-09-08 21:16] robhobbes commented on #168
It would be nice if there was a sample project. I'm not sure how I need to change my webpack config. I tried just adding bootstrap loader to the list of loaders for css but it caused all sorts of console errors.

[2016-09-09 02:11] justin808 commented on #168
@robhobbes We'd love a PR for the /examples directory.

[2016-09-09 19:15] manar-mk commented on #9
Hi, can anybody help me?
I've stylized bootstrap variables with `preBootstrapCustomizations`
then installed `sassResources` with this config

in webpack:
[code]
and sassResources

[code]

variables and mixins loads to my components, but without my changes in  `preBootstrapCustomizations`
in `appStyles` everything works well as expected.

What am I doing wrong?

[2016-09-09 19:21] lilyxl8 commented on #37
Without minification, just `css?-url` and `sass` do the trick. Thanks mate!

[2016-09-10 03:07] #117 closed

[2016-09-10 03:28] #166 closed

[2016-09-10 03:30] justin808 commented on #145
@Magellol Can you please confirm https://github.com/shakacode/bootstrap-loader/pull/170 solves your issue? Please check the examples.

[2016-09-10 03:31] justin808 commented on #141
Can any of you please confirm https://github.com/shakacode/bootstrap-loader/pull/170 works per the `/examples`.

[2016-09-10 17:50] borysn opened #171 "2.0.0-beta.11 and bootstrap 4.0.0-alpha.4 | not loading some components/utility classes"
Hey guys!

Just did the upgrade to `bootstrap-loader 2.0.0-beta.11` and `bootstrap 4.0.0-alpha.4`. On building I'm receiving errors from a few bootstrap components and utility classes.

Seems like the culprits are `page, labels, utilities-background, utilities-spacing, utilities-responsive`, I can at least mark them as false and get a successful build.

**.boostraprc**
[code]

[2016-09-10 19:11] nickwaelkens commented on #171
Had the exact same issue, not sure which project is causing it though. I switched back to `bootstrap 4.0.0-alpha.2` and my build is successful again. I knew `alpha.3` was broken, but it appears `alpha.4` isn't working either?

[2016-09-10 20:58] kjartanvalur commented on #171
Also getting errors.

`loader.js:1Uncaught Error: Module build failed:
undefined
^
      File to import not found or unreadable: ../bootstrap/scss/_pager
Parent style sheet: stdin
      in C:\temp\node_modules\bootstrap-loader\no-op.js (line 23, column 1)`

[2016-09-10 21:00] kjartanvalur commented on #171
And this...

`/~/css-loader!./~/postcss-loader!./~/resolve-url-loader!./~/sass-loader?sourceMap!./~/bootstrap-loader/lib/bootstrap.styles.loader.js!./~/bootstrap-loader/no-op.js
Module build failed:
undefined
^
      File to import not found or unreadable: ../bootstrap/scss/_pager
Parent style sheet: stdin
      in C:\temp\node_modules\bootstrap-loader\no-op.js (line 23, column 1)
Error:
undefined

[2016-09-10 21:08] nickwaelkens commented on #171
@kjartanvalur You're right, when I set everything in the `.bootstraprc` file to true, I get a lot of errors, too. I just didn't notice because I only use a tiny bit of the Bootstrap files (grid and some utilities), but this is an annoying problem.

[2016-09-10 22:29] borysn commented on #171
@nickwaelkens thanks for the PR's notice, did not think to check.

[2016-09-10 22:38] justin808 commented on #171
@nickwaelkens @kjartanvalur @borysn Should we close this issue? We did list the change in the CHANGELOG.md.

[2016-09-10 22:41] borysn commented on #171
@justin808 the issue can be closed

[2016-09-10 22:44] #171 closed

[2016-09-10 22:45] justin808 commented on #171
@nickwaelkens @kjartanvalur @borysn any chance that one of you can give me a hand and try this out:  https://github.com/shakacode/bootstrap-loader/pull/170

I'd really appreciate it!

[2016-09-11 00:47] borysn opened #172 "Issue loading popover"
Hey guys!

I'm running into an issue using popovers, seems they are having trouble. Starting up my application shows an error
 `Uncaught ReferenceError: Tooltip is not defined                   popover.js?7071:formatted:93`

The referenced line of code in the bootstrap file `popover.js` shows...

[code]

popovers seem to be working fine in alpha 4, so I'm submitting the issue here. Correct me if I

[2016-09-11 01:40] justin808 commented on #172
@borysn can you please help us debug this?

[2016-09-11 01:42] borysn commented on #172
@justin808 I'll see what I can find.

[2016-09-13 13:40] razagill commented on #172
I'm having the exact same issue. @borysn did you find anything?

[2016-09-13 16:06] frickt commented on #172
Util in util.js has the same problem:

`Uncaught ReferenceError: Util is not defined _getParentFromElement @ bootstrap.bundle.js:1520`

referenced code is in bootstrap file `dropdown.js`
`var selector = Util.getSelectorFromElement(element);`

[2016-09-13 19:41] mxmtsk commented on #41
I just wanted to follow up if anyone has made some progress? I'm using the latest node (but tried v5.12.0 too) and I'm getting

[code]

I'm using react-starter-kit and I can't get my head around how to solve the error on server side.

[2016-09-13 20:24] reywright opened #173 "Instructions for file loader when loading file in css with appStyles?"
So inside .bootstraprc, you allow people to load in whatever css they want for their app. As you know, a lot of css uses images or assets... can you help me (and / or) add something to the webpack configurations that address using files in the css? I was able to figure it out with my dev config but I wasn't able to figure it out with the extract text plugin.

[2016-09-13 21:22] reywright commented on #173
this is basically what needs to be in the webpack files for it to load.

{
        test: /\.(jpe?g$|gif|png)$/,
        loader: 'file-loader'
        // or
        // loader: 'file-loader?name=[name].[ext]'
}

[2016-09-13 21:45] reywright commented on #173
The bigger issue though is that with this setup, the images are extracted. How do we get around this?

[2016-09-13 23:24] borysn commented on #172
@razagill I tried to do some basic debugging just looking through the code, and poking around breakpoints with my project loaded up. I asked justin about how to debug an npm package properly, and he pointed me to a [blog article](https://forum.shakacode.com/t/debugging-nodejs-and-webpack-loaders/142), but I left off there.

My guess right now is that the loader will struggle with any import statem

[2016-09-13 23:57] Andre-Gl commented on #172
That is true.
Please compare
 - compiled version (that loader is uisng) here: https://github.com/twbs/bootstrap/blob/v4-dev/js/dist/popover.js
- original version: https://github.com/twbs/bootstrap/blob/v4-dev/js/src/popover.js

The next line
[code]
is just ignored in dist.

Tow options. Either reference originals or compile into single file as bootstrap did so that all variables available across m

[2016-09-14 06:24] frickt commented on #172
why do we use the files in dist and not in src?
We could change createBootstrapRequire.js from ['js', 'dist'] to ['js', 'src']
and the webpack module loader to:
      { test: /bootstrap[\/\\]js[\/\\]src[\/\\]/, loader: 'imports?jQuery=jquery' },

this would work, but i'm not sure if it's the right way...

[2016-09-14 12:46] Andrey-Pavlov commented on #172
Is there any workaround, guys?

[2016-09-14 20:16] BenjaminSchubert commented on #172
I can confirm that Utils fails when using only dropdown and itself, I couldn't find a workaround for now.

[2016-09-14 21:42] ratherblue commented on #172
Bootstrap moved away from UMD in Beta 4 twbs/bootstrap#20072. So the `js/dist` files will no longer work. This repo will need to use the `js/src` files like @frickt mentioned and then get transpiled down using Babel

[2016-09-15 01:16] sky-coding commented on #172
@borysn @razagill @frickt @Andre-Gl @Andrey-Pavlov @BenjaminSchubert

This works, using bootstrap `4.0.0-alpha.4` and bootstrap-loader `2.0.0-beta.11`:

[code]

@frickt You can remove that loader when using the above config.

Make sure to `npm install exports-loader --save-dev` if you don't have it.

Shame on them for releasing non-modular code in 2016.

[2016-09-15 07:40] justin808 commented on #172
Is any PR needed for this issue? I'm glad to merge one in so long as at least one other person besides the PR author vouches for it. I won't have time to look at this for a couple of weeks.

[2016-09-15 21:29] sky-coding commented on #172
@justin808 I am not familiar enough with webpack loaders to know if it's possible to internalize the `exports-loader` and `ProvidePlugin` logic above into `bootstrap-loader`. It will be a shame if it isn't feasible, since it means additional boilerplate for every user.

Hopefully they just bring back UMD.

[2016-09-16 18:14] michaeljota commented on #41
Hello. I'm having this issue with `Node 6.5.0`, `boostrap 4.0.0-alpha.4` and `bootstrap-loader 2.0.0-beta.11`.
I'm requiring it in vendor.js. What's the appropiate usage of this? I mean, if I should not require it, and have to use it in webpack.config.js, how to do it?

[2016-09-16 23:06] justin808 commented on #41
@mxmtsk @michaeljota Maybe you can take a look at: https://forum.shakacode.com/t/debugging-nodejs-and-webpack-loaders/142

I'm happy to accept a PR that's reviewed and confirmed by at least one other community member.

[2016-09-17 02:25] Judahmeek commented on #173
I'm not sure how this is a bootstrap-loader issue, but I'd be happy to discuss it with you in order to gain more experience with Webpack myself. I think that you would have better luck finding a solution to your issue through in Webpack's Gitter rooms: https://gitter.im/webpack/webpack

[2016-09-17 04:51] Judahmeek commented on #172
Disclaimer: I'm a webpack & bootstrap newb.

After some research, I don't see a way that a loader can add plugins to webpack cleanly. I think the best process may be placing the ProvidePlugin parameter object into a file, which would be included in the bootstrap-loader module. Then the only additional boilerplate would be a single line of code, something like `new webpack.ProvidePlugin(require('pa

[2016-09-17 04:56] Judahmeek commented on #168
@robhobbes Do you have your code in a public repository? I'd be happy to work with you on this issue.

[2016-09-17 05:15] Judahmeek commented on #127
@denizdogan I think @justin808 was implying that you could use https://github.com/bholloway/resolve-url-loader (which he indirectly linked to), by having resolve-url-loader set the paths in your `bootstrap-pre.scss` file relative to the source file (in a way that webpack likes), which should resolve your issue.

Have you been able to resolve this issue in the last 27 days?

[2016-09-17 05:26] Judahmeek commented on #125
@brunohcastro Can we close this issue?

[2016-09-17 05:46] Judahmeek commented on #108
@BerndWessels @alekseynemiro Do either of you run into errors using relative paths for any other part of `.bootstraprc` or are the errors limited to just relative paths for `preBootstrapCustomizations`?

[2016-09-17 05:53] Judahmeek commented on #103
@dulichan Where you able to resolve your issue?

[2016-09-17 06:09] Judahmeek commented on #96
@wphampton Do you have a public example repository, by any chance?

[2016-09-17 06:25] Judahmeek commented on #95
https://webpack.github.io/docs/configuration.html#resolve-extensions

Files are our examples' webpack.(dev || prod).config.js.

@rjbergerud My guess is that it's convention to restrict resolve extensions to extensions actually used in order to minimize the chance for file-name collisions. The other possibility, of course, is that the config files are based on a template. Can this issue be closed?

[2016-09-17 07:10] denizdogan commented on #127
Thanks for your help, I'll get back to this issue soon enough, bear with me

[2016-09-17 07:16] Judahmeek commented on #86
I'm not one to steal another's thunder, but I'd be happy to submit a PR in your place if you would like, @programbo . That said, I'm not even sure what a source map looks like, so any guidance would be appreciated.

[2016-09-17 07:24] Judahmeek commented on #53
So is bootstrap-loader actually creating a source map or is bootstrap-loader just telling sass-loader to do it?

[2016-09-17 07:28] Judahmeek commented on #52
So basically, make a boolean in config that stops `bootstrap-loader` from injecting `resolve-url-loader` if true?

[2016-09-17 07:55] Judahmeek commented on #41
@mxmtsk @michaeljota Do you have public repositories? Any issues running bootstrap-loaders' examples? @cdax @cvle @peterjp80 Have any of you resolved your issue?

[2016-09-17 08:03] Judahmeek commented on #32
What exactly are the functional requirements here? Just accepting lists of paths instead of a single one?

This would be easily solved along with/by #125

[2016-09-17 08:18] Judahmeek commented on #10
Since #123 is now closed, should this issue be closed as well?

[2016-09-17 09:04] alekseynemiro commented on #108
With `bootstrapCustomizations` same problem.

[2016-09-17 10:28] mxmtsk commented on #41
@Judahmeek No, it's not public but I'm using the popular https://github.com/kriasoft/react-starter-kit and did not change anything in the webpack config except adding bootstrap-loader.

My bootstraprc looks like this, just in case:
https://gist.github.com/mxmtsk/3676c9440abbe319e3ae17bd3c59190e

[2016-09-17 10:44] michaeljota commented on #41
I'm using the [n2-admin](https://github.com/akveo/ng2-admin) seed. And I'm trying to update Angular to 2.0 and Bootstrap to Alpha.4, but when I do this gets throwed.

I have a fork of the n2-admin, [here](https://github.com/michaeljota/ng2-admin). I will sync those updates to a feature branch and let you know.

[2016-09-17 15:40] BenjaminSchubert commented on #172
@Judahmeek I think what @sky-coding wrote is the simplest way of explaining what to do. I'd add it to the docs with the JQuery path. Having to add manually theses plugins is not a problem given that we also have to add jquery manually.

[2016-09-21 16:34] wphampton commented on #96
I do not, sorry.  I ended up taking a different approach when I could not figure it out.  It could have been user error so please don't hold the issue open solely on my one comment above.  Thanks!

[2016-09-21 20:48] Ks89 commented on #172
Exactly the same problem.
Bootstrap4 alpha 4 is loaded correctly, but I receive this error into the browser's console:
**"Uncaught ReferenceError: Tooltip is not defined"**

If necessary, I can add my webpack.config.js

# **This is my .bootstraprc:**
loglevel: debug
bootstrapVersion: 4
useFlexbox: true
styleLoaders:
  - style
  - css
  - postcss
  - sass
<br><br>
extractStyles: false<br>
styles: <

[2016-09-21 21:08] borysn commented on #172
@Ks89 check out the [post](https://github.com/shakacode/bootstrap-loader/issues/172#issuecomment-247205500) made a few days ago by @sky-coding, his solution resolves the issue.You can check out my [webpack.common.js](https://github.com/borysn/spring-boot-angular2/blob/master/frontend/config/webpack.common.js) for a reference.

[2016-09-21 22:23] Ks89 commented on #172
Thank u. It's working.

[2016-09-22 10:43] KerryRuddock opened #178 "Bootstrap4 alpha.4 fixed navigation is scrolled over when background color is omited from <nav>"
[]http://codepen.io/KerryRuddock/pen/pEvYXb

Created a codepen to demonstrate the issue of fixed navigation is scrolled under when class of "bg-*" is missing from mark up.  I'm not sure if this is an issue or not.  Maybe add documentation only?

ie. <nav id="navbar1" class="navbar navbar-default navbar-fixed-top">

adding "bg-inverse" or "bg-faded" fixes the problem.

[2016-09-22 22:47] justin808 commented on #178
@KerryRuddock is this a bootstrap issue? or a bootstrap-loader issue? Maybe try this without the bootstrap loader? Seems to be unrelated to the loader. Please confirm.

![2016-09-22_12-47-13](https://cloud.githubusercontent.com/assets/1118459/18768696/bc5a5c70-80c2-11e6-92d0-24721d452748.png)

[2016-09-22 23:29] KerryRuddock commented on #178
Apologies Justin,

This is not a bootstrap loader issue. I deposited this to the wrong repository.

[2016-09-22 23:30] #178 closed

[2016-09-23 10:11] Ks89 opened #179 "Module not found: Error: Cannot resolve 'file' or 'directory' (WINDOWS 7 + Webpack 1 + Bootstrap 4 alpha 4)"
Hi!
I'm trying to use bootstrap-loader 1 with webpack 1 and bootstrap 4 alpha 4 on Windows 7.
I'm working for a company and I replaced a path to hide some informations :( with "MY PROJECT FOLDER"

When I start webpack I get this error:

# ERROR
[code]

# Webpack config
[code]

# versions

$ npm -v
3.8.6

$ node -v
v5.11.0

# npm show bootstrap-loader
[code]

# bootstraprc
[code]

[2016-09-23 10:15] Ks89 commented on #179
I fogot to say that I'm using this for an Angular2 project with typescript 2.0.3

[2016-09-23 18:17] robhobbes commented on #168
@Judahmeek, I don't yet, but I ended up just using a sass loader and pointing webpack at the main bootstrap sass file. That did the trick for me.

[2016-09-25 04:50] Judahmeek commented on #179
@Ks89 We resolved this issue for bootstrap-loader v2 but apparently forgot to roll the solution over to v1. I'll make a PR tomorrow if no one beats me to it.

Basically, the issue is that Bootstrap removed UMD from `alpha 4` and that broke their paths.

Modifications for `alpha 4` applied to v2: https://github.com/shakacode/bootstrap-loader/commit/d3b35121c2dcefc66f628cef0c25ac4b89433c6d

[2016-09-25 04:51] Judahmeek commented on #173
@reywright Did you find a solution to your issue? Can we close this issue?

[2016-09-25 04:53] Judahmeek commented on #172
@borysn Now that the documentation is updated (see above commit), can we close this issue?

[2016-09-25 04:57] Judahmeek commented on #127
@denizdogan Are you using bootstrap-loader v1 or v2?

[2016-09-25 04:59] denizdogan commented on #127
@Judahmeek I still don't have access to the code I used for this issue, but if it's any help, I believe I did `npm install bootstrap-loader` on the same day that I created this issue! Again, sorry for the delay, I will get back to this issue once I get access to the code again.

[2016-09-25 12:01] Ks89 commented on #179
Ok thank u, tomorrow I'll try it.

[2016-09-25 16:06] Judahmeek commented on #179
@Ks89 https://github.com/shakacode/bootstrap-loader/pull/170 should solve your issue. Let us know if you run into an issue similar to https://github.com/shakacode/bootstrap-loader/issues/172 though.

[2016-09-25 19:39] borysn commented on #172
@Judahmeek everything looks good to me

[2016-09-25 19:39] #172 closed

[2016-09-26 09:18] Ks89 commented on #179
Thank you, now it's working.
Well done :)

[2016-09-26 09:18] #179 closed

[2016-09-26 09:49] Ks89 commented on #179
@Judahmeek
Oh, wait a minute.
After some experiments, now I have the same problem #172
I fixed it adding:
            'Tether': 'tether',
            'window.Tether': 'tether',
            Tooltip: "exports?Tooltip!bootstrap/js/dist/tooltip",
            Alert: "exports?Alert!bootstrap/js/dist/alert",
            Button: "exports?Button!bootstrap/js/dist/button",
            Carousel: "exports?Car

[2016-09-26 17:12] Judahmeek commented on #179
@justin808 Here's confirmation that #172 applies to v1 as well and that the solution is similar as well.
@Ks89 If you ever figure out why your previous experiments worked without adding `exports-loader`, please let us know.

[2016-09-26 17:54] AnonymousCoward476 opened #181 "Loss of significant digits or rounding error (line-height, etc.)"
Hi,

I just tried using bootstrap-loader for the first time and I ran into a strange problem. The default `line-height` value (and others? untested) in Bootstrap 3 is being imported with reduced accuracy due to a difference in the number of significant digits in the value. When using Bootstrap's CSS without bootstrap-loader, the default value for `line-height` on the `body` tag is `1.42857143`, bu

[2016-09-27 02:32] justin808 commented on #179
@Judahmeek Is #172 in v1?

[2016-09-27 05:38] Judahmeek commented on #179
I'm not sure what you mean. The original issue was created about v2 and I pushed the solution in #175. @Ks89 says that the same issue is present in v1 now and that the same solution works for v1, which means that 57abdbad64197d30d0e8c5aed012e8737b908a4f should be merged into v1 as well.

[2016-09-27 07:10] justin808 commented on #179
@Judahmeek If you can handle that in a PR, that would be great. Otherwise, I'll take care of it.

[2016-09-27 10:22] igama commented on #179
Confirmed, solution from #172 works

[2016-09-29 11:30] crebuh commented on #41
I've got the same issue with Node v4.4.4, Angular-Universal 2.0.11 and webpack 2.1.0-beta.22

[2016-09-29 18:49] Judahmeek commented on #181
@AnonymousCoward476 Bootstrap-Loader doesn't mutate any of Bootstrap's SCSS or CSS code. It only creates the necessary import and require statements for them.

@justin808 Any idea which loader (or webpack itself) would be responsible for this?

[2016-09-30 02:22] Judahmeek commented on #41
@crebuh Can you reproduce your issue in a public repository?

@mxmtsk Have you compared your attempt to https://github.com/shakacode/react-starter-kit-with-bootstrap-loader/tree/add-bootstrap-loader-1.2?

@michaeljota There are branches of that fork that use bootstrap-loader. If investigating those doesn't solve your problem, then I look forward to your feature branch.

@everyone There's nothing i

[2016-09-30 08:37] silveryiris opened #185 "Bootstrap 3 use Webpack 2.1.0-beta.25 encounter the resolve-url-loader error"
This was ok on `Webpack 2.1.0-beta.22` ,
but broken on `Webpack 2.1.0-beta.25`

[code]

My packages :
`webpack 2.1.0-beta.25`
`bootstrap-loader 2.0.0-beta.11`
`resolve-url-loader 1.6.0`

Webpack config

[code]

And `home.js` is just a simple practice

[code]

[2016-09-30 08:46] mxmtsk commented on #41
@Judahmeek He integrated it the same way as I did, but he also didn't add the bootstrap-loader in the webpacks server entry part of the configuration. So he has the exact same issue as me

[2016-09-30 10:49] crebuh commented on #41
@Judahmeek

here is a gist of my webpack.config file. I'm working on a project based on the Angular-Universal-Starter repo (https://github.com/angular/universal)

you mentioned babel I'm not using it at all. I guess the problem is the webpack config.

https://gist.github.com/crebuh/25878e08e712a56fdc1a701130103be1

[2016-09-30 22:19] AnonymousCoward476 commented on #181
@Judahmeek Yeah, I wouldn't have thought that it would. The result was quite surprising. As you said, it must be one of the other loaders or webpack itself. I just tried it on the master branch and it still exists in 2.x, FWIW.

[2016-09-30 22:33] Judahmeek commented on #41
@mxmtsk Not sure which branch you are referring to, but https://github.com/shakacode/react-starter-kit-with-bootstrap-loader/tree/add-bootstrap-loader-1.2 does not reproduce this issue (granted you have to install style-loader & bootstrap-sass in addition to the listed dependencies, but once that's done, Webpack runs without errors). Feel free to clone and run my implementation: https://ide.c9.io/

[2016-09-30 22:46] mxmtsk commented on #41
@Judahmeek Have a look at tools/webpack.config.js line 261, there is the entry point for the server config which is missing bootstrap-loader. if you add bootstrap-loader there (to solve the flash of unstyled content) it's throwing the error!

[2016-09-30 22:49] Judahmeek commented on #181
Yeah, Bootstrap-Loader v1 & v2 do pretty much the exact same thing. I honestly think your time might be better spent modifying your layout so such exact precision isn't such a large issue.

[2016-09-30 22:58] Judahmeek commented on #41
@mxmtsk So it does. I'll let you know once I have an answer for this.

[2016-10-01 02:53] Judahmeek commented on #41
@mxmtsk I think I've identified the cause: kriasoft/react-starter-kit#892

[2016-10-01 03:00] Judahmeek commented on #41
@crebuh Your externals function looks like it's probably also the issue. Throw a `console.log` in there to see what it catches.

[2016-10-01 06:21] FakhruddinAbdi commented on #41
@Judahmeek and @mxmtsk, both the error and the flash  of unstyled content has been solved in this PR already : https://github.com/shakacode/react-starter-kit-with-bootstrap-loader/pull/3

But it's not a permanent solution because it use isomorphic style loader to take the bootstrap-loader output and put it into the DOM directly.

I'm following your solution @Judahmeek .

[2016-10-02 14:02] nasreddineskandrani opened #186 "bootstrap style file not include in index.html"
i am upgrading my app from angular2 Rc4 to release version. I have a repo with the rc4 version, when i deploy i find out that bootstrap was include first in the index.html.

with the new project for upgrade its not included at all. Can't figure out why :S. I did all the steps in the documentation

notice that the boostraploader.js is include at the end of index.html ( in the script part )

do i ne

[2016-10-05 15:21] EnigmaticCode opened #189 "Bootstrap loader add ~28 seconds to build time."
Whenever I add in an import for bootstrap loader to my main entry point it adds ~28 seconds to the webpack build time.

Let me know if I can provide any additional information.

[2016-10-05 15:39] borysn commented on #185
@silveryiris I've been trying to work out a similar issue with moving to webpack 2.1.0-beta.23-25. I'm not exactly sure the problem is with bootstrap-loader, though the stack trace originates with the package. The issue could be stemming from loaders not ready for the new webpack configuration.

My particular error

[code]

Haven't been able to figure out yet what to do from here.

[2016-10-06 05:06] justin808 commented on #185
@Judahmeek Maybe the issue is dependent on the version of webpack? In order to fix this, we need a simple reproduction case.

[2016-10-06 05:07] justin808 commented on #185
@silveryiris @borysn If you can submit a PR for a fix, that would be great.

[2016-10-06 05:16] justin808 commented on #189
Please try to publish a minimal reproduction case to a public repo on github.

[2016-10-06 05:18] justin808 commented on #186
@nasreddineskandrani Please study the examples in the /examples directory. I think you just need to do some debugging.

[2016-10-06 05:20] justin808 commented on #181
@AnonymousCoward476 I don't think this issue is related to bootstrap-loader. I think it's related to the sass-loader.

[2016-10-06 05:20] #181 closed

[2016-10-06 05:20] #173 closed

[2016-10-06 18:13] AnonymousCoward476 commented on #181
@justin808 Thanks for looking.

[2016-10-06 19:49] borysn commented on #185
@justin808 I'm going to try and figure out a fix, but I'm having a hard time understanding what exactly is the issue here. The issue is definitely dependent on the webpack version, 2.1.0-beta.23-25 had breaking changes.

For the simple reproduction case, should I just grab the [basic example](https://github.com/shakacode/bootstrap-loader/tree/master/examples/basic) and make the webpack changes?

[2016-10-06 21:31] justin808 commented on #185
Yes! @borysn Perfect.

The issue with a fix is that it might break older webpack. Maybe, maybe not. Check out these notes: https://forum.shakacode.com/t/debugging-nodejs-and-webpack-loaders/142

[2016-10-06 21:58] AnonymousCoward476 commented on #181
In case anyone stumbles upon this in the future, I solved it by adding `precision=8` option to the `sass` loader in `.bootstraprc`:

[code]

[2016-10-08 19:20] borysn commented on #185
@justin808 I've been struggling to reproduce the issue with the basic example. Updating to webpack 2.1.0-beta.25 does not break the build. I'm scratching my head here a little. Could be a sign that the real cause of the errors may be related to other webpack configuration options? Not sure.

[2016-10-08 22:16] sky-coding commented on #172
@Judahmeek there is a duplicate `Tooltip` property on my plugins object that made it into the documentation, sorry about that.

[2016-10-09 07:59] mkontula opened #190 "Add your customizations to sass resourcers file"
When customizing Bootstrap's variables ($brand-primary etc..) to roll out a special look and feel, one might want to use these customized variables in component's styles. This might be totally trivial to more experienced designers, but **it might be worth to mention in the readme.md**. Add your pre-customizations to sass resources file and your pink $brand-primary is pink everywhere you need it.

[2016-10-09 08:27] justin808 commented on #190
@mkontula Please make a PR to the readme if you feel this is missing.

[2016-10-11 09:37] crebuh commented on #41
@Judahmeek

yes I need this function to import modules on the server-side. I'm using the angular-universal-starter project. I've tried to debug the function. When I include the bootstrap-loader like:

      entry: ['bootstrap-loader', './src/client']

I got 'bootstrap-loader' as request param within checkNodeImport. I can check for this and do some different like for other modules? Any advice on t

[2016-10-11 09:51] silveryiris commented on #185
Just getting back from the Taiwan national holidays.

I successed make the same error result after another small test this afternoon.

`at Object.resolveUrlLoader (PROJECT_LOCATION\node_modules\resolve-url-loader\index.js:38:55) `

This problem is caused by webpack 2 config with `resolve-url-loader`  for sure.

`console.log(loader.options)` in `function resolveUrlLoader` displayed only `context` i

[2016-10-13 05:57] Judahmeek commented on #41
@crebuh Assuming I'm interpreting it correctly, your checkNodeImport function externalizes every request that is not an absolute or relative path (so all module requests). Your options are to either request bootstrap-loader with an absolute or relative path, narrow your range of valid externalizable requests through regex, etc, or add the `bootstrap-loader` to some sort of exclusion list within th

[2016-10-17 16:06] borysn commented on #185
@silveryiris glad to hear that you got your issues resolved. Seems that it is definitely different from what I am experiencing.

@justin808 I'm going to open up a separate issue for my specific problem. Still trying to figure out what's going on.

[2016-10-17 16:15] borysn opened #191 ""Error: Path must be a string. Received undefined" updating to webpack 2.1.0-beta.25"
Thought my issue was related to another thread, but it seems they are separate, so I'm opening up this ticket. Still actively trying to figure out what exactly is happening here. There were some breaking changes between webpack 2.1.0-beta.23-25, and upgrading is producing an error from bootstrap-loader...

[code]

I am not completely sure that the issue is bootstrap-loader, I feel as though it may

[2016-10-17 17:38] borysn commented on #191
It looks like the file paths are being passed around fine. I've been setting up some console.log outputs in sass-loader/index.js:269-301

It appears there may be an issue with source map. If you notice below, we get the line `sourceMap: 'undefined/sass.map'`, this is comming from the sassOptions parameter which is passed with the onRender function.

Not sure exactly what that means for bootstrap-l

[2016-10-17 21:08] jsdevel commented on #161
Is there an answer for this?  I'm having a hard time getting bootstrap styles to load after user styles.

[2016-10-18 00:29] Judahmeek commented on #191
This probably has nothing to do with bootstrap-loader, other than we were the first loader in this chain. (I honestly am not sure why we listed in the stack trace, because path is throwing the error, and the path function throwing the error is the path.relative below)

Based off the stack trace, the fact that `...sass-loader/index.js:282:42` is `path.relative(self.options.context, resourcePath);`,

[2016-10-18 00:45] Ks89 commented on #191
I had the same issue. I fixed it adding this to my webpack.common.js:

plugins: [
(...)
new LoaderOptionsPlugin({
      debug: true,
      options: {
        context: __dirname,
        output: { path :  "./" },
        postcss: [autoprefixer],
        tslint: {
          emitErrors: false,
          failOnHint: false,
          resourcePath: 'src',
          formattersDirectory: "node_modules/tsl

[2016-10-18 18:17] JustDoItSascha opened #192 "_bootstrap-variables.scss is not in the SourceMap."
When I'm trying to run my webpack with angular2 in production config, I get this error:

[code]

when I have `devtool: 'source-map'` in my config. When I build the project without devtool, everything works fine. The `_bootstrap-variables.scss` is loaded via bootstrapCustomizations in `.bootstraprc`.

[2016-10-20 19:20] navarroaxel opened #193 "Two configFiles in the same webpack build is not working"
### Issue description

When I have 2 entries in my `webpack.config.js`, with a `configFilePath` and a particular bootstrap-loader configuration file, both entries compiles with the first configuration.
### Where can I see the bug?

Repository to expose the bug: https://github.com/navarroaxel/webpack-bootstrap. The repository has 2 webpacks builds to show the differences.
### Versions:

`node` 6.9.

[2016-10-20 19:22] justin808 commented on #193
@navarroaxel This is a case that is not officially supported. It's likely that there's some global variables used. If you could send a PR, much appreciated.

[2016-10-20 20:35] navarroaxel commented on #193
@justin808 Can you give me some guidelines?
Do you think this is hard for a ``first contribution``?
Is a huge refactor?

I'll try

[2016-10-20 22:01] justin808 commented on #193
My guess is that something is of global scope that shouldn't be.

[2016-10-22 23:26] lironess commented on #41
I'm also getting that message, node v6.7.0
is there any other version that can work for now (until it will be fixed) ?

[2016-10-23 00:22] Judahmeek commented on #41
@lironess If you are getting this error, it means that node is trying to require the webpack query in https://github.com/shakacode/bootstrap-loader/blob/master/loader.js

The cause of this is usually an overly broad externals definition in your webpack.config.

[2016-10-23 12:03] mxmtsk commented on #41
It's no working for me by following this PR (thanks @FakhruddinAbdi) https://github.com/shakacode/react-starter-kit-with-bootstrap-loader/pull/3

It doesn't work with the original bootstrap-loader sadly but maybe we're getting closer with a solution that may fit everybody

[2016-10-24 03:43] Judahmeek commented on #41
@mxmtsk I'm not sure why it wouldn't work for you. I just cloned the the repository here: https://ide.c9.io/judahmeek/rsbl, ran `git checkout add-bootstrap-loader-1.2`, ran `npm install`, ran `npm install react@^15.3.2`, ran `npm run start` and webpack worked without error.

[2016-10-24 07:59] LiTiang commented on #185
Hi, @silveryiris

i use u sol, but still not work for me ...

My proj is based on [angular2-webpack -starter](https://github.com/AngularClass/angular2-webpack-starter)

this is partial content of my **webpack.common.js** configuration

[code]

I still get **Module build failed: TypeError: Cannot read property 'path' of undefined**

Please help !

[2016-10-24 08:20] crebuh commented on #41
@Judahmeek

thx for the advise. Instead of loading bootstrap via the webpack config, I'm just requiring it in my app.node.module, which should included BS already on the server side. I'm doing the following:

     require('../node_modules/bootstrap-loader/lib/bootstrap.loader');

Now I'm getting the following message in the console, and it seems that the styles are also not inserted correctly. It'

[2016-10-24 09:00] silveryiris commented on #185
[code]

@LiTiang Sorry it's my bad , was miss typed the  https://github.com/shakacode/bootstrap-loader/issues/185#issuecomment-252864188

Move out the "context: __dirname" from `output` object like above code.

[2016-10-24 10:37] LiTiang commented on #185
THX, @silveryiris,

I finally solved the problem,

but encounter another problem ="= ...

anyway, thanks again

[2016-10-25 09:55] davidtran commented on #41
I have this issue on node v4.2.6

[2016-10-25 16:15] Judahmeek commented on #41
@crebuh That is weird, but you're not giving me enough information to debug this. According to http://stackoverflow.com/questions/37000273/critical-dependencies-the-request-of-a-dependency-is-an-expression-webpack, that error means that those require statements have variables for parameters instead of strings. You should be able to solve this with some debugging. If not, try this: https://github.c

[2016-10-25 16:17] Judahmeek commented on #41
@davidtran Show me your webpack config. This error only occurs when webpack is treating `bootstrap-loader` as an external dependency instead of as a loader. This is usually due to an overly broad exterbals definition: https://webpack.github.io/docs/configuration.html#externals

[2016-10-26 13:48] itPiligrim commented on #191
Same problem. Set "output" not work for me.

[2016-10-26 16:14] itPiligrim commented on #191
Answer this: [https://github.com/jtangelder/sass-loader/issues/285](https://github.com/jtangelder/sass-loader/issues/285)

`
plugins: [
    new LoaderOptionsPlugin({
...
       output: config.output,
....

    })
]

`

i.e. for me "output" must be set to root "LoaderOptionsPlugin".

[2016-10-27 02:09] justin808 commented on #191
@itPiligrim @Ks89 do we need a code PR or doc PR?

[2016-10-27 09:57] nappynapster commented on #191
I have the same problem, I already tired nodejs 5.11.1 and the latest version 6.9.1 -> same problem. I also tried the several webpack configs.
`"webpack": "2.1.0-beta.25"`
`"bootstrap": "4.0.0-alpha.4"`
`"bootstrap-loader": "^2.0.0-beta.12"`

[2016-10-27 10:20] Ks89 commented on #191
I'm using bootstrap-loader": "^2.0.0-beta.11" and webpack 2.1 Beta 25.
Also, I'm using bootstrap 4 alpha 5.

Really, I don't understand and I have no idea to try to help.
If you want I can try to create a skeleton project to test this, but you should wait this weekend.  I'm very busy now :(

[2016-10-27 11:25] nappynapster commented on #191
You can use this angular starter project as base here -> https://github.com/AngularClass/angular2-webpack-starter
Then I used this wiki tutorial here -> https://github.com/AngularClass/angular2-webpack-starter/wiki/How-to-use-Bootstrap-4-and-Sass-(and-jQuery) , but I doesn't include jquery and I used the newest version as I posted before.

[2016-10-27 11:35] nappynapster commented on #191
Okay no problem. Thank you that you take a look at this :)

[2016-10-27 20:03] borysn commented on #191
sorry I've been mia on this guys, I should be able to make some time to continue looking at this during the weekend. I recall trying the output fix, and not having that resolve the issue, but I still have to take another look at it.

[2016-10-29 22:03] Ks89 commented on #191
I created this small project as an example: https://github.com/Ks89/Angular2-webpack2-skeleton

Try it.

I'm using macOs Sierra and Nodejs 7.0.0

[2016-10-30 23:01] justin808 commented on #172
@sky-coding @Andrey-Pavlov @Judahmeek we need some agreement on the preferred solution. I'll release once the 3 of you agree, or if we get more consensus from other community participants.

[2016-10-31 01:18] justin808 commented on #193
Shipped in 1.3.0. The change to 2.x (master) is not completed. It can be found at #195. We'll keep this PR open until #195 is closed. @navarroaxel if you can help with that, much appreciated by the community! Great work on #194.

[2016-10-31 23:30] Ks89 opened #196 "WINDOWS 10 - Cannot find module './lib/bootstrap.loader!./no-op.js"
Hi. I'm trying to test one of my projects on Windows and the result is:

![error](https://cloud.githubusercontent.com/assets/6057207/19874991/862c1e7e-9fc9-11e6-8cdd-1d45a6a5be21.png)

It's the same error fixed some weeks ago adding
[code]

The same project is perfect on macOs and Ubuntu.
On Windows 10, I receive some errors,  but the project itself it is still working. It's strange.

I'm using No

[2016-11-01 00:47] djnaumov commented on #196
I have the same issue. I found info about, what the BS4 team ["Strip out UMD & CJS in favor of ES6 modules"](https://github.com/twbs/bootstrap/pull/20072).

[2016-11-01 09:45] regenrek commented on #191
Same Problem here.

`[Function: root]
 10% building modules 4/4 modules 0 active http://localhost:3000/
webpack result is served from /
content is served from /Users/harambe/webwork/mjang2/src
404s will fallback to /index.html
 69% building modules 809/810 modules 1 active ...ode_modules/bootstrap-loader/no-op.jsTypeError: Path must be a string. Received undefined
    at assertPath (path.js:7:11)

[2016-11-01 18:36] adstep commented on #191
Encountering this issue on Win10 with:

"webpack": "2.1.0-beta.25"
"bootstrap": "^3.3.7"
"bootstrap-loader": "^1.3.0"

[2016-11-02 03:24] Judahmeek commented on #191
@Ks89 When I updated the version of `bootstrap-loader` in your package.json and then ran `npm install`, npm installed `bootstrap-loader@2.0.0-exports.1`. When I installed the proper version and then ran `npm run start`, I had no errors.

@regenrek ```...ode_modules/bootstrap-loader/no-op.jsTypeError: Path must be a string. Received undefined
    at assertPath (path.js:7:11)**
    at Object.relativ

[2016-11-02 07:39] Ks89 commented on #191
@Judahmeek exactly. On Mac OS and Linux it's working very well. On Windows I found this issue #196 (but it's not a blocking issue)

[2016-11-02 11:18] ericjamesjohnson672 commented on #196
Yup.... same thing here. Sheesh.

[2016-11-02 15:28] blowsie opened #197 "preBootstrapCustomizations not working for some variables"
Certain variables within my customisation file don't seem to work, for example:
`$brand-primary` fails, `$btn-primary-bg` works. Am I doing something wrong or is this a bug?

---

Version: 2.0.0-beta.11
OS: Windows 10

`.bootstraprc` extract
[code]

`bootstrap_variables.scss`
[code]

[2016-11-02 15:48] blowsie commented on #190
@mkontula  does modifying $brand-primary in your customisations file work?

[2016-11-02 15:50] Judahmeek commented on #196
I don't understand how bootstrap-loader can be trying to resolve script paths with `**/umd/**` in them. We removed those references a while back. https://github.com/shakacode/bootstrap-loader/blame/master/src/utils/createBootstrapRequire.js#L15

[2016-11-03 18:09] sky-coding commented on #172
@justin808 I didn't realize there was a disagreement. Using `ProvidePlugin` or `imports-loader` is the correct way of consuming a non-modular library, see https://github.com/webpack/docs/wiki/shimming-modules

Their example shows shimming `jQuery` using `ProvidePlugin`, implying you wouldn't expect a jQuery plugin/loader to attempt to configure your environment for you. I'd also be okay with `boot

[2016-11-04 12:15] manar-mk commented on #9
Hi,
I am a newbee in webpack, could you help me with loading this module correctly?

I added
[code]
 to to my webpack conf file and got a bunch of errors with .svg files in project like that
`...  Module not found: Error: Can't resolve 'img/icons/default-hover.svg'...`

However, if I use
[code]
It loads, and no errors with .svg, but the bootstrap module don't go to my .css file, only after it as <

[2016-11-05 12:12] Redigast13 opened #199 "Can't resolve './bootstrap-styles' and Can't resolve './bootstrap-scripts'"
I'm trying to use bootstrap-loader in [this angular 2 project](https://github.com/AngularClass/angular2-webpack-starter). webpack compilation outputs errors:

[code]

Steps to reproduce:

1. clone `https://github.com/AngularClass/angular2-webpack-starter`
2. `npm install`
3. `npm install bootstrap-webpack --save`
4. `npm install less-loader less --save-dev`
5. add line: `require("bootstrap-webpack

[2016-11-05 22:57] rloisel commented on #191
@Judahmeek It seems there is an issue with the npm package. I'm trying to install` "bootstrap-loader": "^2.0.0-beta.11"`, in my package.json and npm install the `bootstrap-loader@2.0.0-exports.1` version.

[2016-11-06 13:26] Andrey-Pavlov commented on #191
Same issue with [https://github.com/AngularClass/angular2-webpack-starter](https://github.com/AngularClass/angular2-webpack-starter). Any workaround?

[2016-11-06 15:40] Andrey-Pavlov commented on #191
Ok. I've fixed it for https://github.com/AngularClass/angular2-webpack-starter.

Frequently errors:

- resolve-url-loader, 'path' of undefined
- Path must be a string. Received undefined

You need to add next rows to LoaderOptionPlugin
**context: helpers.root(),
output: { path: helpers.root('dist') },**

[code]

Spend 6 hours to resolve that 2 issues. :(

[2016-11-06 21:25] mikaelguillin opened #200 "Add extractStylesOptions param in the .bootstraprc"
It would be great if we could set options of the extract plugin via an `extractStylesOptions` parameter in the .bootstraprc config file.

[2016-11-07 20:09] Ks89 commented on #196
Damn!
Now I have the same problem with macOS. How is it possible? My bootstrap-loader's version is the same. I executed `npm i`, ok, but the latest release is still beta12.

Now to build my project I need to remove `--display-error-details` from the webpack command.

I'm really confused. Is there a problem with bootstrap-loader's versions?

[code]

[2016-11-08 00:45] Judahmeek commented on #196
@Ks89, can you confirm that `bootstrap-loader@2.0.0-beta.12` is actually the installed module? See https://github.com/shakacode/bootstrap-loader/issues/191#issuecomment-258647872

[2016-11-08 00:50] Ks89 commented on #196
@Judahmeek you are right.
I removed the ^ to obtain beta 12.
Thank u.

[2016-11-08 00:53] Judahmeek commented on #196
@Ks89 Glad to help! Feel free to close this issue.

[2016-11-08 00:53] #196 closed

[2016-11-14 03:34] #185 closed

[2016-11-14 05:16] silveryiris opened #201 "Webpack v2.1.0-beta.26 - Breaking changes with loaders"
The shorten express of loader names now conflicts with Webpack v2.1.0-beta.26 changes on many loaders.

I've dealt with this with a `bootstrap-loader` module hot fix.

`.bootstraprc`
[code]

And 2 files on `bootstrap-loader` module

`bootstrap-loader\lib\utils\buildExtractStylesLoader.js`
[code]

`bootstrap-loader\lib\utils\processStyleLoaders.js`
[code]

Just add the "-loader" word behind the loa

[2016-11-14 05:20] justin808 commented on #201
Can you submit a PR? CC: @Judahmeek

[2016-11-14 06:16] silveryiris commented on #201
@justin808 I would love to submit a PR , but there is a not solved issue with https://github.com/shakacode/bootstrap-loader/issues/201#issue-189030570

The `sass`  will encounter the same error if  not add the "-loader" word behind the loader name in `.bootstraprc`

The loader name of sass in `bootstrap-loader` is directly returned by
`sassLoaderRegExp.test(loader)`

So we have to enforced the `xx

[2016-11-14 10:19] bigmgreen opened #203 "css rules in the style tag"
hi :
 I used "import 'bootstrap-loader'", but css rules in the style tag by webpack.  how can I make it to my style.css
thanks

[2016-11-15 04:48] justin808 commented on #203
you probably need the extract-text-plugin.

[2016-11-15 04:48] #203 closed

[2016-11-15 04:49] justin808 commented on #200
Please share an example of what you're thinking.

[2016-11-15 04:50] justin808 commented on #199
You might be having issues with windows paths. If you can submit a PR demonstrating the issue and a fix, I'll merge it. I bet there's some mistake in some config, however.

[2016-11-15 04:52] justin808 commented on #197
@blowsie Sounds like you're putting something like $brand-primary in the boostrapCustomizations. It's too late at that point. You need that in the preBootstrapCustomizations.

You also cannot use the same file for both. That makes no sense.

[2016-11-15 04:52] #193 closed

[2016-11-15 04:54] justin808 commented on #192
You'll have to do some debugging to sort this out.

[2016-11-15 04:56] justin808 commented on #190
@mkontula @blowsie The reason we have pre-customizations is that bootstrap's mixins create derived Sass variables. If you want to override these, you have to do it in the "customizations", not the "pre-customizations".

[2016-11-15 04:56] #190 closed

[2016-11-15 11:28] blowsie commented on #197
@justin808 , I used the same file for both to prove a point that it does not work in `preBootstrapCustomizations` or `bootstrapCustomizations` . This is still an issue for me, can we please reopen?

[2016-11-15 18:05] justin808 commented on #197
1. Please put in debugging in those files: https://www.sitepoint.com/using-sass-error-warn-and-debug-directives/
2. Please use invalid file names to see if you get an obvious error message.
3. Please only use the appropriate one location for the file. $brand-primary absolutely must be defined in the pre file. Please see the sass files that are loaded with bootstrap from your bootstrap installation

[2016-11-16 06:22] kevinzwhuang commented on #201
I opened a PR, #201, which should handle the workaround that @silveryiris proposed as well as loaders coming from `.bootstraprc`, even in short form.

[2016-11-16 07:53] justin808 commented on #201
We're close to getting the PR from @kevinzwhuang merged!

[2016-11-16 14:04] timarney opened #206 "Integration with react-create-app"
@shakacode wondering if you would have any interest in working with me to see if we could roll an example Integration using https://github.com/timarney/react-app-rewired .

Looks to me like it would be very feasible... here's a simple example of using Sass with react-create-app (no eject, no fork) https://github.com/timarney/react-app-rewired/blob/master/examples/sass.md

[2016-11-16 16:01] blowsie commented on #197
Thanks I will do the above and report back in the next few days

[2016-11-17 02:52] alex88 opened #207 "Bootstrap 4 not being loaded in html"
I've installed `bootstrap-loader` along with `bootstrap` beta 4.

My project derives from https://github.com/preboot/angular2-webpack, I've included `bootstrap-loader` in the `vendor.ts` file, this is my bootstraprc

[code]

and this is the log:

[code]

however, no css is present in the html, any clue?

Update: I've tried also with the https://github.com/shakacode/bootstrap-loader/issues/201 bran

[2016-11-17 04:16] justin808 commented on #207
Why would you expect there to be CSS in the html?

Webpack CSS will either be inline with the JS, or it will be exported using the extract-text-plugin.

[2016-11-17 04:16] #207 closed

[2016-11-17 04:17] justin808 commented on #206
@timarney **GREAT IDEA!** Please submit a PR and let's include this!

[2016-11-17 04:19] alex88 commented on #207
@justin808 sorry, I expect the css to be included in the page, either in js or css if extract styles is true, however no css is loaded

OT: can you have a look at https://github.com/shakacode/font-awesome-loader/pull/5 since you're a member of the same group?

[2016-11-17 04:28] justin808 commented on #207
@alex88 I just pushed 1.0.1 of the font-awesome-loader. Please let me know ASAP if it works OK as I did not test the change! Thanks!

[2016-11-17 04:33] alex88 commented on #207
@justin808 seems to solve the issue with webpack beta 26, I've an error but I think it's not because of the loader, but how I process sass files in `node_modules` folder, I'll confirm you as soon as I fix the issue with sass

[2016-11-17 04:41] alex88 commented on #207
@justin808 yeah the issue was with my config, the PR fixed the issue with webpack beta 26

[2016-11-17 14:17] blowsie commented on #197
Split into two files.
[code]
---
bootstrap_variables_pre.scss
[code]
bootstrap_variables_post.scss
[code]
---

### 1.
Debug Info
[code]
### 2.
Failed when i changed the file names

### 3.
libs.js
[code]

---
[code]

[2016-11-17 14:30] ohenrik commented on #185
@LiTiang What was your final solution to this?

[2016-11-18 05:51] #201 closed

[2016-11-19 17:00] lequy1010 commented on #48
You should done my guideline:
1. Add bellow source into Gemfile
[code]
2. Run command:
`bundle install`
3. Add this line after jQuery in application.js.
[code]
4. Restart rails server.

[2016-11-19 17:59] Judahmeek commented on #201
@silveryiris just add `resolveLoader: {moduleExtensions : ['-loader']},` to your webpack config.

[2016-11-21 14:24] timarney commented on #206
Okay - I'm going to close this and I'll file a PR when I have something.

[2016-11-21 14:24] #206 closed

[2016-11-22 07:49] stephanwilliams opened #211 "createUserImport should pass an absolute path to webpack.addDependency"
I'm using bootstrap-loader 1.3.0 and webpack 1.13.3.

In src/utils/createUserImport.js, `addDependency` is called with a path relative to the current module context, instead of an absolute file path like webpack expects.

This was causing `webpack --watch` to rebuild bootstrap-loader on every file change - after a bit of mucking around with webpack, it seems that to determine whether a rebuild is

[2016-11-22 08:28] justin808 commented on #211
@stephanwilliams This sounds like a win.

[2016-11-22 16:32] sattaman commented on #206
@timarney Can you post an update here when you do? i've just had to eject to get this working

[2016-11-22 18:46] Kamshak commented on #191
@Andrey-Pavlov Would you have a repo with the seed using bootstrap4 like this? I've been trying for a few hours now but very new to bootstrap and copy pasting your solution into webpack.common.js still causes the

[code]
for me

[2016-11-22 20:54] wzup commented on #9
@justin808
What is the difference between
https://github.com/shakacode/sass-resources-loader and https://github.com/jtangelder/sass-loader

[2016-11-23 01:20] alvipeo opened #213 "Webpack 2 beta.27 - It's no longer allowed to omit the '-loader' prefix when using loaders."
Using bootstrap-loader in this repo https://github.com/qdouble/angular-webpack2-starter/tree/minimal, which uses Webpack 2 beta 27. And when I build I get this error:

Module not found: Error: Can't resolve 'sass' in 'C:\Users\Alex\Documents\Visual Studio 2015\Projects\UziNg2\node_modules\bootstrap-loader'
BREAKING CHANGE: It's no longer allowed to omit the '-loader' prefix when using loaders.

[2016-11-23 02:22] sasidhar commented on #213
@alvipeo Are you using `.bootstraprc`?
If yes, make sure we have `-loader` suffix for entires under `styleLoaders` as shown below
[code]

[2016-11-23 02:56] justin808 commented on #9
@wzup The sass-resources-loader is designed for setting sass variables when used with css-modules.

[2016-11-23 04:11] sasidhar commented on #191
@Kamshak I came across same issue with [Angular2-webpack-starter](https://github.com/AngularClass/angular2-webpack-starter) and with the following I fixed it. I am using Bootstrap 3.

- Make sure we are using `bootstrap-loader@2.0.0-beta.15`. When I had `"bootstrap-loader": "^2.0.0-beta.15"` entry in my `package.json` it is still installing `2.0.0-exports.1`. So, I fixed it by remove `^` in the ve

[2016-11-23 04:29] sasidhar opened #214 "2.0.0-exports.1 is installed when requested for ^2.0.0-beta.15"
I have following entry in my package.json
[code]
Expecting `2.0.0-beta.15`, as it is latest. But npm is installing old version : `2.0.0-exports.1`

May be it is a good idea to deprecate this version with a message to upgrade to latest one?

[2016-11-23 05:08] Abhijith-Nagaraja commented on #191
@sasidhar : This is not an issue and you don't need disable SassSourceMap and ResolveUrl Loaders.... Since you are using the Angular2-webpack-starter, you need to add the following in webpack.dev.config, webpack.prod.config and other environment files. Remember, changing in webpack.common.config won't resolve the issue...

[code]

[2016-11-23 05:09] justin808 commented on #214
Thanks. I ran this command.

`npm deprecate bootstrap-loader@"2.0.0-exports.1" "See beta versions"`

[2016-11-23 05:09] #214 closed

[2016-11-23 05:09] justin808 commented on #213
@alvipeo @sasidhar can we close this one?

[2016-11-23 10:15] krasnyuk commented on #191
Finally it's help. Thanks a lot!

[2016-11-23 10:17] krasnyuk commented on #191
@Abhijith-Nagaraja
Thanks a lot!!!!! It's finally helped!

[2016-11-23 10:20] Kamshak commented on #191
@sasidhar Thanks!

@Abhijith-Nagaraja finally, it works! Thanks a lot!

[2016-11-23 13:04] alvipeo commented on #213
@sasidhar No, I don't. Can I fix this somehow without .bootstraprc ?

[2016-11-23 15:04] sasidhar commented on #213
Which version of `bootstrap-loader` are you using? Can you share your `package.json`'s `bootstrap-loader` entry? There was some issue with the `bootstrap-loader` versions as mentioned here : https://github.com/shakacode/bootstrap-loader/issues/214

[2016-11-23 23:25] alvipeo commented on #213
I 'npm uninstall bootstrap-loader', then 'npm install bootstrap-loader@latest', which fixed the error. Thanks!

(though, I got another one, probably not related):

if you have any idea on that, please share. Otherwise, close this. Thanks!!

[2016-11-23 23:25] #213 closed

[2016-11-23 23:26] #211 closed

[2016-11-26 11:21] timarney commented on #206
@sattaman @justin808  I might have time to try this late next week.

Just so I fully understand given I haven't used this repo before...

Given a fresh CRA app with full access to the webpack config.

**What would be the steps to get it up and running?.**

[code]

In **App.js** (until CRA uses Webpack 2)
[code]

Mod the **config** to allow usage of Sass see - https://github.com/timarney/react-app-

[2016-11-26 21:45] justin808 commented on #206
That's possibly right. Be sure to check the README on the master or v1 branches, depending on if you are using webpack v2. I'm really excited to get out there!

I'm opening this ticket to let the community know that we're working on it and that we want to get this done within the next few weeks!

[2016-11-27 15:55] kjartanvalur opened #217 "Install with Angular-CLI"
What is the recommended way of installing bootsrap-loader with angular-cli?

[2016-11-28 06:59] alex88 commented on #207
@justin808 about the bootstrap issue, I've included `import 'bootrstrap-loader' into my js, shouldn't it include the css on the page?

[2016-11-28 09:10] kjartanvalur commented on #217
I´m using Angular CLI v1.0.0-beta.21

[2016-11-30 09:18] San4oPanso opened #218 "Breaking changes in webpack: 'style-loader' instead of 'style'"
Hi @shakacode,

There is breaking changes with webpack  2.1.0-beta.27 or earlier. At 2.1.0-beta.0 everything fine. Seems like it is small issue

[code]
Same error by require('bootstrap-loader') and by using on entrypoint

webpack 2.1.0-beta.27
node v7.2.0
Thanks

[2016-11-30 09:29] 4k commented on #218
https://github.com/shakacode/bootstrap-loader/blob/master/README.md#styleloaders

[2016-11-30 15:33] folmert commented on #218
Had same issue. Fixed by installing latest beta:
`npm install --save-dev bootstrap-loader@2.0.0-beta.16`
instead latest stable:
`npm install --save-dev bootstrap-loader`

[2016-11-30 16:26] folmert opened #219 "Module build failed: ReferenceError: document is not defined"
When I run `webpack` it returns:

[code]

My `package.json`:
[code]

I use `bootstraprc` listed as basic example in this repo.

[2016-11-30 16:42] folmert commented on #219
Strange, but the error is gone when I updated bootstrap-loader to newest version:
`npm install --save-dev bootstrap-loader@2.0.0-beta.16`

[2016-12-01 04:06] Judahmeek commented on #219
@justin808, this issue can be closed. Probably related to the name collision that happens with `"bootstrap-loader": "^2.0.0-beta.X`, which leads npm to installing `@2.0.0-exports.1` (see https://github.com/shakacode/bootstrap-loader/issues/191#issuecomment-262431416, also I can personally confirm this). Any chance we can remove `@2.0.0-exports.1` from npm or rename it?